In [9]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

test_data = pd.read_csv("Test_data.csv")
test_data

train_data = pd.read_csv("Training_data.csv")
train_data

carparks = np.load('carpark_numbers_cbd_area.npy')

In [10]:
train_data["update_datetime"] = pd.to_datetime(train_data["update_datetime"])
train_data["month"] = train_data["update_datetime"].dt.month

sept_data = train_data.groupby("month").get_group(9)

In [12]:
all_data = pd.DataFrame()

for carpark in carparks:
    
    print("Getting sept data agg for ", carpark)
    sept_data_1 = sept_data[sept_data['carpark_number'] == carpark]
    data = pd.DataFrame()
    sept_data_agg = pd.DataFrame()

    sept_data_daily = sept_data_1.groupby("day", as_index = False)
    hours = []
    for day in range(1, len(sept_data_daily.groups.keys()) + 1):
        for hour in range(0, 24):
            hours.append(24*(day-1) + hour)

    for day in sept_data_daily.groups.keys():
        day_data = sept_data_daily.get_group(day)
        hourly_data_day = day_data.groupby('hour', as_index = False)['percent_lots_available'].mean()

        hourly_data = []
        hour = []
        for i in range(0, 24):
            hour.append(i)
            value = np.NaN if hourly_data_day[hourly_data_day['hour'] == i]['percent_lots_available'].empty \
            else hourly_data_day[hourly_data_day['hour'] == i]['percent_lots_available'].iloc[0]
            hourly_data.append(value)

        data['hour'] = hour
        data['percent_lots_available'] = hourly_data
        data['day'] = day
        sept_data_agg = sept_data_agg.append(data, ignore_index=True)
        
    sept_data_agg['carpark_number'] = carpark

    sept_data_agg.interpolate(method='linear', limit_direction='both', inplace = True)

    sept_data_agg['lag_1'] = sept_data_agg['percent_lots_available'].shift(1)
    sept_data_agg['lag_168'] = sept_data_agg['percent_lots_available'].shift(168)
    
    
    print(sept_data_agg)
    
    print("Getting oct data agg for ", carpark)
    
    test_data_1 = test_data[test_data['carpark_number'] == carpark]
    data = pd.DataFrame()
    test_data_agg = pd.DataFrame()

    test_data_daily = test_data_1.groupby("day", as_index = False)
    hours = []
    for day in range(1, len(test_data_daily.groups.keys()) + 1):
        for hour in range(0, 24):
            hours.append(24*(day-1) + hour)

    for day in test_data_daily.groups.keys():
        day_data = test_data_daily.get_group(day)
        hourly_data_day = day_data.groupby('hour', as_index = False)['percent_lots_available'].mean()

        hourly_data = []
        hour = []
        for i in range(0, 24):
            hour.append(i)
            value = np.NaN if hourly_data_day[hourly_data_day['hour'] == i]['percent_lots_available'].empty \
            else hourly_data_day[hourly_data_day['hour'] == i]['percent_lots_available'].iloc[0]
            hourly_data.append(value)
        
        data['carpark_number'] = carpark
        data['hour'] = hour
        data['percent_lots_available'] = hourly_data
        data['day'] = day
        test_data_agg = test_data_agg.append(data, ignore_index=True)
        
    test_data_agg['carpark_number'] = carpark

    test_data_agg.interpolate(method='linear', limit_direction='both', inplace = True)

    test_data_agg['lag_1'] = test_data_agg['percent_lots_available'].shift(1)
    test_data_agg['lag_168'] = test_data_agg['percent_lots_available'].shift(168)

    test_data_agg['lag_1'].iloc[0] = sept_data_agg.tail(1)['percent_lots_available']
    test_data_agg['lag_168'].iloc[:168] = sept_data_agg.tail(168)['percent_lots_available']
    
    print(test_data_agg)
    
    all_data = all_data.append(test_data_agg)
    
all_data

Getting sept data agg for  AR5M
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               52.505967    1           AR5M        NaN        NaN
1       1               52.505967    1           AR5M  52.505967        NaN
2       2               54.256165    1           AR5M  52.505967        NaN
3       3               57.756563    1           AR5M  54.256165        NaN
4       4               57.756563    1           AR5M  57.756563        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               54.892601   30           AR5M  54.892601  54.653938
716    20               54.892601   30           AR5M  54.892601  54.653938
717    21               54.892601   30           AR5M  54.892601  54.653938
718    22               54.892601   30           AR5M  54.892601  54.653938
719    23               54.892601   30           AR5M  54.892601  54.653938

[720 rows x 6 columns]
Getting oct data agg for  AR5M
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             AR5M     0               54.892601    1  54.892601  54.653938
1             AR5M     1               54.892601    1  54.892601  54.653938
2             AR5M     2               54.892601    1  54.892601  54.653938
3             AR5M     3               56.085919    1  54.892601  54.653938
4             AR5M     4               56.085919    1  56.085919  54.653938
..             ...   ...                     ...  ...        ...        ...
739           AR5M    19               41.766110   31  41.766110  54.415274
740           AR5M    20               41.766110   31  41.766110  54.415274
741           AR5M    21               41.766110   31  41.766110  54.415274
742           AR5M    22               41.766110   31  41.766110  54.415274
743           AR5M    23               41.766110   31  41.766110  54.415274

[744 rows x 6 columns]
Getting sept data agg for  AR7L
     hour  percent_lots_available  day carpark_number       lag_1  lag_168
0       0               75.000000    1           AR7L         NaN      NaN
1       1               75.000000    1           AR7L   75.000000      NaN
2       2               75.000000    1           AR7L   75.000000      NaN
3       3               75.000000    1           AR7L   75.000000      NaN
4       4               75.000000    1           AR7L   75.000000      NaN
..    ...                     ...  ...            ...         ...      ...
715    19                0.000000   30           AR7L   12.500000      0.0
716    20                0.000000   30           AR7L    0.000000      0.0
717    21               58.333333   30           AR7L    0.000000      0.0
718    22              100.000000   30           AR7L   58.333333      0.0
719    23              100.000000   30           AR7L  100.000000      0.0

[720 rows x 6 columns]
Getting oct data agg for  AR7L
    carpark_number  hour  percent_lots_available  day       lag_1    lag_168
0             AR7L     0               91.666667    1  100.000000   0.000000
1             AR7L     1              100.000000    1   91.666667   0.000000
2             AR7L     2              100.000000    1  100.000000   0.000000
3             AR7L     3              100.000000    1  100.000000   0.000000
4             AR7L     4               87.500000    1  100.000000   0.000000
..             ...   ...                     ...  ...         ...        ...
739           AR7L    19                0.000000   31    0.000000  58.333333
740           AR7L    20                0.000000   31    0.000000  41.666667
741           AR7L    21               93.750000   31    0.000000  87.500000
742           AR7L    22              100.000000   31   93.750000  87.500000
743           AR7L    23              100.000000   31  100.000000  83.333333

[744 rows x 6 columns]
Getting sept data agg for  AR7M
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               98.983051    1           AR7M        NaN        NaN
1       1               98.983051    1           AR7M  98.983051        NaN
2       2               98.983051    1           AR7M  98.983051        NaN
3       3               98.983051    1           AR7M  98.983051        NaN
4       4               98.983051    1           AR7M  98.983051        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               54.915254   30           AR7M  55.593220  52.203390
716    20               54.350282   30           AR7M  54.915254  48.135593
717    21               48.926554   30           AR7M  54.350282  47.118644
718    22               45.649718   30           AR7M  48.926554  44.293785
719    23               42.372881   30           AR7M  45.649718  41.129944

[720 rows x 6 columns]
Getting oct data agg for  AR7M
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             AR7M     0               39.435028    1  42.372881  40.338983
1             AR7M     1               38.644068    1  39.435028  40.000000
2             AR7M     2               38.305085    1  38.644068  40.000000
3             AR7M     3               38.644068    1  38.305085  39.887006
4             AR7M     4               38.983051    1  38.644068  39.774011
..             ...   ...                     ...  ...        ...        ...
739           AR7M    19               51.525424   31  59.096045  48.700565
740           AR7M    20               45.932203   31  51.525424  43.502825
741           AR7M    21               45.677966   31  45.932203  44.576271
742           AR7M    22               42.146893   31  45.677966  41.440678
743           AR7M    23               39.491525   31  42.146893  39.209040

[744 rows x 6 columns]
Getting sept data agg for  AV1
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               75.270758    1            AV1        NaN        NaN
1       1               75.691937    1            AV1  75.270758        NaN
2       2               75.571600    1            AV1  75.691937        NaN
3       3               74.368231    1            AV1  75.571600        NaN
4       4               73.766546    1            AV1  74.368231        NaN
..    ...                     ...  ...            ...        ...        ...
715    19                2.436823   30            AV1   2.346570   2.286402
716    20               29.843562   30            AV1   2.436823  20.336943
717    21               58.965102   30            AV1  29.843562  56.077016
718    22               70.998797   30            AV1  58.965102  74.368231
719    23               74.368231   30            AV1  70.998797  79.422383

[720 rows x 6 columns]
Getting oct data agg for  AV1
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              AV1     0               76.895307    1  74.368231  82.490975
1              AV1     1               76.654633    1  76.895307  81.859206
2              AV1     2               76.895307    1  76.654633  81.227437
3              AV1     3               76.173285    1  76.895307  81.227437
4              AV1     4               75.210590    1  76.173285  81.107100
..             ...   ...                     ...  ...        ...        ...
475            AV1    19               81.829122   31  74.969916  15.764140
476            AV1    20               99.638989   31  81.829122  43.321300
477            AV1    21               76.534296   31  99.638989  61.131167
478            AV1    22               81.829122   31  76.534296  70.938628
479            AV1    23               85.559567   31  81.829122  74.849579

[480 rows x 6 columns]
Getting sept data agg for  BM1
     hour  percent_lots_available  day carpark_number      lag_1   lag_168
0       0               25.000000    1            BM1        NaN       NaN
1       1               16.666667    1            BM1  25.000000       NaN
2       2               13.888889    1            BM1  16.666667       NaN
3       3               22.777778    1            BM1  13.888889       NaN
4       4               26.111111    1            BM1  22.777778       NaN
..    ...                     ...  ...            ...        ...       ...
715    19                2.500000   30            BM1  18.333333  2.777778
716    20                2.222222   30            BM1   2.500000  1.666667
717    21               13.333333   30            BM1   2.222222  5.555556
718    22               11.111111   30            BM1  13.333333  1.666667
719    23               22.500000   30            BM1  11.111111  9.166667

[720 rows x 6 columns]
Getting oct data agg for  BM1

    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              BM1     0               13.888889    1  22.500000  20.000000
1              BM1     1               13.888889    1  13.888889  12.500000
2              BM1     2               18.333333    1  13.888889   6.111111
3              BM1     3               26.666667    1  18.333333  15.000000
4              BM1     4               30.000000    1  26.666667  18.888889
..             ...   ...                     ...  ...        ...        ...
739            BM1    19               12.083333   31  21.666667   0.000000
740            BM1    20                5.000000   31  12.083333  10.000000
741            BM1    21               27.777778   31   5.000000  17.777778
742            BM1    22               20.000000   31  27.777778  22.777778
743            BM1    23               20.833333   31  20.000000  29.444444

[744 rows x 6 columns]
Getting sept data agg for  BM10
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               85.433333    1           BM10        NaN        NaN
1       1               85.033333    1           BM10  85.433333        NaN
2       2               85.033333    1           BM10  85.033333        NaN
3       3               85.100000    1           BM10  85.033333        NaN
4       4               85.125000    1           BM10  85.100000        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               89.916667   30           BM10  90.800000  90.450000
716    20               88.512500   30           BM10  89.916667  89.825000
717    21               88.400000   30           BM10  88.512500  88.983333
718    22               88.133333   30           BM10  88.400000  87.800000
719    23               87.150000   30           BM10  88.133333  87.012500

[720 rows x 6 columns]
Getting oct data agg for  BM10
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             BM10     0               86.483333    1  87.150000  86.200000
1             BM10     1               85.933333    1  86.483333  85.750000
2             BM10     2               85.625000    1  85.933333  85.550000
3             BM10     3               85.500000    1  85.625000  85.616667
4             BM10     4               85.433333    1  85.500000  85.616667
..             ...   ...                     ...  ...        ...        ...
739           BM10    19               89.683333   31  90.916667  89.950000
740           BM10    20               88.912500   31  89.683333  89.033333
741           BM10    21               88.200000   31  88.912500  88.675000
742           BM10    22               87.466667   31  88.200000  87.675000
743           BM10    23               86.950000   31  87.466667  86.666667

[744 rows x 6 columns]
Getting sept data agg for  BM13
     hour  percent_lots_available  day carpark_number      lag_1   lag_168
0       0                 0.00000    1           BM13        NaN       NaN
1       1                 0.00000    1           BM13   0.000000       NaN
2       2                 0.00000    1           BM13   0.000000       NaN
3       3                 0.00000    1           BM13   0.000000       NaN
4       4                 0.00000    1           BM13   0.000000       NaN
..    ...                     ...  ...            ...        ...       ...
715    19                10.25641   30           BM13  14.814815  2.136752
716    20                 0.00000   30           BM13  10.256410  0.000000
717    21                 0.00000   30           BM13   0.000000  0.000000
718    22                 0.00000   30           BM13   0.000000  0.000000
719    23                 0.00000   30           BM13   0.000000  0.000000

[720 rows x 6 columns]
Getting oct data agg for  BM13
    carpark_number  hour  percent_lots_available  day      lag_1  lag_168
0             BM13     0                0.000000    1   0.000000      0.0
1             BM13     1                0.000000    1   0.000000      0.0
2             BM13     2                0.000000    1   0.000000      0.0
3             BM13     3                0.000000    1   0.000000      0.0
4             BM13     4                0.000000    1   0.000000      0.0
..             ...   ...                     ...  ...        ...      ...
739           BM13    19                1.709402   31  13.105413      0.0
740           BM13    20                0.000000   31   1.709402      0.0
741           BM13    21                0.000000   31   0.000000      0.0
742           BM13    22                0.000000   31   0.000000      0.0
743           BM13    23                0.000000   31   0.000000      0.0

[744 rows x 6 columns]
Getting sept data agg for  BM14
     hour  percent_lots_available  day carpark_number      lag_1  lag_168
0       0               29.787234    1           BM14        NaN      NaN
1       1               29.787234    1           BM14  29.787234      NaN
2       2               29.787234    1           BM14  29.787234      NaN
3       3               29.787234    1           BM14  29.787234      NaN
4       4               29.787234    1           BM14  29.787234      NaN
..    ...                     ...  ...            ...        ...      ...
715    19               29.787234   30           BM14  29.787234     50.0
716    20               29.787234   30           BM14  29.787234     50.0
717    21               29.787234   30           BM14  29.787234     50.0
718    22               29.787234   30           BM14  29.787234     50.0
719    23               29.787234   30           BM14  29.787234     50.0

[720 rows x 6 columns]
Getting oct data agg for  BM14
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             BM14     0               29.787234    1  29.787234  50.000000
1             BM14     1               29.787234    1  29.787234  50.000000
2             BM14     2               29.787234    1  29.787234  50.000000
3             BM14     3               29.787234    1  29.787234  50.000000
4             BM14     4               29.787234    1  29.787234  50.000000
..             ...   ...                     ...  ...        ...        ...
739           BM14    19               36.170213   31  36.170213  36.170213
740           BM14    20               36.170213   31  36.170213  36.170213
741           BM14    21               36.170213   31  36.170213  36.170213
742           BM14    22               36.170213   31  36.170213  36.170213
743           BM14    23               36.170213   31  36.170213  36.170213

[744 rows x 6 columns]
Getting sept data agg for  BM19
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               27.777778    1           BM19        NaN        NaN
1       1               27.777778    1           BM19  27.777778        NaN
2       2               27.777778    1           BM19  27.777778        NaN
3       3               27.777778    1           BM19  27.777778        NaN
4       4               27.777778    1           BM19  27.777778        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               27.777778   30           BM19  27.777778  52.777778
716    20               27.777778   30           BM19  27.777778  52.777778
717    21               33.333333   30           BM19  27.777778  52.777778
718    22               27.777778   30           BM19  33.333333  52.777778
719    23               27.777778   30           BM19  27.777778  52.777778

[720 rows x 6 columns]
Getting oct data agg for  BM19
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             BM19     0               33.333333    1  27.777778  52.777778
1             BM19     1               27.777778    1  33.333333  52.083333
2             BM19     2               27.777778    1  27.777778  52.777778
3             BM19     3               27.777778    1  27.777778  52.777778
4             BM19     4               27.777778    1  27.777778  52.777778
..             ...   ...                     ...  ...        ...        ...
739           BM19    19               22.222222   31  22.222222  22.222222
740           BM19    20               22.222222   31  22.222222  22.222222
741           BM19    21               22.222222   31  22.222222  22.222222
742           BM19    22               22.222222   31  22.222222  22.222222
743           BM19    23               22.222222   31  22.222222  22.222222

[744 rows x 6 columns]
Getting sept data agg for  BM2

     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               42.138365    1            BM2        NaN        NaN
1       1               43.396226    1            BM2  42.138365        NaN
2       2               45.911950    1            BM2  43.396226        NaN
3       3               49.685535    1            BM2  45.911950        NaN
4       4               50.943396    1            BM2  49.685535        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               29.245283   30            BM2  29.559748   2.515723
716    20               35.220126   30            BM2  29.245283  14.465409
717    21               41.509434   30            BM2  35.220126  30.188679
718    22               52.201258   30            BM2  41.509434  37.735849
719    23               53.773585   30            BM2  52.201258  40.094340

[720 rows x 6 columns]
Getting oct data agg for  BM2
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              BM2     0               51.572327    1  53.773585  38.679245
1              BM2     1               47.798742    1  51.572327  36.320755
2              BM2     2               49.056604    1  47.798742  36.477987
3              BM2     3               50.000000    1  49.056604  39.622642
4              BM2     4               50.314465    1  50.000000  39.622642
..             ...   ...                     ...  ...        ...        ...
739            BM2    19                5.660377   31   6.918239  23.270440
740            BM2    20                0.000000   31   5.660377  33.333333
741            BM2    21                7.547170   31   0.000000  36.477987
742            BM2    22               28.301887   31   7.547170  36.477987
743            BM2    23               29.245283   31  28.301887  35.220126

[744 rows x 6 columns]
Getting sept data agg for  BM20
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               60.000000    1           BM20        NaN        NaN
1       1               60.000000    1           BM20  60.000000        NaN
2       2               60.000000    1           BM20  60.000000        NaN
3       3               52.291667    1           BM20  60.000000        NaN
4       4               60.000000    1           BM20  52.291667        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               60.000000   30           BM20  60.000000  81.666667
716    20               60.000000   30           BM20  60.000000  81.666667
717    21               60.000000   30           BM20  60.000000  81.666667
718    22               60.000000   30           BM20  60.000000  81.666667
719    23               60.000000   30           BM20  60.000000  81.666667

[720 rows x 6 columns]
Getting oct data agg for  BM20
    carpark_number  hour  percent_lots_available  day  lag_1    lag_168
0             BM20     0                    60.0    1   60.0  81.666667
1             BM20     1                    60.0    1   60.0  81.666667
2             BM20     2                    60.0    1   60.0  81.666667
3             BM20     3                    60.0    1   60.0  81.666667
4             BM20     4                    60.0    1   60.0  81.666667
..             ...   ...                     ...  ...    ...        ...
739           BM20    19                    60.0   31   60.0  62.708333
740           BM20    20                    60.0   31   60.0  60.000000
741           BM20    21                    60.0   31   60.0  60.000000
742           BM20    22                    60.0   31   60.0  60.000000
743           BM20    23                    60.0   31   60.0  60.000000

[744 rows x 6 columns]
Getting sept data agg for  BM26
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               68.695652    1           BM26        NaN        NaN
1       1               67.318841    1           BM26  68.695652        NaN
2       2               67.028986    1           BM26  67.318841        NaN
3       3               67.971014    1           BM26  67.028986        NaN
4       4               67.717391    1           BM26  67.971014        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               44.619565   30           BM26  56.449275  47.753623
716    20               53.913043   30           BM26  44.619565  53.695652
717    21               62.028986   30           BM26  53.913043  64.130435
718    22               66.521739   30           BM26  62.028986  69.057971
719    23               66.847826   30           BM26  66.521739  67.173913

[720 rows x 6 columns]
Getting oct data agg for  BM26
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             BM26     0               68.260870    1  66.847826  67.971014
1             BM26     1               68.043478    1  68.260870  67.826087
2             BM26     2               67.608696    1  68.043478  67.608696
3             BM26     3               68.913043    1  67.608696  68.623188
4             BM26     4               68.405797    1  68.913043  68.695652
..             ...   ...                     ...  ...        ...        ...
739           BM26    19               54.347826   31  59.057971  52.826087
740           BM26    20               61.521739   31  54.347826  63.333333
741           BM26    21               67.971014   31  61.521739  70.000000
742           BM26    22               67.898551   31  67.971014  70.362319
743           BM26    23               68.260870   31  67.898551  71.159420

[744 rows x 6 columns]
Getting sept data agg for  BM28
     hour  percent_lots_available  day carpark_number      lag_1   lag_168
0       0                0.000000    1           BM28        NaN       NaN
1       1               12.500000    1           BM28   0.000000       NaN
2       2                0.000000    1           BM28  12.500000       NaN
3       3               12.500000    1           BM28   0.000000       NaN
4       4                0.000000    1           BM28  12.500000       NaN
..    ...                     ...  ...            ...        ...       ...
715    19                6.382979   30           BM28   6.382979  4.255319
716    20                6.382979   30           BM28   6.382979  4.255319
717    21                6.382979   30           BM28   6.382979  4.255319
718    22                6.382979   30           BM28   6.382979  4.255319
719    23                6.382979   30           BM28   6.382979  4.255319

[720 rows x 6 columns]
Getting oct data agg for  BM28
    carpark_number  hour  percent_lots_available  day     lag_1   lag_168
0             BM28     0                6.382979    1  6.382979  4.255319
1             BM28     1                6.382979    1  6.382979  4.255319
2             BM28     2                6.382979    1  6.382979  4.255319
3             BM28     3                6.382979    1  6.382979  4.255319
4             BM28     4                6.382979    1  6.382979  4.255319
..             ...   ...                     ...  ...       ...       ...
739           BM28    19                4.255319   31  4.255319  0.000000
740           BM28    20                4.255319   31  4.255319  0.000000
741           BM28    21                4.255319   31  4.255319  0.000000
742           BM28    22                4.255319   31  4.255319  0.000000
743           BM28    23                4.255319   31  4.255319  0.000000

[744 rows x 6 columns]
Getting sept data agg for  BM29
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               81.701031    1           BM29        NaN        NaN
1       1               85.223368    1           BM29  81.701031        NaN
2       2               85.567010    1           BM29  85.223368        NaN
3       3               85.567010    1           BM29  85.567010        NaN
4       4               85.567010    1           BM29  85.567010        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               18.041237   30           BM29  20.618557  19.072165
716    20               17.869416   30           BM29  18.041237  10.996564
717    21               28.178694   30           BM29  17.869416  30.670103
718    22               44.329897   30           BM29  28.178694  63.917526
719    23               70.618557   30           BM29  44.329897  79.123711

[720 rows x 6 columns]
Getting oct data agg for  BM29

    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             BM29     0               78.694158    1  70.618557  80.927835
1             BM29     1               82.817869    1  78.694158  83.762887
2             BM29     2               84.192440    1  82.817869  85.567010
3             BM29     3               81.786942    1  84.192440  85.223368
4             BM29     4               83.505155    1  81.786942  85.567010
..             ...   ...                     ...  ...        ...        ...
739           BM29    19               60.824742   31  51.546392  61.512027
740           BM29    20               73.195876   31  60.824742  73.539519
741           BM29    21               79.725086   31  73.195876  75.257732
742           BM29    22               83.505155   31  79.725086  78.006873
743           BM29    23               85.051546   31  83.505155  86.597938

[744 rows x 6 columns]
Getting sept data agg for  BM3
     hour  percent_lots_available  day carpark_number      lag_1   lag_168
0       0                1.388889    1            BM3        NaN       NaN
1       1                2.083333    1            BM3   1.388889       NaN
2       2                0.000000    1            BM3   2.083333       NaN
3       3                0.694444    1            BM3   0.000000       NaN
4       4                2.083333    1            BM3   0.694444       NaN
..    ...                     ...  ...            ...        ...       ...
715    19                1.388889   30            BM3  10.416667  3.125000
716    20                0.000000   30            BM3   1.388889  0.000000
717    21                0.694444   30            BM3   0.000000  0.000000
718    22                0.000000   30            BM3   0.694444  0.000000
719    23                1.041667   30            BM3   0.000000  0.520833

[720 rows x 6 columns]
Getting oct data agg for  BM3
    carpark_number  hour  percent_lots_available  day     lag_1   lag_168
0              BM3     0                0.000000    1  1.041667  0.000000
1              BM3     1                0.000000    1  0.000000  0.000000
2              BM3     2                0.000000    1  0.000000  0.000000
3              BM3     3                0.000000    1  0.000000  0.000000
4              BM3     4                0.000000    1  0.000000  2.083333
..             ...   ...                     ...  ...       ...       ...
739            BM3    19                2.777778   31  0.000000  1.388889
740            BM3    20                6.250000   31  2.777778  0.000000
741            BM3    21                3.472222   31  6.250000  0.000000
742            BM3    22                3.472222   31  3.472222  0.520833
743            BM3    23                4.166667   31  3.472222  0.694444

[744 rows x 6 columns]
Getting sept data agg for  BM30
     hour  percent_lots_available  day carpark_number  lag_1  lag_168
0       0                     0.0    1           BM30    NaN      NaN
1       1                     0.0    1           BM30    0.0      NaN
2       2                     0.0    1           BM30    0.0      NaN
3       3                     0.0    1           BM30    0.0      NaN
4       4                     0.0    1           BM30    0.0      NaN
..    ...                     ...  ...            ...    ...      ...
715    19                     0.0   30           BM30    0.0      0.0
716    20                     0.0   30           BM30    0.0      0.0
717    21                     0.0   30           BM30    0.0      0.0
718    22                     0.0   30           BM30    0.0      0.0
719    23                     0.0   30           BM30    0.0      0.0

[720 rows x 6 columns]
Getting oct data agg for  BM30
    carpark_number  hour  percent_lots_available  day  lag_1  lag_168
0             BM30     0                     0.0    1    0.0      0.0
1             BM30     1                     0.0    1    0.0      0.0
2             BM30     2                     0.0    1    0.0      0.0
3             BM30     3                     0.0    1    0.0      0.0
4             BM30     4                     0.0    1    0.0      0.0
..             ...   ...                     ...  ...    ...      ...
739           BM30    19                     0.0   31    0.0      0.0
740           BM30    20                     0.0   31    0.0      0.0
741           BM30    21                     0.0   31    0.0      0.0
742           BM30    22                     0.0   31    0.0      0.0
743           BM30    23                     0.0   31    0.0      0.0

[744 rows x 6 columns]
Getting sept data agg for  BM31
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               91.479100    1           BM31        NaN        NaN
1       1               91.264737    1           BM31  91.479100        NaN
2       2               91.157556    1           BM31  91.264737        NaN
3       3               91.157556    1           BM31  91.157556        NaN
4       4               90.916399    1           BM31  91.157556        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               84.445338   30           BM31  77.733119  85.048232
716    20               87.566988   30           BM31  84.445338  87.727760
717    21               89.335477   30           BM31  87.566988  89.228296
718    22               90.032154   30           BM31  89.335477  90.032154
719    23               90.514469   30           BM31  90.032154  89.817792

[720 rows x 6 columns]
Getting oct data agg for  BM31
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             BM31     0               90.085745    1  90.514469  89.871383
1             BM31     1               90.246517    1  90.085745  89.657020
2             BM31     2               90.353698    1  90.246517  89.603430
3             BM31     3               90.407288    1  90.353698  89.764202
4             BM31     4               90.514469    1  90.407288  89.871383
..             ...   ...                     ...  ...        ...        ...
739           BM31    19               84.673098   31  75.562701  89.442658
740           BM31    20               89.871383   31  84.673098  89.924973
741           BM31    21               91.532690   31  89.871383  90.594855
742           BM31    22               91.050375   31  91.532690  90.554662
743           BM31    23               90.916399   31  91.050375  90.621651

[744 rows x 6 columns]
Getting sept data agg for  BM4
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0                5.333333    1            BM4        NaN        NaN
1       1                3.333333    1            BM4   5.333333        NaN
2       2                3.000000    1            BM4   3.333333        NaN
3       3                3.333333    1            BM4   3.000000        NaN
4       4                3.555556    1            BM4   3.333333        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               36.166667   30            BM4  43.000000  34.444444
716    20               31.000000   30            BM4  36.166667  29.777778
717    21               27.000000   30            BM4  31.000000  25.777778
718    22               18.000000   30            BM4  27.000000  17.555556
719    23               13.333333   30            BM4  18.000000  11.111111

[720 rows x 6 columns]
Getting oct data agg for  BM4
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              BM4     0                8.222222    1  13.333333   6.444444
1              BM4     1                6.000000    1   8.222222   6.222222
2              BM4     2                3.555556    1   6.000000   4.444444
3              BM4     3                3.777778    1   3.555556   4.000000
4              BM4     4                4.444444    1   3.777778   4.222222
..             ...   ...                     ...  ...        ...        ...
739            BM4    19               36.500000   31  41.000000  22.666667
740            BM4    20               25.777778   31  36.500000  21.000000
741            BM4    21               16.444444   31  25.777778  12.888889
742            BM4    22               14.444444   31  16.444444   9.333333
743            BM4    23                9.666667   31  14.444444   6.666667

[744 rows x 6 columns]
Getting sept data agg for  BM5

     hour  percent_lots_available  day carpark_number  lag_1    lag_168
0       0                     0.0    1            BM5    NaN        NaN
1       1                     0.0    1            BM5    0.0        NaN
2       2                     0.0    1            BM5    0.0        NaN
3       3                     0.0    1            BM5    0.0        NaN
4       4                     0.0    1            BM5    0.0        NaN
..    ...                     ...  ...            ...    ...        ...
715    19                     0.0   30            BM5    0.0  39.130435
716    20                     0.0   30            BM5    0.0  39.130435
717    21                     0.0   30            BM5    0.0  39.130435
718    22                     0.0   30            BM5    0.0  39.130435
719    23                     0.0   30            BM5    0.0  30.434783

[720 rows x 6 columns]
Getting oct data agg for  BM5
    carpark_number  hour  percent_lots_available  day  lag_1    lag_168
0              BM5     0                     0.0    1    0.0  13.043478
1              BM5     1                     0.0    1    0.0  13.043478
2              BM5     2                     0.0    1    0.0  13.043478
3              BM5     3                     0.0    1    0.0  13.043478
4              BM5     4                     0.0    1    0.0  13.043478
..             ...   ...                     ...  ...    ...        ...
739            BM5    19                     0.0   31    0.0   0.000000
740            BM5    20                     0.0   31    0.0   0.000000
741            BM5    21                     0.0   31    0.0  12.500000
742            BM5    22                     0.0   31    0.0  12.500000
743            BM5    23                     0.0   31    0.0   0.000000

[744 rows x 6 columns]
Getting sept data agg for  BM6
     hour  percent_lots_available  day carpark_number     lag_1  lag_168
0       0                3.333333    1            BM6       NaN      NaN
1       1                3.333333    1            BM6  3.333333      NaN
2       2                3.333333    1            BM6  3.333333      NaN
3       3                3.333333    1            BM6  3.333333      NaN
4       4                3.333333    1            BM6  3.333333      NaN
..    ...                     ...  ...            ...       ...      ...
715    19                6.666667   30            BM6  6.666667     10.0
716    20                6.666667   30            BM6  6.666667     10.0
717    21                6.666667   30            BM6  6.666667     10.0
718    22                6.666667   30            BM6  6.666667      7.5
719    23                6.666667   30            BM6  6.666667     10.0

[720 rows x 6 columns]
Getting oct data agg for  BM6
    carpark_number  hour  percent_lots_available  day     lag_1    lag_168
0              BM6     0                6.666667    1  6.666667  10.000000
1              BM6     1                6.666667    1  6.666667   7.500000
2              BM6     2                6.666667    1  6.666667  10.000000
3              BM6     3                6.666667    1  6.666667  10.000000
4              BM6     4                6.666667    1  6.666667  10.000000
..             ...   ...                     ...  ...       ...        ...
739            BM6    19                6.666667   31  6.666667   6.666667
740            BM6    20                6.666667   31  6.666667   6.666667
741            BM6    21                6.666667   31  6.666667   6.666667
742            BM6    22                6.666667   31  6.666667   6.666667
743            BM6    23                6.666667   31  6.666667   6.666667

[744 rows x 6 columns]
Getting sept data agg for  BMVM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               45.429363    1           BMVM        NaN        NaN
1       1               45.429363    1           BMVM  45.429363        NaN
2       2               45.429363    1           BMVM  45.429363        NaN
3       3               45.429363    1           BMVM  45.429363        NaN
4       4               45.429363    1           BMVM  45.429363        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               71.468144   30           BMVM  71.468144  71.468144
716    20               71.468144   30           BMVM  71.468144  71.468144
717    21               71.468144   30           BMVM  71.468144  71.468144
718    22               71.468144   30           BMVM  71.468144  63.323330
719    23               71.468144   30           BMVM  71.468144  71.468144

[720 rows x 6 columns]
Getting oct data agg for  BMVM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             BMVM     0               71.468144    1  71.468144  71.468144
1             BMVM     1               71.468144    1  71.468144  71.468144
2             BMVM     2               71.468144    1  71.468144  71.468144
3             BMVM     3               71.468144    1  71.468144  71.468144
4             BMVM     4               71.468144    1  71.468144  71.468144
..             ...   ...                     ...  ...        ...        ...
739           BMVM    19               71.468144   31  71.468144  71.468144
740           BMVM    20               71.468144   31  71.468144  71.468144
741           BMVM    21               71.468144   31  71.468144  71.468144
742           BMVM    22               71.468144   31  71.468144  71.468144
743           BMVM    23               71.468144   31  71.468144  71.468144

[744 rows x 6 columns]
Getting sept data agg for  BP1
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               35.481891    1            BP1        NaN        NaN
1       1               33.947207    1            BP1  35.481891        NaN
2       2               33.087784    1            BP1  33.947207        NaN
3       3               33.640270    1            BP1  33.087784        NaN
4       4               33.333333    1            BP1  33.640270        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               49.539595   30            BP1  52.578269  49.662370
716    20               46.408840   30            BP1  49.539595  46.961326
717    21               46.408840   30            BP1  46.408840  46.470227
718    22               41.375077   30            BP1  46.408840  42.357274
719    23               39.318600   30            BP1  41.375077  39.901780

[720 rows x 6 columns]
Getting oct data agg for  BP1
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              BP1     0               37.814610    1  39.318600  37.016575
1              BP1     1               36.402701    1  37.814610  36.832413
2              BP1     2               35.052179    1  36.402701  35.481891
3              BP1     3               33.701657    1  35.052179  35.113567
4              BP1     4               32.412523    1  33.701657  33.947207
..             ...   ...                     ...  ...        ...        ...
739            BP1    19               49.033149   31  57.274401  45.610804
740            BP1    20               45.426642   31  49.033149  43.216697
741            BP1    21               43.707796   31  45.426642  40.699816
742            BP1    22               42.541436   31  43.707796  38.581952
743            BP1    23               40.699816   31  42.541436  36.402701

[744 rows x 6 columns]
Getting sept data agg for  BP2
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               26.108727    1            BP2        NaN        NaN
1       1               24.749642    1            BP2  26.108727        NaN
2       2               23.748212    1            BP2  24.749642        NaN
3       3               23.104435    1            BP2  23.748212        NaN
4       4               22.639485    1            BP2  23.104435        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               42.757511   30            BP2  46.137339  44.778255
716    20               36.337625   30            BP2  42.757511  41.630901
717    21               35.836910   30            BP2  36.337625  37.267525
718    22               29.899857   30            BP2  35.836910  30.758226
719    23               25.858369   30            BP2  29.899857  27.324750

[720 rows x 6 columns]
Getting oct data agg for  BP2

    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              BP2     0               19.098712    1  25.858369  25.536481
1              BP2     1               17.238913    1  19.098712  25.393419
2              BP2     2               17.238913    1  17.238913  24.320458
3              BP2     3               18.168813    1  17.238913  23.247496
4              BP2     4               17.954220    1  18.168813  23.175966
..             ...   ...                     ...  ...        ...        ...
739            BP2    19               39.216738   31  47.138770  35.693848
740            BP2    20               34.978541   31  39.216738  32.618026
741            BP2    21               31.402003   31  34.978541  28.218884
742            BP2    22               27.467811   31  31.402003  25.536481
743            BP2    23               24.034335   31  27.467811  22.174535

[744 rows x 6 columns]
Getting sept data agg for  BTM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               31.506849    1            BTM        NaN        NaN
1       1               31.506849    1            BTM  31.506849        NaN
2       2               31.506849    1            BTM  31.506849        NaN
3       3               31.506849    1            BTM  31.506849        NaN
4       4               31.506849    1            BTM  31.506849        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               31.506849   30            BTM  31.506849  53.082192
716    20               31.506849   30            BTM  31.506849  53.082192
717    21               31.506849   30            BTM  31.506849  53.082192
718    22               31.506849   30            BTM  31.506849  53.082192
719    23               31.506849   30            BTM  31.506849  53.082192

[720 rows x 6 columns]
Getting oct data agg for  BTM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              BTM     0               31.506849    1  31.506849  53.082192
1              BTM     1               31.506849    1  31.506849  53.082192
2              BTM     2               31.506849    1  31.506849  53.082192
3              BTM     3               31.506849    1  31.506849  53.082192
4              BTM     4               31.506849    1  31.506849  53.082192
..             ...   ...                     ...  ...        ...        ...
739            BTM    19               32.876712   31  32.876712  32.876712
740            BTM    20               32.876712   31  32.876712  32.876712
741            BTM    21               32.876712   31  32.876712  32.876712
742            BTM    22               32.876712   31  32.876712  32.876712
743            BTM    23               32.876712   31  32.876712  32.876712

[744 rows x 6 columns]
Getting sept data agg for  BTM2
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               52.016129    1           BTM2        NaN        NaN
1       1               52.016129    1           BTM2  52.016129        NaN
2       2               52.016129    1           BTM2  52.016129        NaN
3       3               52.016129    1           BTM2  52.016129        NaN
4       4               52.016129    1           BTM2  52.016129        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               52.016129   30           BTM2  52.016129  64.717742
716    20               52.016129   30           BTM2  52.016129  64.717742
717    21               52.016129   30           BTM2  52.016129  64.717742
718    22               52.016129   30           BTM2  52.016129  58.239799
719    23               52.016129   30           BTM2  52.016129  64.717742

[720 rows x 6 columns]
Getting oct data agg for  BTM2
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             BTM2     0               52.016129    1  52.016129  64.717742
1             BTM2     1               52.016129    1  52.016129  64.717742
2             BTM2     2               39.012097    1  52.016129  64.717742
3             BTM2     3               52.016129    1  39.012097  64.717742
4             BTM2     4               52.016129    1  52.016129  64.717742
..             ...   ...                     ...  ...        ...        ...
739           BTM2    19               52.822581   31  52.822581  52.822581
740           BTM2    20               52.822581   31  52.822581  52.822581
741           BTM2    21               52.822581   31  52.822581  52.822581
742           BTM2    22               52.822581   31  52.822581  52.822581
743           BTM2    23               52.822581   31  52.822581  52.822581

[744 rows x 6 columns]
Getting sept data agg for  BTM3
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               33.796296    1           BTM3        NaN        NaN
1       1               32.962963    1           BTM3  33.796296        NaN
2       2               33.148148    1           BTM3  32.962963        NaN
3       3               32.870370    1           BTM3  33.148148        NaN
4       4               32.777778    1           BTM3  32.870370        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               41.759259   30           BTM3  42.777778  39.629630
716    20               41.388889   30           BTM3  41.759259  34.907407
717    21               40.277778   30           BTM3  41.388889  36.666667
718    22               39.259259   30           BTM3  40.277778  35.138889
719    23               38.472222   30           BTM3  39.259259  32.777778

[720 rows x 6 columns]
Getting oct data agg for  BTM3
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             BTM3     0               36.296296    1  38.472222  31.851852
1             BTM3     1               35.185185    1  36.296296  30.925926
2             BTM3     2               34.166667    1  35.185185  30.185185
3             BTM3     3               33.750000    1  34.166667  31.203704
4             BTM3     4               33.055556    1  33.750000  30.648148
..             ...   ...                     ...  ...        ...        ...
739           BTM3    19               41.203704   31  44.259259  40.092593
740           BTM3    20               38.888889   31  41.203704  36.574074
741           BTM3    21               37.962963   31  38.888889  35.416667
742           BTM3    22               37.037037   31  37.962963  32.777778
743           BTM3    23               36.250000   31  37.037037  31.388889

[744 rows x 6 columns]
Getting sept data agg for  BVM2
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               67.857143    1           BVM2        NaN        NaN
1       1               67.857143    1           BVM2  67.857143        NaN
2       2               67.857143    1           BVM2  67.857143        NaN
3       3               67.857143    1           BVM2  67.857143        NaN
4       4               67.857143    1           BVM2  67.857143        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               80.952381   30           BVM2  80.952381  80.952381
716    20               80.952381   30           BVM2  80.952381  80.952381
717    21               80.952381   30           BVM2  80.952381  80.952381
718    22               80.952381   30           BVM2  80.952381  80.952381
719    23               80.952381   30           BVM2  80.952381  80.952381

[720 rows x 6 columns]
Getting oct data agg for  BVM2
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             BVM2     0               80.952381    1  80.952381  80.952381
1             BVM2     1               80.952381    1  80.952381  80.952381
2             BVM2     2               80.952381    1  80.952381  80.952381
3             BVM2     3               80.952381    1  80.952381  80.952381
4             BVM2     4               80.952381    1  80.952381  80.952381
..             ...   ...                     ...  ...        ...        ...
739           BVM2    19               80.952381   31  80.952381  80.952381
740           BVM2    20               80.952381   31  80.952381  80.952381
741           BVM2    21               80.952381   31  80.952381  80.952381
742           BVM2    22               80.952381   31  80.952381  80.952381
743           BVM2    23               80.952381   31  80.952381  80.952381

[744 rows x 6 columns]
Getting sept data agg for  BWM

     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               50.606061    1            BWM        NaN        NaN
1       1               48.484848    1            BWM  50.606061        NaN
2       2               48.484848    1            BWM  48.484848        NaN
3       3               47.272727    1            BWM  48.484848        NaN
4       4               45.757576    1            BWM  47.272727        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               46.363636   30            BWM  48.181818  43.333333
716    20               53.030303   30            BWM  46.363636  50.909091
717    21               56.363636   30            BWM  53.030303  55.757576
718    22               53.636364   30            BWM  56.363636  57.727273
719    23               52.954545   30            BWM  53.636364  53.787879

[720 rows x 6 columns]
Getting oct data agg for  BWM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              BWM     0               50.151515    1  52.954545  48.333333
1              BWM     1               47.272727    1  50.151515  45.757576
2              BWM     2               46.060606    1  47.272727  44.848485
3              BWM     3               45.606061    1  46.060606  45.909091
4              BWM     4               45.000000    1  45.606061  44.545455
..             ...   ...                     ...  ...        ...        ...
739            BWM    19               54.242424   31  51.212121  51.969697
740            BWM    20               56.136364   31  54.242424  56.969697
741            BWM    21               56.212121   31  56.136364  55.303030
742            BWM    22               54.393939   31  56.212121  53.484848
743            BWM    23               53.409091   31  54.393939  51.666667

[744 rows x 6 columns]
Getting sept data agg for  CAM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               37.964912    1            CAM        NaN        NaN
1       1               37.964912    1            CAM  37.964912        NaN
2       2               37.473684    1            CAM  37.964912        NaN
3       3               37.403509    1            CAM  37.473684        NaN
4       4               37.333333    1            CAM  37.403509        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               56.561404   30            CAM  58.842105  52.368421
716    20               51.052632   30            CAM  56.561404  54.825188
717    21               54.701754   30            CAM  51.052632  45.368421
718    22               43.421053   30            CAM  54.701754  44.210526
719    23               43.368421   30            CAM  43.421053  42.631579

[720 rows x 6 columns]
Getting oct data agg for  CAM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              CAM     0               41.736842    1  43.368421  41.473684
1              CAM     1               38.947368    1  41.736842  39.894737
2              CAM     2               38.315789    1  38.947368  41.315789
3              CAM     3               37.263158    1  38.315789  40.771930
4              CAM     4               37.403509    1  37.263158  40.631579
..             ...   ...                     ...  ...        ...        ...
739            CAM    19               47.508772   31  52.771930  41.684211
740            CAM    20               45.052632   31  47.508772  38.263158
741            CAM    21               42.666667   31  45.052632  38.210526
742            CAM    22               40.491228   31  42.666667  38.526316
743            CAM    23               39.157895   31  40.491228  38.035088

[744 rows x 6 columns]
Getting sept data agg for  CDM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               34.402332    1            CDM        NaN        NaN
1       1               34.402332    1            CDM  34.402332        NaN
2       2               34.402332    1            CDM  34.402332        NaN
3       3               34.402332    1            CDM  34.402332        NaN
4       4               34.402332    1            CDM  34.402332        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               34.985423   30            CDM  34.985423  34.693878
716    20               34.985423   30            CDM  34.985423  34.693878
717    21               34.985423   30            CDM  34.985423  34.693878
718    22               34.985423   30            CDM  34.985423  34.693878
719    23               34.985423   30            CDM  34.985423  34.693878

[720 rows x 6 columns]
Getting oct data agg for  CDM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              CDM     0               34.985423    1  34.985423  34.693878
1              CDM     1               34.693878    1  34.985423  42.759961
2              CDM     2               34.693878    1  34.693878  58.892128
3              CDM     3               34.693878    1  34.693878  58.892128
4              CDM     4               34.693878    1  34.693878  58.892128
..             ...   ...                     ...  ...        ...        ...
739            CDM    19               51.020408   31  51.020408  34.110787
740            CDM    20               51.020408   31  51.020408  34.110787
741            CDM    21               51.020408   31  51.020408  34.110787
742            CDM    22               51.020408   31  51.020408  34.110787
743            CDM    23               51.020408   31  51.020408  34.110787

[744 rows x 6 columns]
Getting sept data agg for  CLM
     hour  percent_lots_available  day carpark_number      lag_1   lag_168
0       0               39.183673    1            CLM        NaN       NaN
1       1               39.183673    1            CLM  39.183673       NaN
2       2               39.183673    1            CLM  39.183673       NaN
3       3               39.183673    1            CLM  39.183673       NaN
4       4               39.183673    1            CLM  39.183673       NaN
..    ...                     ...  ...            ...        ...       ...
715    19               47.755102   30            CLM  63.673469  62.44898
716    20               63.673469   30            CLM  47.755102  62.44898
717    21               63.673469   30            CLM  63.673469  62.44898
718    22               63.673469   30            CLM  63.673469  62.44898
719    23               63.673469   30            CLM  63.673469  62.44898

[720 rows x 6 columns]
Getting oct data agg for  CLM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              CLM     0               63.673469    1  63.673469  62.448980
1              CLM     1               63.673469    1  63.673469  62.448980
2              CLM     2               63.673469    1  63.673469  62.448980
3              CLM     3               63.673469    1  63.673469  62.448980
4              CLM     4               63.673469    1  63.673469  62.448980
..             ...   ...                     ...  ...        ...        ...
739            CLM    19               63.673469   31  63.673469  63.673469
740            CLM    20               63.673469   31  63.673469  63.673469
741            CLM    21               63.673469   31  63.673469  63.673469
742            CLM    22               63.673469   31  63.673469  63.673469
743            CLM    23               63.673469   31  63.673469  63.673469

[744 rows x 6 columns]
Getting sept data agg for  CM1
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               61.434511    1            CM1        NaN        NaN
1       1               61.434511    1            CM1  61.434511        NaN
2       2               61.434511    1            CM1  61.434511        NaN
3       3               61.434511    1            CM1  61.434511        NaN
4       4               61.434511    1            CM1  61.434511        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               62.889813   30            CM1  50.519751  74.948025
716    20               50.519751   30            CM1  62.889813  74.948025
717    21               50.519751   30            CM1  50.519751  74.948025
718    22               50.519751   30            CM1  50.519751  74.948025
719    23               50.519751   30            CM1  50.519751  74.948025

[720 rows x 6 columns]
Getting oct data agg for  CM1

    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              CM1     0               50.519751    1  50.519751  67.929769
1              CM1     1               50.519751    1  50.519751  81.211019
2              CM1     2               50.519751    1  50.519751  74.948025
3              CM1     3               50.519751    1  50.519751  74.948025
4              CM1     4               50.519751    1  50.519751  74.948025
..             ...   ...                     ...  ...        ...        ...
739            CM1    19               71.413721   31  71.413721  50.519751
740            CM1    20               71.413721   31  71.413721  50.519751
741            CM1    21               71.413721   31  71.413721  50.519751
742            CM1    22               71.413721   31  71.413721  50.519751
743            CM1    23               71.413721   31  71.413721  50.519751

[744 rows x 6 columns]
Getting sept data agg for  CSM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               84.615385    1            CSM        NaN        NaN
1       1               84.743590    1            CSM  84.615385        NaN
2       2               84.487179    1            CSM  84.743590        NaN
3       3               84.230769    1            CSM  84.487179        NaN
4       4               84.487179    1            CSM  84.230769        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               66.346154   30            CSM  66.153846  61.794872
716    20               66.538462   30            CSM  66.346154  64.743590
717    21               75.256410   30            CSM  66.538462  75.256410
718    22               81.794872   30            CSM  75.256410  83.717949
719    23               84.038462   30            CSM  81.794872  85.000000

[720 rows x 6 columns]
Getting oct data agg for  CSM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              CSM     0               86.410256    1  84.038462  85.897436
1              CSM     1               86.538462    1  86.410256  86.282051
2              CSM     2               86.538462    1  86.538462  85.512821
3              CSM     3               86.410256    1  86.538462  85.128205
4              CSM     4               86.025641    1  86.410256  85.000000
..             ...   ...                     ...  ...        ...        ...
739            CSM    19               72.500000   31  65.512821  58.205128
740            CSM    20               77.948718   31  72.500000  68.717949
741            CSM    21               85.000000   31  77.948718  78.076923
742            CSM    22               87.179487   31  85.000000  85.000000
743            CSM    23               87.692308   31  87.179487  88.333333

[744 rows x 6 columns]
Getting sept data agg for  DRM1
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               75.111607    1           DRM1        NaN        NaN
1       1               74.479167    1           DRM1  75.111607        NaN
2       2               74.181548    1           DRM1  74.479167        NaN
3       3               74.107143    1           DRM1  74.181548        NaN
4       4               74.107143    1           DRM1  74.107143        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               85.156250   30           DRM1  84.933036  84.821429
716    20               83.258929   30           DRM1  85.156250  81.845238
717    21               80.877976   30           DRM1  83.258929  78.869048
718    22               78.497024   30           DRM1  80.877976  77.232143
719    23               76.785714   30           DRM1  78.497024  76.190476

[720 rows x 6 columns]
Getting oct data agg for  DRM1
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             DRM1     0               74.627976    1  76.785714  74.627976
1             DRM1     1               74.107143    1  74.627976  74.330357
2             DRM1     2               73.809524    1  74.107143  74.107143
3             DRM1     3               73.809524    1  73.809524  73.883929
4             DRM1     4               73.363095    1  73.809524  73.735119
..             ...   ...                     ...  ...        ...        ...
739           DRM1    19               80.952381   31  85.323661  78.720238
740           DRM1    20               78.422619   31  80.952381  79.315476
741           DRM1    21               76.339286   31  78.422619  78.013393
742           DRM1    22               74.702381   31  76.339286  76.562500
743           DRM1    23               73.549107   31  74.702381  74.925595

[744 rows x 6 columns]
Getting sept data agg for  DRM2
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               47.959184    1           DRM2        NaN        NaN
1       1               47.363946    1           DRM2  47.959184        NaN
2       2               46.513605    1           DRM2  47.363946        NaN
3       3               46.598639    1           DRM2  46.513605        NaN
4       4               46.428571    1           DRM2  46.598639        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               70.344388   30           DRM2  70.790816  73.299320
716    20               66.666667   30           DRM2  70.344388  69.727891
717    21               60.969388   30           DRM2  66.666667  64.625850
718    22               57.993197   30           DRM2  60.969388  58.928571
719    23               55.994898   30           DRM2  57.993197  55.442177

[720 rows x 6 columns]
Getting oct data agg for  DRM2
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             DRM2     0               52.806122    1  55.994898  52.721088
1             DRM2     1               50.680272    1  52.806122  50.765306
2             DRM2     2               48.809524    1  50.680272  48.979592
3             DRM2     3               48.129252    1  48.809524  48.469388
4             DRM2     4               47.959184    1  48.129252  47.534014
..             ...   ...                     ...  ...        ...        ...
739           DRM2    19               68.197279   31  71.045918  63.435374
740           DRM2    20               64.795918   31  68.197279  59.438776
741           DRM2    21               59.778912   31  64.795918  55.994898
742           DRM2    22               56.122449   31  59.778912  53.443878
743           DRM2    23               53.571429   31  56.122449  50.595238

[744 rows x 6 columns]
Getting sept data agg for  DRM3
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               68.245614    1           DRM3        NaN        NaN
1       1               67.719298    1           DRM3  68.245614        NaN
2       2               67.953216    1           DRM3  67.719298        NaN
3       3               68.421053    1           DRM3  67.953216        NaN
4       4               68.070175    1           DRM3  68.421053        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               78.947368   30           DRM3  79.473684  79.532164
716    20               74.853801   30           DRM3  78.947368  77.076023
717    21               72.631579   30           DRM3  74.853801  74.269006
718    22               70.409357   30           DRM3  72.631579  74.269006
719    23               68.771930   30           DRM3  70.409357  73.099415

[720 rows x 6 columns]
Getting oct data agg for  DRM3
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             DRM3     0               67.134503    1  68.771930  70.058480
1             DRM3     1               67.251462    1  67.134503  69.473684
2             DRM3     2               67.017544    1  67.251462  69.239766
3             DRM3     3               67.368421    1  67.017544  68.654971
4             DRM3     4               66.783626    1  67.368421  67.602339
..             ...   ...                     ...  ...        ...        ...
739           DRM3    19               73.684211   31  75.789474  72.865497
740           DRM3    20               70.877193   31  73.684211  71.578947
741           DRM3    21               70.526316   31  70.877193  72.105263
742           DRM3    22               68.771930   31  70.526316  71.754386
743           DRM3    23               67.368421   31  68.771930  69.707602

[744 rows x 6 columns]
Getting sept data agg for  DRM4

     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0                1.923077    1           DRM4        NaN        NaN
1       1                0.000000    1           DRM4   1.923077        NaN
2       2                0.000000    1           DRM4   0.000000        NaN
3       3                1.282051    1           DRM4   0.000000        NaN
4       4                1.442308    1           DRM4   1.282051        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               48.798077   30           DRM4  59.615385  50.961538
716    20               37.500000   30           DRM4  48.798077  43.910256
717    21               32.692308   30           DRM4  37.500000  33.333333
718    22               24.038462   30           DRM4  32.692308  21.153846
719    23               22.115385   30           DRM4  24.038462  16.346154

[720 rows x 6 columns]
Getting oct data agg for  DRM4
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             DRM4     0               13.782051    1  22.115385  15.384615
1             DRM4     1               11.858974    1  13.782051  10.897436
2             DRM4     2               12.500000    1  11.858974   8.974359
3             DRM4     3               11.217949    1  12.500000  10.256410
4             DRM4     4               11.858974    1  11.217949  11.217949
..             ...   ...                     ...  ...        ...        ...
739           DRM4    19               33.974359   31  51.682692  35.576923
740           DRM4    20               26.602564   31  33.974359  29.166667
741           DRM4    21               20.512821   31  26.602564  26.442308
742           DRM4    22               10.897436   31  20.512821  20.192308
743           DRM4    23                6.730769   31  10.897436  14.102564

[744 rows x 6 columns]
Getting sept data agg for  DRM5
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               14.583333    1           DRM5        NaN        NaN
1       1               14.285714    1           DRM5  14.583333        NaN
2       2               14.285714    1           DRM5  14.285714        NaN
3       3               15.476190    1           DRM5  14.285714        NaN
4       4               15.476190    1           DRM5  15.476190        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               54.464286   30           DRM5  62.500000  49.603175
716    20               46.825397   30           DRM5  54.464286  41.269841
717    21               37.698413   30           DRM5  46.825397  35.317460
718    22               33.333333   30           DRM5  37.698413  33.333333
719    23               28.571429   30           DRM5  33.333333  28.968254

[720 rows x 6 columns]
Getting oct data agg for  DRM5
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             DRM5     0               26.190476    1  28.571429  23.015873
1             DRM5     1               23.809524    1  26.190476  22.222222
2             DRM5     2               20.238095    1  23.809524  21.428571
3             DRM5     3               19.841270    1  20.238095  22.619048
4             DRM5     4               17.063492    1  19.841270  21.428571
..             ...   ...                     ...  ...        ...        ...
739           DRM5    19               41.269841   31  44.642857  42.857143
740           DRM5    20               32.539683   31  41.269841  35.714286
741           DRM5    21               28.968254   31  32.539683  32.142857
742           DRM5    22               28.174603   31  28.968254  29.464286
743           DRM5    23               25.595238   31  28.174603  28.571429

[744 rows x 6 columns]
Getting sept data agg for  DRS
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               94.389937    1            DRS        NaN        NaN
1       1               94.389937    1            DRS  94.389937        NaN
2       2               94.465409    1            DRS  94.389937        NaN
3       3               94.842767    1            DRS  94.465409        NaN
4       4               94.905660    1            DRS  94.842767        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               97.754717   30            DRS  97.433962  97.182390
716    20               97.811321   30            DRS  97.754717  97.182390
717    21               97.408805   30            DRS  97.811321  97.459119
718    22               97.937107   30            DRS  97.408805  97.559748
719    23               98.150943   30            DRS  97.937107  97.786164

[720 rows x 6 columns]
Getting oct data agg for  DRS
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              DRS     0               97.962264    1  98.150943  97.459119
1              DRS     1               98.037736    1  97.962264  97.811321
2              DRS     2               98.138365    1  98.037736  97.735849
3              DRS     3               98.616352    1  98.138365  98.188679
4              DRS     4               98.515723    1  98.616352  98.238994
..             ...   ...                     ...  ...        ...        ...
739            DRS    19               95.220126   31  94.716981  96.754717
740            DRS    20               95.849057   31  95.220126  96.930818
741            DRS    21               96.578616   31  95.849057  97.283019
742            DRS    22               96.779874   31  96.578616  97.452830
743            DRS    23               97.094340   31  96.779874  97.660377

[744 rows x 6 columns]
Getting sept data agg for  DSR1
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               68.000000    1           DSR1        NaN        NaN
1       1               50.333333    1           DSR1  68.000000        NaN
2       2               67.111111    1           DSR1  50.333333        NaN
3       3               67.111111    1           DSR1  67.111111        NaN
4       4               67.111111    1           DSR1  67.111111        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               69.777778   30           DSR1  69.777778  68.888889
716    20               69.777778   30           DSR1  69.777778  68.888889
717    21               69.777778   30           DSR1  69.777778  68.888889
718    22               69.777778   30           DSR1  69.777778  68.888889
719    23               69.777778   30           DSR1  69.777778  68.888889

[720 rows x 6 columns]
Getting oct data agg for  DSR1
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             DSR1     0               69.777778    1  69.777778  68.888889
1             DSR1     1               69.333333    1  69.777778  73.185185
2             DSR1     2               69.333333    1  69.333333  81.777778
3             DSR1     3               69.333333    1  69.333333  81.777778
4             DSR1     4               69.333333    1  69.333333  81.777778
..             ...   ...                     ...  ...        ...        ...
739           DSR1    19               67.555556   31  67.555556  68.444444
740           DSR1    20               67.555556   31  67.555556  68.444444
741           DSR1    21               67.555556   31  67.555556  68.444444
742           DSR1    22               67.555556   31  67.555556  68.444444
743           DSR1    23               67.555556   31  67.555556  68.444444

[744 rows x 6 columns]
Getting sept data agg for  DSR2
     hour  percent_lots_available  day carpark_number      lag_1   lag_168
0       0               76.406926    1           DSR2        NaN       NaN
1       1               76.298701    1           DSR2  76.406926       NaN
2       2               76.298701    1           DSR2  76.298701       NaN
3       3               76.298701    1           DSR2  76.298701       NaN
4       4               76.298701    1           DSR2  76.298701       NaN
..    ...                     ...  ...            ...        ...       ...
715    19               77.435065   30           DSR2  77.435065  77.11039
716    20               77.435065   30           DSR2  77.435065  77.11039
717    21               77.435065   30           DSR2  77.435065  77.11039
718    22               77.435065   30           DSR2  77.435065  77.11039
719    23               77.435065   30           DSR2  77.435065  77.11039

[720 rows x 6 columns]
Getting oct data agg for  DSR2

    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             DSR2     0               77.435065    1  77.435065  77.110390
1             DSR2     1               77.272727    1  77.435065  77.922078
2             DSR2     2               77.272727    1  77.272727  79.545455
3             DSR2     3               77.272727    1  77.272727  79.545455
4             DSR2     4               77.272727    1  77.272727  79.545455
..             ...   ...                     ...  ...        ...        ...
739           DSR2    19               76.623377   31  76.623377  76.623377
740           DSR2    20               76.623377   31  76.623377  57.467532
741           DSR2    21               57.467532   31  76.623377  76.623377
742           DSR2    22               76.623377   31  57.467532  76.623377
743           DSR2    23               76.623377   31  76.623377  76.623377

[744 rows x 6 columns]
Getting sept data agg for  DSRL
     hour  percent_lots_available  day carpark_number      lag_1  lag_168
0       0               99.000000    1           DSRL        NaN      NaN
1       1               99.000000    1           DSRL  99.000000      NaN
2       2               74.250000    1           DSRL  99.000000      NaN
3       3               99.000000    1           DSRL  74.250000      NaN
4       4               99.000000    1           DSRL  99.000000      NaN
..    ...                     ...  ...            ...        ...      ...
715    19               66.666667   30           DSRL  66.666667    100.0
716    20               50.000000   30           DSRL  66.666667    100.0
717    21               66.666667   30           DSRL  50.000000    100.0
718    22               66.666667   30           DSRL  66.666667    100.0
719    23               66.666667   30           DSRL  66.666667    100.0

[720 rows x 6 columns]
Getting oct data agg for  DSRL
    carpark_number  hour  percent_lots_available  day       lag_1  lag_168
0             DSRL     0               66.666667    1   66.666667    100.0
1             DSRL     1               66.666667    1   66.666667    100.0
2             DSRL     2               66.666667    1   66.666667    100.0
3             DSRL     3               66.666667    1   66.666667    100.0
4             DSRL     4               66.666667    1   66.666667    100.0
..             ...   ...                     ...  ...         ...      ...
739           DSRL    19              100.000000   31  100.000000    100.0
740           DSRL    20              100.000000   31  100.000000    100.0
741           DSRL    21              100.000000   31  100.000000    100.0
742           DSRL    22              100.000000   31  100.000000    100.0
743           DSRL    23              100.000000   31  100.000000    100.0

[744 rows x 6 columns]
Getting sept data agg for  DUXM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               23.378995    1           DUXM        NaN        NaN
1       1               23.378995    1           DUXM  23.378995        NaN
2       2               23.378995    1           DUXM  23.378995        NaN
3       3               23.378995    1           DUXM  23.378995        NaN
4       4               23.378995    1           DUXM  23.378995        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               52.968037   30           DUXM  52.968037  31.050228
716    20               52.968037   30           DUXM  52.968037  31.050228
717    21               52.968037   30           DUXM  52.968037  31.050228
718    22               52.968037   30           DUXM  52.968037  31.050228
719    23               52.968037   30           DUXM  52.968037  31.050228

[720 rows x 6 columns]
Getting oct data agg for  DUXM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             DUXM     0               52.968037    1  52.968037  30.447296
1             DUXM     1               52.968037    1  52.968037  31.050228
2             DUXM     2               52.968037    1  52.968037  31.050228
3             DUXM     3               52.968037    1  52.968037  31.050228
4             DUXM     4               52.968037    1  52.968037  31.050228
..             ...   ...                     ...  ...        ...        ...
739           DUXM    19               22.283105   31  22.283105  52.968037
740           DUXM    20               22.283105   31  22.283105  52.968037
741           DUXM    21               22.283105   31  22.283105  52.968037
742           DUXM    22               22.283105   31  22.283105  52.968037
743           DUXM    23               22.283105   31  22.283105  52.968037

[744 rows x 6 columns]
Getting sept data agg for  DWSO
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               73.370621    1           DWSO        NaN        NaN
1       1               72.593801    1           DWSO  73.370621        NaN
2       2               72.593801    1           DWSO  72.593801        NaN
3       3               72.593801    1           DWSO  72.593801        NaN
4       4               72.593801    1           DWSO  72.593801        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               74.225122   30           DWSO  74.584186  73.898858
716    20               74.225122   30           DWSO  74.225122  73.898858
717    21               74.225122   30           DWSO  74.225122  73.898858
718    22               74.225122   30           DWSO  74.225122  73.898858
719    23               74.225122   30           DWSO  74.225122  73.898858

[720 rows x 6 columns]
Getting oct data agg for  DWSO
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             DWSO     0               74.225122    1  74.225122  73.898858
1             DWSO     1               74.225122    1  74.225122  72.974443
2             DWSO     2               74.225122    1  74.225122  71.125612
3             DWSO     3               74.225122    1  74.225122  71.125612
4             DWSO     4               74.225122    1  74.225122  71.125612
..             ...   ...                     ...  ...        ...        ...
739           DWSO    19               73.246330   31  73.246330  73.409462
740           DWSO    20               73.246330   31  73.246330  73.409462
741           DWSO    21               73.246330   31  73.246330  73.409462
742           DWSO    22               73.246330   31  73.246330  73.409462
743           DWSO    23               73.246330   31  73.246330  73.409462

[744 rows x 6 columns]
Getting sept data agg for  DWSP
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               56.291391    1           DWSP        NaN        NaN
1       1               56.622517    1           DWSP  56.291391        NaN
2       2               56.622517    1           DWSP  56.622517        NaN
3       3               56.622517    1           DWSP  56.622517        NaN
4       4               56.622517    1           DWSP  56.622517        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               53.526427   30           DWSP  57.119205  56.953642
716    20               57.119205   30           DWSP  53.526427  56.953642
717    21               57.119205   30           DWSP  57.119205  56.953642
718    22               57.119205   30           DWSP  57.119205  56.953642
719    23               57.119205   30           DWSP  57.119205  56.953642

[720 rows x 6 columns]
Getting oct data agg for  DWSP
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             DWSP     0               57.119205    1  57.119205  56.953642
1             DWSP     1               56.898455    1  57.119205  59.547461
2             DWSP     2               56.788079    1  56.898455  64.735099
3             DWSP     3               56.788079    1  56.788079  64.735099
4             DWSP     4               56.788079    1  56.788079  64.735099
..             ...   ...                     ...  ...        ...        ...
739           DWSP    19               56.291391   31  56.291391  56.291391
740           DWSP    20               56.291391   31  56.291391  67.218543
741           DWSP    21               56.291391   31  56.291391  56.291391
742           DWSP    22               56.291391   31  56.291391  56.291391
743           DWSP    23               56.291391   31  56.291391  56.291391

[744 rows x 6 columns]
Getting sept data agg for  DWST

     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0                1.561065    1           DWST        NaN        NaN
1       1               10.630783    1           DWST   1.561065        NaN
2       2               10.447129    1           DWST  10.630783        NaN
3       3               13.922441    1           DWST  10.447129        NaN
4       4                7.515717    1           DWST  13.922441        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               18.627451   30           DWST   0.000000  43.323996
716    20               19.327731   30           DWST  18.627451  11.204482
717    21                8.403361   30           DWST  19.327731  18.580766
718    22                2.054155   30           DWST   8.403361   8.870215
719    23                2.521008   30           DWST   2.054155   4.108310

[720 rows x 6 columns]
Getting oct data agg for  DWST
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             DWST     0                2.054155    1   2.521008   8.029879
1             DWST     1               19.069166    1   2.054155   2.614379
2             DWST     2                2.334267    1  19.069166   9.056956
3             DWST     3                9.092868    1   2.334267   7.835955
4             DWST     4                9.186239    1   9.092868   5.085111
..             ...   ...                     ...  ...        ...        ...
739           DWST    19               28.851541   31  41.923436   0.000000
740           DWST    20                6.816060   31  28.851541  12.138189
741           DWST    21                4.481793   31   6.816060   0.000000
742           DWST    22                2.614379   31   4.481793   0.000000
743           DWST    23                3.501401   31   2.614379   1.027077

[744 rows x 6 columns]
Getting sept data agg for  DWSV
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               45.454545    1           DWSV        NaN        NaN
1       1               24.242424    1           DWSV  45.454545        NaN
2       2               47.714236    1           DWSV  24.242424        NaN
3       3               60.606061    1           DWSV  47.714236        NaN
4       4               44.747668    1           DWSV  60.606061        NaN
..    ...                     ...  ...            ...        ...        ...
715    19                6.060606   30           DWSV  36.772119  71.136798
716    20               40.591865   30           DWSV   6.060606  57.575758
717    21               63.636364   30           DWSV  40.591865  90.909091
718    22               44.055276   30           DWSV  63.636364  74.491570
719    23               72.727273   30           DWSV  44.055276  81.818182

[720 rows x 6 columns]
Getting oct data agg for  DWSV
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             DWSV     0               18.291906    1  72.727273  91.191552
1             DWSV     1               35.494525    1  18.291906  77.272727
2             DWSV     2               47.149313    1  35.494525  90.909091
3             DWSV     3               57.575758    1  47.149313  84.848485
4             DWSV     4               50.362130    1  57.575758  81.818182
..             ...   ...                     ...  ...        ...        ...
739           DWSV    19               25.430210   31  14.595284   0.000000
740           DWSV    20               11.089866   31  25.430210  15.878672
741           DWSV    21                7.903123   31  11.089866   9.090909
742           DWSV    22                7.648184   31   7.903123  25.186859
743           DWSV    23                0.000000   31   7.648184  27.272727

[744 rows x 6 columns]
Getting sept data agg for  DWVT
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               60.587002    1           DWVT        NaN        NaN
1       1               60.377358    1           DWVT  60.587002        NaN
2       2               60.691824    1           DWVT  60.377358        NaN
3       3               61.425577    1           DWVT  60.691824        NaN
4       4               61.320755    1           DWVT  61.425577        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               73.977987   30           DWVT  73.427673  75.000000
716    20               71.698113   30           DWVT  73.977987  74.371069
717    21               68.972746   30           DWVT  71.698113  67.819706
718    22               66.981132   30           DWVT  68.972746  63.522013
719    23               64.937107   30           DWVT  66.981132  61.713836

[720 rows x 6 columns]
Getting oct data agg for  DWVT
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             DWVT     0               63.626834    1  64.937107  61.477987
1             DWVT     1               62.368973    1  63.626834  61.163522
2             DWVT     2               61.425577    1  62.368973  60.901468
3             DWVT     3               61.425577    1  61.425577  60.587002
4             DWVT     4               61.111111    1  61.425577  60.901468
..             ...   ...                     ...  ...        ...        ...
739           DWVT    19               51.572327   31  52.935010  69.392034
740           DWVT    20               46.462264   31  51.572327  67.400419
741           DWVT    21               47.169811   31  46.462264  64.779874
742           DWVT    22               45.387841   31  47.169811  61.949686
743           DWVT    23               42.452830   31  45.387841  61.006289

[744 rows x 6 columns]
Getting sept data agg for  EPL
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               38.888889    1            EPL        NaN        NaN
1       1               48.148148    1            EPL  38.888889        NaN
2       2               46.296296    1            EPL  48.148148        NaN
3       3               50.000000    1            EPL  46.296296        NaN
4       4               81.481481    1            EPL  50.000000        NaN
..    ...                     ...  ...            ...        ...        ...
715    19                0.000000   30            EPL   0.000000   0.000000
716    20                0.000000   30            EPL   0.000000   0.000000
717    21                0.000000   30            EPL   0.000000   3.703704
718    22                0.000000   30            EPL   0.000000  27.777778
719    23                5.555556   30            EPL   0.000000  29.166667

[720 rows x 6 columns]
Getting oct data agg for  EPL
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              EPL     0                1.851852    1   5.555556  29.629630
1              EPL     1                3.703704    1   1.851852  29.629630
2              EPL     2                2.777778    1   3.703704  33.333333
3              EPL     3                4.166667    1   2.777778  38.888889
4              EPL     4               31.481481    1   4.166667  40.740741
..             ...   ...                     ...  ...        ...        ...
739            EPL    19               12.500000   31  25.000000  12.962963
740            EPL    20               59.259259   31  12.500000   0.000000
741            EPL    21               11.111111   31  59.259259  38.888889
742            EPL    22               34.722222   31  11.111111  61.111111
743            EPL    23               58.333333   31  34.722222  62.962963

[744 rows x 6 columns]
Getting sept data agg for  EPM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               37.412587    1            EPM        NaN        NaN
1       1               37.412587    1            EPM  37.412587        NaN
2       2               37.412587    1            EPM  37.412587        NaN
3       3               36.946387    1            EPM  37.412587        NaN
4       4               48.135198    1            EPM  36.946387        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               39.860140   30            EPM  34.615385  53.729604
716    20               35.314685   30            EPM  39.860140  50.932401
717    21               35.547786   30            EPM  35.314685  44.755245
718    22               38.578089   30            EPM  35.547786  43.531469
719    23               37.937063   30            EPM  38.578089  40.909091

[720 rows x 6 columns]
Getting oct data agg for  EPM

    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              EPM     0               37.762238    1  37.937063  40.675991
1              EPM     1               37.878788    1  37.762238  40.093240
2              EPM     2               39.335664    1  37.878788  39.393939
3              EPM     3               39.772727    1  39.335664  38.578089
4              EPM     4               49.533800    1  39.772727  47.668998
..             ...   ...                     ...  ...        ...        ...
739            EPM    19               41.171329   31  40.734266  38.228438
740            EPM    20               41.025641   31  41.171329  38.461538
741            EPM    21               42.074592   31  41.025641  39.976690
742            EPM    22               40.180653   31  42.074592  42.191142
743            EPM    23               38.286713   31  40.180653  42.074592

[744 rows x 6 columns]
Getting sept data agg for  GM1A
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               40.589372    1           GM1A        NaN        NaN
1       1               35.875604    1           GM1A  40.589372        NaN
2       2               36.352657    1           GM1A  35.875604        NaN
3       3               28.260870    1           GM1A  36.352657        NaN
4       4               28.260870    1           GM1A  28.260870        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               35.513285   30           GM1A  27.536232  27.536232
716    20               27.536232   30           GM1A  35.513285  27.536232
717    21               27.536232   30           GM1A  27.536232  27.536232
718    22               27.536232   30           GM1A  27.536232  27.536232
719    23               27.536232   30           GM1A  27.536232  27.536232

[720 rows x 6 columns]
Getting oct data agg for  GM1A
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             GM1A     0               27.536232    1  27.536232  27.536232
1             GM1A     1               27.536232    1  27.536232  27.536232
2             GM1A     2               27.536232    1  27.536232  27.536232
3             GM1A     3               28.180354    1  27.536232  27.536232
4             GM1A     4               28.502415    1  28.180354  27.536232
..             ...   ...                     ...  ...        ...        ...
739           GM1A    19               40.579710   31  40.579710  27.536232
740           GM1A    20               40.579710   31  40.579710  27.536232
741           GM1A    21               40.579710   31  40.579710  27.536232
742           GM1A    22               40.579710   31  40.579710  27.536232
743           GM1A    23               40.579710   31  40.579710  27.536232

[744 rows x 6 columns]
Getting sept data agg for  GM1M
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               45.577342    1           GM1M        NaN        NaN
1       1               45.163399    1           GM1M  45.577342        NaN
2       2               45.206972    1           GM1M  45.163399        NaN
3       3               45.076253    1           GM1M  45.206972        NaN
4       4               45.228758    1           GM1M  45.076253        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               62.532680   30           GM1M  66.666667  62.331155
716    20               57.734205   30           GM1M  62.532680  58.888889
717    21               54.030501   30           GM1M  57.734205  56.388889
718    22               51.459695   30           GM1M  54.030501  52.418301
719    23               49.771242   30           GM1M  51.459695  50.441176

[720 rows x 6 columns]
Getting oct data agg for  GM1M
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             GM1M     0               47.037037    1  49.771242  48.235294
1             GM1M     1               46.230937    1  47.037037  47.009804
2             GM1M     2               45.838780    1  46.230937  46.165577
3             GM1M     3               45.555556    1  45.838780  45.882353
4             GM1M     4               45.359477    1  45.555556  45.947712
..             ...   ...                     ...  ...        ...        ...
739           GM1M    19               59.498911   31  63.137255  53.137255
740           GM1M    20               54.493464   31  59.498911  50.108932
741           GM1M    21               50.348584   31  54.493464  47.777778
742           GM1M    22               47.973856   31  50.348584  46.879085
743           GM1M    23               46.732026   31  47.973856  46.492375

[744 rows x 6 columns]
Getting sept data agg for  GM2
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               75.384615    1            GM2        NaN        NaN
1       1               69.743590    1            GM2  75.384615        NaN
2       2               71.282051    1            GM2  69.743590        NaN
3       3                0.000000    1            GM2  71.282051        NaN
4       4                0.000000    1            GM2   0.000000        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               17.435897   30            GM2  31.794872  32.307692
716    20               27.692308   30            GM2  17.435897  43.076923
717    21               52.307692   30            GM2  27.692308  54.871795
718    22               59.487179   30            GM2  52.307692  62.307692
719    23               64.615385   30            GM2  59.487179  65.384615

[720 rows x 6 columns]
Getting oct data agg for  GM2
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              GM2     0               66.153846    1  64.615385  64.615385
1              GM2     1               62.564103    1  66.153846  63.076923
2              GM2     2               62.307692    1  62.564103  63.076923
3              GM2     3               53.461538    1  62.307692  63.076923
4              GM2     4               49.230769    1  53.461538  60.512821
..             ...   ...                     ...  ...        ...        ...
739            GM2    19               23.076923   31  10.769231  30.769231
740            GM2    20               39.230769   31  23.076923  46.153846
741            GM2    21               58.974359   31  39.230769  60.512821
742            GM2    22               57.948718   31  58.974359  63.589744
743            GM2    23               66.153846   31  57.948718  68.717949

[744 rows x 6 columns]
Getting sept data agg for  GM2A
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               29.623288    1           GM2A        NaN        NaN
1       1               27.397260    1           GM2A  29.623288        NaN
2       2               26.255708    1           GM2A  27.397260        NaN
3       3               26.255708    1           GM2A  26.255708        NaN
4       4               23.744292    1           GM2A  26.255708        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               43.150685   30           GM2A  43.150685  48.287671
716    20               43.321918   30           GM2A  43.150685  48.630137
717    21               40.182648   30           GM2A  43.321918  46.118721
718    22               36.986301   30           GM2A  40.182648  43.493151
719    23               34.931507   30           GM2A  36.986301  41.609589

[720 rows x 6 columns]
Getting oct data agg for  GM2A
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             GM2A     0               27.853881    1  34.931507  36.073059
1             GM2A     1               24.200913    1  27.853881  31.506849
2             GM2A     2               23.287671    1  24.200913  28.082192
3             GM2A     3               21.917808    1  23.287671  26.484018
4             GM2A     4               18.949772    1  21.917808  22.374429
..             ...   ...                     ...  ...        ...        ...
739           GM2A    19               50.000000   31  56.621005  49.086758
740           GM2A    20               43.664384   31  50.000000  46.347032
741           GM2A    21               40.182648   31  43.664384  40.867580
742           GM2A    22               35.388128   31  40.182648  35.616438
743           GM2A    23               32.876712   31  35.388128  35.388128

[744 rows x 6 columns]
Getting sept data agg for  GM3

     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               69.196429    1            GM3        NaN        NaN
1       1               70.238095    1            GM3  69.196429        NaN
2       2               69.642857    1            GM3  70.238095        NaN
3       3               72.023810    1            GM3  69.642857        NaN
4       4               64.880952    1            GM3  72.023810        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               19.047619   30            GM3   6.547619  20.535714
716    20               38.392857   30            GM3  19.047619  32.142857
717    21               63.690476   30            GM3  38.392857  63.690476
718    22               70.833333   30            GM3  63.690476  77.678571
719    23               75.892857   30            GM3  70.833333  75.000000

[720 rows x 6 columns]
Getting oct data agg for  GM3
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              GM3     0               77.380952    1  75.892857  75.595238
1              GM3     1               77.380952    1  77.380952  78.571429
2              GM3     2               76.785714    1  77.380952  76.785714
3              GM3     3               71.428571    1  76.785714  72.619048
4              GM3     4               61.904762    1  71.428571  66.666667
..             ...   ...                     ...  ...        ...        ...
739            GM3    19               14.880952   31   0.000000  35.119048
740            GM3    20               40.178571   31  14.880952  44.047619
741            GM3    21               68.452381   31  40.178571  61.904762
742            GM3    22               72.619048   31  68.452381  71.428571
743            GM3    23               79.464286   31  72.619048  74.404762

[744 rows x 6 columns]
Getting sept data agg for  GM5
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               76.271186    1            GM5        NaN        NaN
1       1               76.836158    1            GM5  76.271186        NaN
2       2               77.118644    1            GM5  76.836158        NaN
3       3               77.683616    1            GM5  77.118644        NaN
4       4               75.706215    1            GM5  77.683616        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               58.192090   30            GM5  54.519774  55.932203
716    20               68.644068   30            GM5  58.192090  70.762712
717    21               71.751412   30            GM5  68.644068  75.706215
718    22               71.468927   30            GM5  71.751412  75.847458
719    23               71.186441   30            GM5  71.468927  77.330508

[720 rows x 6 columns]
Getting oct data agg for  GM5
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              GM5     0               72.316384    1  71.186441  78.813559
1              GM5     1               74.858757    1  72.316384  79.096045
2              GM5     2               73.728814    1  74.858757  75.988701
3              GM5     3               74.788136    1  73.728814  76.271186
4              GM5     4               74.011299    1  74.788136  73.163842
..             ...   ...                     ...  ...        ...        ...
739            GM5    19               56.779661   31  46.610169  55.932203
740            GM5    20               69.703390   31  56.779661  62.429379
741            GM5    21               75.423729   31  69.703390  64.406780
742            GM5    22               76.553672   31  75.423729  73.163842
743            GM5    23               75.847458   31  76.553672  75.141243

[744 rows x 6 columns]
Getting sept data agg for  GM6A
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               33.383234    1           GM6A        NaN        NaN
1       1               32.135729    1           GM6A  33.383234        NaN
2       2               31.337325    1           GM6A  32.135729        NaN
3       3               32.335329    1           GM6A  31.337325        NaN
4       4               32.335329    1           GM6A  32.335329        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               58.483034   30           GM6A  61.277445  59.281437
716    20               52.395210   30           GM6A  58.483034  55.239521
717    21               49.500998   30           GM6A  52.395210  47.504990
718    22               45.908184   30           GM6A  49.500998  44.910180
719    23               42.215569   30           GM6A  45.908184  42.814371

[720 rows x 6 columns]
Getting oct data agg for  GM6A
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             GM6A     0               38.922156    1  42.215569  38.522954
1             GM6A     1               36.526946    1  38.922156  37.125749
2             GM6A     2               35.728543    1  36.526946  36.327345
3             GM6A     3               36.526946    1  35.728543  36.726547
4             GM6A     4               36.526946    1  36.526946  37.325349
..             ...   ...                     ...  ...        ...        ...
739           GM6A    19               60.079840   31  67.065868  46.706587
740           GM6A    20               53.592814   31  60.079840  40.518962
741           GM6A    21               45.908184   31  53.592814  36.926148
742           GM6A    22               42.914172   31  45.908184  36.926148
743           GM6A    23               39.520958   31  42.914172  38.323353

[744 rows x 6 columns]
Getting sept data agg for  GM6B
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               73.060345    1           GM6B        NaN        NaN
1       1               71.982759    1           GM6B  73.060345        NaN
2       2               69.971264    1           GM6B  71.982759        NaN
3       3               69.827586    1           GM6B  69.971264        NaN
4       4               69.827586    1           GM6B  69.827586        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               75.718391   30           GM6B  77.873563  75.000000
716    20               77.478448   30           GM6B  75.718391  73.599138
717    21               78.735632   30           GM6B  77.478448  73.275862
718    22               76.867816   30           GM6B  78.735632  75.215517
719    23               76.724138   30           GM6B  76.867816  75.107759

[720 rows x 6 columns]
Getting oct data agg for  GM6B
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             GM6B     0               74.137931    1  76.724138  73.419540
1             GM6B     1               74.137931    1  74.137931  73.275862
2             GM6B     2               73.563218    1  74.137931  73.275862
3             GM6B     3               74.712644    1  73.563218  72.844828
4             GM6B     4               74.712644    1  74.712644  73.563218
..             ...   ...                     ...  ...        ...        ...
739           GM6B    19               68.821839   31  71.408046  58.908046
740           GM6B    20               70.581897   31  68.821839  57.614943
741           GM6B    21               72.701149   31  70.581897  64.224138
742           GM6B    22               72.557471   31  72.701149  66.954023
743           GM6B    23               70.905172   31  72.557471  69.109195

[744 rows x 6 columns]
Getting sept data agg for  H12
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               48.314607    1            H12        NaN        NaN
1       1               48.314607    1            H12  48.314607        NaN
2       2               48.314607    1            H12  48.314607        NaN
3       3               48.314607    1            H12  48.314607        NaN
4       4               48.314607    1            H12  48.314607        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               48.876404   30            H12  48.876404  55.337079
716    20               48.876404   30            H12  48.876404  55.337079
717    21               48.876404   30            H12  48.876404  55.337079
718    22               48.876404   30            H12  48.876404  55.337079
719    23               48.876404   30            H12  48.876404  55.337079

[720 rows x 6 columns]
Getting oct data agg for  H12

    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              H12     0               48.876404    1  48.876404  55.337079
1              H12     1               48.876404    1  48.876404  55.337079
2              H12     2               48.876404    1  48.876404  55.337079
3              H12     3               48.876404    1  48.876404  55.337079
4              H12     4               48.876404    1  48.876404  55.337079
..             ...   ...                     ...  ...        ...        ...
739            H12    19               49.438202   31  49.438202  49.438202
740            H12    20               49.438202   31  49.438202  49.438202
741            H12    21               49.438202   31  49.438202  62.078652
742            H12    22               49.438202   31  49.438202  49.438202
743            H12    23               49.438202   31  49.438202  49.438202

[744 rows x 6 columns]
Getting sept data agg for  H14
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               55.844768    1            H14        NaN        NaN
1       1               51.818182    1            H14  55.844768        NaN
2       2               51.818182    1            H14  51.818182        NaN
3       3               51.818182    1            H14  51.818182        NaN
4       4               51.818182    1            H14  51.818182        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               52.727273   30            H14  52.727273  67.272727
716    20               52.727273   30            H14  52.727273  67.272727
717    21               52.727273   30            H14  52.727273  67.272727
718    22               52.727273   30            H14  52.727273  75.454545
719    23               52.727273   30            H14  52.727273  67.272727

[720 rows x 6 columns]
Getting oct data agg for  H14
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              H14     0               52.727273    1  52.727273  67.272727
1              H14     1               52.727273    1  52.727273  67.272727
2              H14     2               52.727273    1  52.727273  67.272727
3              H14     3               52.727273    1  52.727273  67.272727
4              H14     4               52.727273    1  52.727273  67.272727
..             ...   ...                     ...  ...        ...        ...
739            H14    19               53.181818   31  64.886364  53.181818
740            H14    20               53.181818   31  53.181818  53.181818
741            H14    21               53.181818   31  53.181818  53.181818
742            H14    22               53.181818   31  53.181818  53.181818
743            H14    23               53.181818   31  53.181818  53.181818

[744 rows x 6 columns]
Getting sept data agg for  H17
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               34.643377    1            H17        NaN        NaN
1       1               33.187773    1            H17  34.643377        NaN
2       2               33.187773    1            H17  33.187773        NaN
3       3               33.770015    1            H17  33.187773        NaN
4       4               34.934498    1            H17  33.770015        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               30.422125   30            H17  43.377001  38.209607
716    20               37.991266   30            H17  30.422125  33.515284
717    21               39.883552   30            H17  37.991266  36.244541
718    22               41.048035   30            H17  39.883552  37.991266
719    23               34.934498   30            H17  41.048035  35.152838

[720 rows x 6 columns]
Getting oct data agg for  H17
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              H17     0               26.491994    1  34.934498  28.238719
1              H17     1               24.163028    1  26.491994  26.055313
2              H17     2               24.308588    1  24.163028  25.909753
3              H17     3               32.605531    1  24.308588  32.023290
4              H17     4               32.314410    1  32.605531  32.168850
..             ...   ...                     ...  ...        ...        ...
475            H17    19               60.698690   31  63.464338  28.675400
476            H17    20               61.135371   31  60.698690  32.459971
477            H17    21               53.493450   31  61.135371  35.080058
478            H17    22               52.183406   31  53.493450  33.187773
479            H17    23               49.199418   31  52.183406  27.074236

[480 rows x 6 columns]
Getting sept data agg for  H18
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               62.698413    1            H18        NaN        NaN
1       1               62.202381    1            H18  62.698413        NaN
2       2               62.202381    1            H18  62.202381        NaN
3       3               61.507937    1            H18  62.202381        NaN
4       4               61.111111    1            H18  61.507937        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               54.166667   30            H18  56.250000  52.827381
716    20               55.505952   30            H18  54.166667  54.538690
717    21               58.928571   30            H18  55.505952  60.416667
718    22               61.408730   30            H18  58.928571  60.565476
719    23               61.309524   30            H18  61.408730  62.872024

[720 rows x 6 columns]
Getting oct data agg for  H18
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              H18     0               63.888889    1  61.309524  59.126984
1              H18     1               63.988095    1  63.888889  58.234127
2              H18     2               65.277778    1  63.988095  57.142857
3              H18     3               60.714286    1  65.277778  59.821429
4              H18     4               60.119048    1  60.714286  59.523810
..             ...   ...                     ...  ...        ...        ...
475            H18    19               75.099206   31  79.761905  61.408730
476            H18    20               76.041667   31  75.099206  61.607143
477            H18    21               70.312500   31  76.041667  64.880952
478            H18    22               68.303571   31  70.312500  65.773810
479            H18    23               67.956349   31  68.303571  60.044643

[480 rows x 6 columns]
Getting sept data agg for  H3
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               11.486486    1             H3        NaN        NaN
1       1               11.486486    1             H3  11.486486        NaN
2       2               11.486486    1             H3  11.486486        NaN
3       3               11.486486    1             H3  11.486486        NaN
4       4               11.486486    1             H3  11.486486        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               10.810811   30             H3  10.810811  68.918919
716    20               10.810811   30             H3  10.810811  68.918919
717    21               10.810811   30             H3  10.810811  68.918919
718    22               10.810811   30             H3  10.810811  68.918919
719    23               10.810811   30             H3  10.810811  68.918919

[720 rows x 6 columns]
Getting oct data agg for  H3
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0               H3     0               10.810811    1  10.810811  68.918919
1               H3     1               10.810811    1  10.810811  68.918919
2               H3     2               10.810811    1  10.810811  68.918919
3               H3     3               10.810811    1  10.810811  68.918919
4               H3     4               10.810811    1  10.810811  68.918919
..             ...   ...                     ...  ...        ...        ...
739             H3    19               10.810811   31  33.108108  10.810811
740             H3    20               10.810811   31  10.810811  10.810811
741             H3    21               10.810811   31  10.810811  10.810811
742             H3    22               10.810811   31  10.810811  10.810811
743             H3    23               10.810811   31  10.810811  10.810811

[744 rows x 6 columns]
Getting sept data agg for  H4

     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               45.343137    1             H4        NaN        NaN
1       1               49.673203    1             H4  45.343137        NaN
2       2               50.653595    1             H4  49.673203        NaN
3       3               51.633987    1             H4  50.653595        NaN
4       4               50.653595    1             H4  51.633987        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               22.549020   30             H4  43.790850  42.156863
716    20               15.441176   30             H4  22.549020  22.058824
717    21               48.039216   30             H4  15.441176  45.424837
718    22               59.150327   30             H4  48.039216  61.764706
719    23               61.274510   30             H4  59.150327  67.401961

[720 rows x 6 columns]
Getting oct data agg for  H4
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0               H4     0               76.470588    1  61.274510  77.777778
1               H4     1               83.006536    1  76.470588  83.333333
2               H4     2               82.026144    1  83.006536  85.294118
3               H4     3               82.679739    1  82.026144  80.392157
4               H4     4               81.045752    1  82.679739  80.718954
..             ...   ...                     ...  ...        ...        ...
475             H4    19               49.019608   31  72.875817  31.699346
476             H4    20               50.490196   31  49.019608  13.398693
477             H4    21               72.794118   31  50.490196  39.869281
478             H4    22               74.019608   31  72.794118  60.784314
479             H4    23               71.241830   31  74.019608  70.343137

[480 rows x 6 columns]
Getting sept data agg for  H6
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               38.679245    1             H6        NaN        NaN
1       1               38.050314    1             H6  38.679245        NaN
2       2               37.028302    1             H6  38.050314        NaN
3       3               36.674528    1             H6  37.028302        NaN
4       4               35.377358    1             H6  36.674528        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               46.698113   30             H6  46.933962  52.122642
716    20               45.283019   30             H6  46.698113  51.886792
717    21               43.867925   30             H6  45.283019  51.415094
718    22               38.522013   30             H6  43.867925  48.584906
719    23               35.377358   30             H6  38.522013  45.911950

[720 rows x 6 columns]
Getting oct data agg for  H6
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0               H6     0               31.446541    1  35.377358  44.654088
1               H6     1               31.132075    1  31.446541  44.654088
2               H6     2               30.896226    1  31.132075  42.295597
3               H6     3               32.547170    1  30.896226  40.566038
4               H6     4               32.665094    1  32.547170  39.779874
..             ...   ...                     ...  ...        ...        ...
739             H6    19               48.427673   31  51.415094  48.742138
740             H6    20               46.698113   31  48.427673  45.754717
741             H6    21               43.238994   31  46.698113  42.452830
742             H6    22               38.364780   31  43.238994  40.723270
743             H6    23               37.264151   31  38.364780  39.937107

[744 rows x 6 columns]
Getting sept data agg for  H8
     hour  percent_lots_available  day carpark_number      lag_1  lag_168
0       0               28.048780    1             H8        NaN      NaN
1       1               28.048780    1             H8  28.048780      NaN
2       2               28.048780    1             H8  28.048780      NaN
3       3               28.048780    1             H8  28.048780      NaN
4       4               28.048780    1             H8  28.048780      NaN
..    ...                     ...  ...            ...        ...      ...
715    19               54.878049   30             H8  54.878049     50.0
716    20               60.389306   30             H8  54.878049     50.0
717    21               54.878049   30             H8  60.389306     50.0
718    22               54.878049   30             H8  54.878049     50.0
719    23               54.878049   30             H8  54.878049     50.0

[720 rows x 6 columns]
Getting oct data agg for  H8
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0               H8     0               54.878049    1  54.878049  50.000000
1               H8     1               54.878049    1  54.878049  50.000000
2               H8     2               54.878049    1  54.878049  50.000000
3               H8     3               54.878049    1  54.878049  50.000000
4               H8     4               54.878049    1  54.878049  50.000000
..             ...   ...                     ...  ...        ...        ...
739             H8    19               31.707317   31  31.707317  31.707317
740             H8    20               31.707317   31  31.707317  31.707317
741             H8    21               31.707317   31  31.707317  31.707317
742             H8    22               31.707317   31  31.707317  31.707317
743             H8    23               31.707317   31  31.707317  31.707317

[744 rows x 6 columns]
Getting sept data agg for  HCM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               72.020725    1            HCM        NaN        NaN
1       1               72.020725    1            HCM  72.020725        NaN
2       2               72.020725    1            HCM  72.020725        NaN
3       3               72.020725    1            HCM  72.020725        NaN
4       4               79.015544    1            HCM  72.020725        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               69.430052   30            HCM  69.430052  85.751295
716    20               69.430052   30            HCM  69.430052  85.751295
717    21               69.430052   30            HCM  69.430052  85.751295
718    22               69.430052   30            HCM  69.430052  85.751295
719    23               69.430052   30            HCM  69.430052  85.751295

[720 rows x 6 columns]
Getting oct data agg for  HCM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              HCM     0               69.430052    1  69.430052  85.751295
1              HCM     1               69.430052    1  69.430052  81.380779
2              HCM     2               69.430052    1  69.430052  85.751295
3              HCM     3               69.430052    1  69.430052  85.751295
4              HCM     4               69.430052    1  69.430052  85.751295
..             ...   ...                     ...  ...        ...        ...
739            HCM    19               66.839378   31  66.839378  66.839378
740            HCM    20               66.839378   31  66.839378  66.839378
741            HCM    21               66.839378   31  66.839378  66.839378
742            HCM    22               66.839378   31  66.839378  66.839378
743            HCM    23               66.839378   31  66.839378  66.839378

[744 rows x 6 columns]
Getting sept data agg for  HE1
     hour  percent_lots_available  day carpark_number     lag_1    lag_168
0       0                4.761905    1            HE1       NaN        NaN
1       1                4.761905    1            HE1  4.761905        NaN
2       2                4.761905    1            HE1  4.761905        NaN
3       3                4.761905    1            HE1  4.761905        NaN
4       4                4.761905    1            HE1  4.761905        NaN
..    ...                     ...  ...            ...       ...        ...
715    19                0.000000   30            HE1  0.000000  19.047619
716    20                0.000000   30            HE1  0.000000  19.047619
717    21                0.000000   30            HE1  0.000000  19.047619
718    22                0.000000   30            HE1  0.000000  19.047619
719    23                0.000000   30            HE1  0.000000  19.047619

[720 rows x 6 columns]
Getting oct data agg for  HE1

    carpark_number  hour  percent_lots_available  day       lag_1    lag_168
0              HE1     0                0.000000    1    0.000000  19.047619
1              HE1     1                0.000000    1    0.000000  19.047619
2              HE1     2                0.000000    1    0.000000  19.047619
3              HE1     3                0.000000    1    0.000000  19.047619
4              HE1     4                0.000000    1    0.000000  19.047619
..             ...   ...                     ...  ...         ...        ...
739            HE1    19              139.285714   31   19.047619   4.761905
740            HE1    20               19.047619   31  139.285714   4.761905
741            HE1    21               19.047619   31   19.047619   4.761905
742            HE1    22               19.047619   31   19.047619   4.761905
743            HE1    23               19.047619   31   19.047619   9.523810

[744 rows x 6 columns]
Getting sept data agg for  HE12
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               49.841270    1           HE12        NaN        NaN
1       1               57.777778    1           HE12  49.841270        NaN
2       2               53.333333    1           HE12  57.777778        NaN
3       3               50.158730    1           HE12  53.333333        NaN
4       4               40.000000    1           HE12  50.158730        NaN
..    ...                     ...  ...            ...        ...        ...
715    19                0.000000   30           HE12   0.000000   0.000000
716    20                0.000000   30           HE12   0.000000  15.238095
717    21                0.000000   30           HE12   0.000000  30.476190
718    22               10.476190   30           HE12   0.000000  41.428571
719    23               20.952381   30           HE12  10.476190  41.904762

[720 rows x 6 columns]
Getting oct data agg for  HE12
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             HE12     0               21.904762    1  20.952381  43.809524
1             HE12     1               21.904762    1  21.904762  43.095238
2             HE12     2               19.523810    1  21.904762  37.460317
3             HE12     3               15.714286    1  19.523810  31.111111
4             HE12     4                3.809524    1  15.714286  22.857143
..             ...   ...                     ...  ...        ...        ...
739           HE12    19               18.571429   31  15.238095  11.111111
740           HE12    20               34.603175   31  18.571429  35.873016
741           HE12    21               57.142857   31  34.603175  63.333333
742           HE12    22               63.174603   31  57.142857  72.142857
743           HE12    23               62.380952   31  63.174603  71.746032

[744 rows x 6 columns]
Getting sept data agg for  HE17
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               64.722222    1           HE17        NaN        NaN
1       1               61.388889    1           HE17  64.722222        NaN
2       2               58.750000    1           HE17  61.388889        NaN
3       3               59.166667    1           HE17  58.750000        NaN
4       4               60.000000    1           HE17  59.166667        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               69.791667   30           HE17  71.250000  74.444444
716    20               69.166667   30           HE17  69.791667  70.277778
717    21               68.541667   30           HE17  69.166667  68.888889
718    22               65.833333   30           HE17  68.541667  66.388889
719    23               63.333333   30           HE17  65.833333  62.777778

[720 rows x 6 columns]
Getting oct data agg for  HE17
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             HE17     0               60.000000    1  63.333333  58.888889
1             HE17     1               55.833333    1  60.000000  55.833333
2             HE17     2               53.055556    1  55.833333  55.833333
3             HE17     3               51.666667    1  53.055556  53.888889
4             HE17     4               55.555556    1  51.666667  55.277778
..             ...   ...                     ...  ...        ...        ...
739           HE17    19               56.666667   31  57.083333  63.333333
740           HE17    20               58.055556   31  56.666667  61.111111
741           HE17    21               59.166667   31  58.055556  63.888889
742           HE17    22               54.722222   31  59.166667  62.777778
743           HE17    23               52.083333   31  54.722222  58.611111

[744 rows x 6 columns]
Getting sept data agg for  HE19
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               58.064516    1           HE19        NaN        NaN
1       1               58.064516    1           HE19  58.064516        NaN
2       2               58.064516    1           HE19  58.064516        NaN
3       3               58.064516    1           HE19  58.064516        NaN
4       4               58.064516    1           HE19  58.064516        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               59.139785   30           HE19  59.139785  78.494624
716    20               59.139785   30           HE19  59.139785  78.494624
717    21               59.139785   30           HE19  59.139785  78.494624
718    22               59.139785   30           HE19  59.139785  78.494624
719    23               59.139785   30           HE19  59.139785  78.494624

[720 rows x 6 columns]
Getting oct data agg for  HE19
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             HE19     0               59.139785    1  59.139785  78.494624
1             HE19     1               59.139785    1  59.139785  78.494624
2             HE19     2               59.139785    1  59.139785  78.494624
3             HE19     3               59.139785    1  59.139785  78.494624
4             HE19     4               59.139785    1  59.139785  78.494624
..             ...   ...                     ...  ...        ...        ...
739           HE19    19               44.086022   31  43.064516  44.086022
740           HE19    20               43.064516   31  44.086022  44.086022
741           HE19    21               44.086022   31  43.064516  44.086022
742           HE19    22               44.086022   31  44.086022  44.086022
743           HE19    23               44.086022   31  44.086022  44.086022

[744 rows x 6 columns]
Getting sept data agg for  HE24
     hour  percent_lots_available  day carpark_number     lag_1   lag_168
0       0                0.000000    1           HE24       NaN       NaN
1       1                0.000000    1           HE24  0.000000       NaN
2       2                0.000000    1           HE24  0.000000       NaN
3       3                0.000000    1           HE24  0.000000       NaN
4       4                0.000000    1           HE24  0.000000       NaN
..    ...                     ...  ...            ...       ...       ...
715    19                3.846154   30           HE24  3.846154  3.846154
716    20                3.846154   30           HE24  3.846154  3.846154
717    21                3.846154   30           HE24  3.846154  3.846154
718    22                3.846154   30           HE24  3.846154  3.846154
719    23                3.846154   30           HE24  3.846154  3.846154

[720 rows x 6 columns]
Getting oct data agg for  HE24
    carpark_number  hour  percent_lots_available  day     lag_1   lag_168
0             HE24     0                3.846154    1  3.846154  3.846154
1             HE24     1                3.846154    1  3.846154  3.846154
2             HE24     2                3.846154    1  3.846154  3.846154
3             HE24     3                3.846154    1  3.846154  3.846154
4             HE24     4                3.846154    1  3.846154  3.846154
..             ...   ...                     ...  ...       ...       ...
739           HE24    19                3.846154   31  3.846154  7.692308
740           HE24    20                3.846154   31  3.846154  7.692308
741           HE24    21                3.846154   31  3.846154  7.692308
742           HE24    22                7.884615   31  3.846154  7.692308
743           HE24    23                3.846154   31  7.884615  7.692308

[744 rows x 6 columns]
Getting sept data agg for  HE3

     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0                1.351351    1            HE3        NaN        NaN
1       1                1.351351    1            HE3   1.351351        NaN
2       2                1.351351    1            HE3   1.351351        NaN
3       3                1.351351    1            HE3   1.351351        NaN
4       4               17.522947    1            HE3   1.351351        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               51.599949   30            HE3  58.108108  58.108108
716    20               58.108108   30            HE3  51.599949  58.108108
717    21               58.108108   30            HE3  58.108108  58.108108
718    22               58.108108   30            HE3  58.108108  58.108108
719    23               58.108108   30            HE3  58.108108  58.108108

[720 rows x 6 columns]
Getting oct data agg for  HE3
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              HE3     0               58.108108    1  58.108108  58.108108
1              HE3     1               58.108108    1  58.108108  58.108108
2              HE3     2               58.108108    1  58.108108  58.108108
3              HE3     3               58.108108    1  58.108108  58.108108
4              HE3     4               58.108108    1  58.108108  58.108108
..             ...   ...                     ...  ...        ...        ...
739            HE3    19               58.108108   31  58.108108  58.108108
740            HE3    20               58.108108   31  58.108108  58.108108
741            HE3    21               58.108108   31  58.108108  58.108108
742            HE3    22               58.108108   31  58.108108  58.108108
743            HE3    23               58.108108   31  58.108108  58.108108

[744 rows x 6 columns]
Getting sept data agg for  HE4
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               50.000000    1            HE4        NaN        NaN
1       1               50.000000    1            HE4  50.000000        NaN
2       2               50.000000    1            HE4  50.000000        NaN
3       3               50.000000    1            HE4  50.000000        NaN
4       4               55.833333    1            HE4  50.000000        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               68.548387   30            HE4  68.548387  68.548387
716    20               68.548387   30            HE4  68.548387  68.548387
717    21               68.548387   30            HE4  68.548387  68.548387
718    22               68.548387   30            HE4  68.548387  63.077957
719    23               68.548387   30            HE4  68.548387  68.548387

[720 rows x 6 columns]
Getting oct data agg for  HE4
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              HE4     0               68.548387    1  68.548387  68.548387
1              HE4     1               68.548387    1  68.548387  63.077957
2              HE4     2               63.077957    1  68.548387  68.548387
3              HE4     3               68.548387    1  63.077957  68.548387
4              HE4     4               68.548387    1  68.548387  68.548387
..             ...   ...                     ...  ...        ...        ...
739            HE4    19                0.000000   31   0.000000   0.000000
740            HE4    20                0.000000   31   0.000000   0.000000
741            HE4    21               11.666667   31   0.000000   0.000000
742            HE4    22                0.000000   31  11.666667   0.000000
743            HE4    23                0.000000   31   0.000000   0.000000

[744 rows x 6 columns]
Getting sept data agg for  HE9
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0                0.000000    1            HE9        NaN        NaN
1       1                0.000000    1            HE9   0.000000        NaN
2       2                0.000000    1            HE9   0.000000        NaN
3       3                0.000000    1            HE9   0.000000        NaN
4       4                0.000000    1            HE9   0.000000        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               60.112360   30            HE9  58.988764  52.434457
716    20               53.183521   30            HE9  60.112360  45.318352
717    21               53.558052   30            HE9  53.183521  45.318352
718    22               47.565543   30            HE9  53.558052  46.067416
719    23               42.696629   30            HE9  47.565543  44.194757

[720 rows x 6 columns]
Getting oct data agg for  HE9
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              HE9     0               40.074906    1  42.696629  44.943820
1              HE9     1               41.573034    1  40.074906  41.573034
2              HE9     2               38.764045    1  41.573034  40.449438
3              HE9     3               40.168539    1  38.764045  43.820225
4              HE9     4               38.951311    1  40.168539  45.318352
..             ...   ...                     ...  ...        ...        ...
739            HE9    19               41.947566   31  49.157303  61.423221
740            HE9    20               37.827715   31  41.947566  52.528090
741            HE9    21               39.325843   31  37.827715  51.310861
742            HE9    22               40.823970   31  39.325843  52.434457
743            HE9    23               42.696629   31  40.823970  49.438202

[744 rows x 6 columns]
Getting sept data agg for  HLM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               81.818182    1            HLM        NaN        NaN
1       1               82.218411    1            HLM  81.818182        NaN
2       2               82.046884    1            HLM  82.218411        NaN
3       3               81.932533    1            HLM  82.046884        NaN
4       4               81.646655    1            HLM  81.932533        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               40.608919   30            HLM  40.823328  29.245283
716    20               46.540881   30            HLM  40.608919  31.132075
717    21               60.491710   30            HLM  46.540881  49.113779
718    22               73.299028   30            HLM  60.491710  64.408233
719    23               77.444254   30            HLM  73.299028  73.198971

[720 rows x 6 columns]
Getting oct data agg for  HLM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              HLM     0               80.560320    1  77.444254  76.329331
1              HLM     1               81.074900    1  80.560320  77.072613
2              HLM     2               81.589480    1  81.074900  77.530017
3              HLM     3               81.703831    1  81.589480  77.758719
4              HLM     4               81.417953    1  81.703831  77.758719
..             ...   ...                     ...  ...        ...        ...
739            HLM    19               50.657519   31  39.322470  54.259577
740            HLM    20               65.580332   31  50.657519  59.405374
741            HLM    21               75.986278   31  65.580332  66.466552
742            HLM    22               80.789022   31  75.986278  71.612350
743            HLM    23               80.960549   31  80.789022  82.961692

[744 rows x 6 columns]
Getting sept data agg for  HRM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               51.131824    1            HRM        NaN        NaN
1       1               50.244119    1            HRM  51.131824        NaN
2       2               49.489569    1            HRM  50.244119        NaN
3       3               49.578340    1            HRM  49.489569        NaN
4       4               49.600533    1            HRM  49.578340        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               65.712383   30            HRM  67.310253  65.978695
716    20               62.316911   30            HRM  65.712383  62.494452
717    21               58.810475   30            HRM  62.316911  60.619174
718    22               55.037727   30            HRM  58.810475  58.655126
719    23               54.527297   30            HRM  55.037727  56.724368

[720 rows x 6 columns]
Getting oct data agg for  HRM

    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              HRM     0               52.818464    1  54.527297  54.394141
1              HRM     1               51.708833    1  52.818464  52.663116
2              HRM     2               50.466045    1  51.708833  51.442521
3              HRM     3               50.377275    1  50.466045  51.087439
4              HRM     4               50.244119    1  50.377275  51.131824
..             ...   ...                     ...  ...        ...        ...
739            HRM    19               63.426542   31  68.009321  59.920107
740            HRM    20               60.186418   31  63.426542  57.567688
741            HRM    21               56.591212   31  60.186418  55.858855
742            HRM    22               52.951620   31  56.591212  54.826897
743            HRM    23               51.065246   31  52.951620  52.463382

[744 rows x 6 columns]
Getting sept data agg for  HVM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               40.318001    1            HVM        NaN        NaN
1       1               39.693356    1            HVM  40.318001        NaN
2       2               38.898353    1            HVM  39.693356        NaN
3       3               38.727995    1            HVM  38.898353        NaN
4       4               38.671210    1            HVM  38.727995        NaN
..    ...                     ...  ...            ...        ...        ...
691    19               61.201022   30            HVM  67.688813  54.911982
692    20               56.104486   30            HVM  61.201022  51.022147
693    21               54.684838   30            HVM  56.104486  50.028393
694    22               55.309483   30            HVM  54.684838  46.848382
695    23               53.151618   30            HVM  55.309483  43.909710

[696 rows x 6 columns]
Getting oct data agg for  HVM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              HVM     0               50.028393    1  53.151618  42.703010
1              HVM     1               48.779103    1  50.028393  41.510505
2              HVM     2               47.700170    1  48.779103  40.318001
3              HVM     3               44.009086    1  47.700170  40.034072
4              HVM     4               44.065872    1  44.009086  40.374787
..             ...   ...                     ...  ...        ...        ...
739            HVM    19               54.003407   31  60.533788  52.299830
740            HVM    20               52.299830   31  54.003407  50.369108
741            HVM    21               48.381601   31  52.299830  48.211244
742            HVM    22               45.371948   31  48.381601  45.741056
743            HVM    23               43.526405   31  45.371948  43.327655

[744 rows x 6 columns]
Getting sept data agg for  JBM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               59.161793    1            JBM        NaN        NaN
1       1               58.284600    1            JBM  59.161793        NaN
2       2               57.115010    1            JBM  58.284600        NaN
3       3               57.894737    1            JBM  57.115010        NaN
4       4               57.894737    1            JBM  57.894737        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               75.657895   30            JBM  76.754386  75.584795
716    20               71.929825   30            JBM  75.657895  73.245614
717    21               68.518519   30            JBM  71.929825  72.222222
718    22               64.522417   30            JBM  68.518519  69.590643
719    23               63.157895   30            JBM  64.522417  67.032164

[720 rows x 6 columns]
Getting oct data agg for  JBM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              JBM     0               61.598441    1  63.157895  64.230019
1              JBM     1               60.721248    1  61.598441  62.768031
2              JBM     2               60.331384    1  60.721248  62.085770
3              JBM     3               59.649123    1  60.331384  63.060429
4              JBM     4               59.844055    1  59.649123  63.060429
..             ...   ...                     ...  ...        ...        ...
739            JBM    19               73.245614   31  73.879142  68.908382
740            JBM    20               68.226121   31  73.245614  66.081871
741            JBM    21               66.666667   31  68.226121  64.619883
742            JBM    22               65.009747   31  66.666667  63.157895
743            JBM    23               63.596491   31  65.009747  61.915205

[744 rows x 6 columns]
Getting sept data agg for  JBM2
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               21.990741    1           JBM2        NaN        NaN
1       1               21.296296    1           JBM2  21.990741        NaN
2       2               21.759259    1           JBM2  21.296296        NaN
3       3               21.759259    1           JBM2  21.759259        NaN
4       4               19.907407    1           JBM2  21.759259        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               31.597222   30           JBM2  35.185185  33.680556
716    20               28.472222   30           JBM2  31.597222  31.250000
717    21               27.314815   30           JBM2  28.472222  34.490741
718    22               22.453704   30           JBM2  27.314815  31.944444
719    23               24.305556   30           JBM2  22.453704  28.472222

[720 rows x 6 columns]
Getting oct data agg for  JBM2
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             JBM2     0               21.759259    1  24.305556  28.240741
1             JBM2     1               18.287037    1  21.759259  25.694444
2             JBM2     2               19.444444    1  18.287037  25.462963
3             JBM2     3               21.527778    1  19.444444  28.703704
4             JBM2     4               20.370370    1  21.527778  24.537037
..             ...   ...                     ...  ...        ...        ...
739           JBM2    19               29.398148   31  42.129630  39.120370
740           JBM2    20               22.743056   31  29.398148  38.425926
741           JBM2    21               20.138889   31  22.743056  31.944444
742           JBM2    22               23.611111   31  20.138889  27.314815
743           JBM2    23               18.750000   31  23.611111  26.562500

[744 rows x 6 columns]
Getting sept data agg for  JKM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               74.444444    1            JKM        NaN        NaN
1       1               74.444444    1            JKM  74.444444        NaN
2       2               74.444444    1            JKM  74.444444        NaN
3       3               74.444444    1            JKM  74.444444        NaN
4       4               74.444444    1            JKM  74.444444        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               53.611111   30            JKM  53.611111  68.333333
716    20               53.611111   30            JKM  53.611111  68.333333
717    21               53.611111   30            JKM  53.611111  68.333333
718    22               53.611111   30            JKM  53.611111  68.333333
719    23               53.611111   30            JKM  53.611111  68.333333

[720 rows x 6 columns]
Getting oct data agg for  JKM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              JKM     0               53.611111    1  53.611111  68.333333
1              JKM     1               53.611111    1  53.611111  68.333333
2              JKM     2               53.611111    1  53.611111  68.333333
3              JKM     3               53.611111    1  53.611111  68.333333
4              JKM     4               53.611111    1  53.611111  68.333333
..             ...   ...                     ...  ...        ...        ...
739            JKM    19               53.611111   31  53.611111  53.611111
740            JKM    20               53.611111   31  53.611111  53.611111
741            JKM    21               53.611111   31  53.611111  53.611111
742            JKM    22               53.611111   31  53.611111  53.611111
743            JKM    23               53.611111   31  53.611111  53.611111

[744 rows x 6 columns]
Getting sept data agg for  JKS

     hour  percent_lots_available  day carpark_number     lag_1  lag_168
0       0                0.000000    1            JKS       NaN      NaN
1       1                0.000000    1            JKS  0.000000      NaN
2       2                0.000000    1            JKS  0.000000      NaN
3       3                0.000000    1            JKS  0.000000      NaN
4       4                0.000000    1            JKS  0.000000      NaN
..    ...                     ...  ...            ...       ...      ...
715    19                5.405405   30            JKS  0.000000      0.0
716    20                0.000000   30            JKS  5.405405      0.0
717    21                0.000000   30            JKS  0.000000      0.0
718    22                5.405405   30            JKS  0.000000      0.0
719    23                0.000000   30            JKS  5.405405      0.0

[720 rows x 6 columns]
Getting oct data agg for  JKS
    carpark_number  hour  percent_lots_available  day     lag_1  lag_168
0              JKS     0                0.000000    1  0.000000      0.0
1              JKS     1                0.000000    1  0.000000      0.0
2              JKS     2                0.000000    1  0.000000      0.0
3              JKS     3                0.000000    1  0.000000      0.0
4              JKS     4                0.000000    1  0.000000      0.0
..             ...   ...                     ...  ...       ...      ...
739            JKS    19                0.000000   31  0.000000      0.0
740            JKS    20                5.405405   31  0.000000      0.0
741            JKS    21                0.000000   31  5.405405      0.0
742            JKS    22                0.000000   31  0.000000      0.0
743            JKS    23                0.000000   31  0.000000      0.0

[744 rows x 6 columns]
Getting sept data agg for  JMB1
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               92.479675    1           JMB1        NaN        NaN
1       1               92.479675    1           JMB1  92.479675        NaN
2       2               92.479675    1           JMB1  92.479675        NaN
3       3               92.479675    1           JMB1  92.479675        NaN
4       4               92.479675    1           JMB1  92.479675        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               62.601626   30           JMB1  62.601626  61.585366
716    20               62.601626   30           JMB1  62.601626  61.585366
717    21               62.601626   30           JMB1  62.601626  61.585366
718    22               62.601626   30           JMB1  62.601626  61.585366
719    23               62.601626   30           JMB1  62.601626  61.585366

[720 rows x 6 columns]
Getting oct data agg for  JMB1
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             JMB1     0               62.601626    1  62.601626  61.585366
1             JMB1     1               62.601626    1  62.601626  61.585366
2             JMB1     2               62.601626    1  62.601626  61.585366
3             JMB1     3               62.601626    1  62.601626  61.585366
4             JMB1     4               62.601626    1  62.601626  61.585366
..             ...   ...                     ...  ...        ...        ...
739           JMB1    19               61.788618   31  61.788618  63.821138
740           JMB1    20               61.788618   31  61.788618  63.821138
741           JMB1    21               61.788618   31  61.788618  63.821138
742           JMB1    22               61.788618   31  61.788618  63.821138
743           JMB1    23               61.788618   31  61.788618  63.821138

[744 rows x 6 columns]
Getting sept data agg for  JMB2
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               66.266266    1           JMB2        NaN        NaN
1       1               66.166166    1           JMB2  66.266266        NaN
2       2               65.965966    1           JMB2  66.166166        NaN
3       3               65.815816    1           JMB2  65.965966        NaN
4       4               65.915916    1           JMB2  65.815816        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               61.599099   30           JMB2  65.990991  59.759760
716    20               60.910911   30           JMB2  61.599099  60.060060
717    21               62.862863   30           JMB2  60.910911  62.162162
718    22               64.214214   30           JMB2  62.862863  62.537538
719    23               65.915916   30           JMB2  64.214214  63.138138

[720 rows x 6 columns]
Getting oct data agg for  JMB2
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             JMB2     0               66.566567    1  65.915916  64.114114
1             JMB2     1               66.716717    1  66.566567  63.563564
2             JMB2     2               66.516517    1  66.716717  63.363363
3             JMB2     3               65.990991    1  66.516517  63.213213
4             JMB2     4               65.815816    1  65.990991  63.213213
..             ...   ...                     ...  ...        ...        ...
739           JMB2    19               64.151652   31  67.267267  63.413413
740           JMB2    20               65.065065   31  64.151652  65.065065
741           JMB2    21               66.566567   31  65.065065  66.366366
742           JMB2    22               65.815816   31  66.566567  66.441441
743           JMB2    23               65.540541   31  65.815816  66.266266

[744 rows x 6 columns]
Getting sept data agg for  JMB3
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               33.391103    1           JMB3        NaN        NaN
1       1               33.217793    1           JMB3  33.391103        NaN
2       2               34.026574    1           JMB3  33.217793        NaN
3       3               34.315425    1           JMB3  34.026574        NaN
4       4               33.882149    1           JMB3  34.315425        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               52.383016   30           JMB3  56.065858  54.159445
716    20               47.602542   30           JMB3  52.383016  48.873484
717    21               42.403235   30           JMB3  47.602542  42.345465
718    22               38.994801   30           JMB3  42.403235  40.901213
719    23               36.741768   30           JMB3  38.994801  37.391681

[720 rows x 6 columns]
Getting oct data agg for  JMB3
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             JMB3     0               33.737724    1  36.741768  35.528596
1             JMB3     1               33.391103    1  33.737724  34.488735
2             JMB3     2               34.719815    1  33.391103  33.911034
3             JMB3     3               34.922010    1  34.719815  34.084344
4             JMB3     4               34.662045    1  34.922010  34.142114
..             ...   ...                     ...  ...        ...        ...
739           JMB3    19               47.255921   31  54.376083  41.421144
740           JMB3    20               43.905257   31  47.255921  39.110341
741           JMB3    21               38.879261   31  43.905257  37.608319
742           JMB3    22               35.297516   31  38.879261  35.788562
743           JMB3    23               33.448873   31  35.297516  33.564414

[744 rows x 6 columns]
Getting sept data agg for  JRTM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               71.362587    1           JRTM        NaN        NaN
1       1               71.362587    1           JRTM  71.362587        NaN
2       2               71.362587    1           JRTM  71.362587        NaN
3       3               71.362587    1           JRTM  71.362587        NaN
4       4               71.362587    1           JRTM  71.362587        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               70.438799   30           JRTM  70.438799  61.431871
716    20               70.438799   30           JRTM  70.438799  61.431871
717    21               70.438799   30           JRTM  70.438799  61.431871
718    22               70.438799   30           JRTM  70.438799  61.431871
719    23               70.438799   30           JRTM  70.438799  61.431871

[720 rows x 6 columns]
Getting oct data agg for  JRTM

    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             JRTM     0               67.273544    1  70.438799  61.431871
1             JRTM     1               70.438799    1  67.273544  61.431871
2             JRTM     2               70.438799    1  70.438799  61.431871
3             JRTM     3               70.438799    1  70.438799  61.431871
4             JRTM     4               70.438799    1  70.438799  61.431871
..             ...   ...                     ...  ...        ...        ...
739           JRTM    19               70.438799   31  70.438799  70.438799
740           JRTM    20               70.438799   31  70.438799  70.438799
741           JRTM    21               70.438799   31  70.438799  70.438799
742           JRTM    22               70.438799   31  70.438799  70.438799
743           JRTM    23               70.438799   31  70.438799  70.438799

[744 rows x 6 columns]
Getting sept data agg for  KAM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               78.114478    1            KAM        NaN        NaN
1       1               78.872054    1            KAM  78.114478        NaN
2       2               78.787879    1            KAM  78.872054        NaN
3       3               81.313131    1            KAM  78.787879        NaN
4       4               80.681818    1            KAM  81.313131        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               27.714646   30            KAM  45.959596  20.454545
716    20               42.392677   30            KAM  27.714646  20.770202
717    21               57.070707   30            KAM  42.392677  51.936027
718    22               67.929293   30            KAM  57.070707  64.604377
719    23               74.368687   30            KAM  67.929293  77.272727

[720 rows x 6 columns]
Getting oct data agg for  KAM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              KAM     0               77.861953    1  74.368687  78.998316
1              KAM     1               78.872054    1  77.861953  80.723906
2              KAM     2               78.787879    1  78.872054  80.808081
3              KAM     3               82.702020    1  78.787879  82.912458
4              KAM     4               80.808081    1  82.702020  81.313131
..             ...   ...                     ...  ...        ...        ...
739            KAM    19               50.063131   31  52.861953  38.888889
740            KAM    20               54.966330   31  50.063131  51.767677
741            KAM    21               72.643098   31  54.966330  66.414141
742            KAM    22               78.703704   31  72.643098  79.671717
743            KAM    23               79.419192   31  78.703704  80.366162

[744 rows x 6 columns]
Getting sept data agg for  KAML
     hour  percent_lots_available  day carpark_number      lag_1     lag_168
0       0               53.333333    1           KAML        NaN         NaN
1       1               40.000000    1           KAML  53.333333         NaN
2       2               40.000000    1           KAML  40.000000         NaN
3       3               26.666667    1           KAML  40.000000         NaN
4       4               20.000000    1           KAML  26.666667         NaN
..    ...                     ...  ...            ...        ...         ...
715    19               35.000000   30           KAML  53.333333   60.000000
716    20               54.166667   30           KAML  35.000000  100.000000
717    21               73.333333   30           KAML  54.166667   93.333333
718    22               73.333333   30           KAML  73.333333   86.666667
719    23               60.000000   30           KAML  73.333333   80.000000

[720 rows x 6 columns]
Getting oct data agg for  KAML
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             KAML     0               73.333333    1  60.000000  70.000000
1             KAML     1               40.000000    1  73.333333  60.000000
2             KAML     2               60.000000    1  40.000000  93.333333
3             KAML     3               40.000000    1  60.000000  66.666667
4             KAML     4                0.000000    1  40.000000  26.666667
..             ...   ...                     ...  ...        ...        ...
739           KAML    19                0.000000   31   0.000000  40.000000
740           KAML    20                0.000000   31   0.000000  53.333333
741           KAML    21               26.666667   31   0.000000  60.000000
742           KAML    22               26.666667   31  26.666667  30.000000
743           KAML    23               10.000000   31  26.666667  41.666667

[744 rows x 6 columns]
Getting sept data agg for  KAS
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               46.153846    1            KAS        NaN        NaN
1       1               52.564103    1            KAS  46.153846        NaN
2       2               53.846154    1            KAS  52.564103        NaN
3       3               66.666667    1            KAS  53.846154        NaN
4       4               76.923077    1            KAS  66.666667        NaN
..    ...                     ...  ...            ...        ...        ...
715    19                0.000000   30            KAS   0.000000   0.000000
716    20                5.128205   30            KAS   0.000000   0.000000
717    21               10.256410   30            KAS   5.128205   1.282051
718    22               28.205128   30            KAS  10.256410  30.448718
719    23               50.000000   30            KAS  28.205128  59.615385

[720 rows x 6 columns]
Getting oct data agg for  KAS
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              KAS     0               62.820513    1  50.000000  56.730769
1              KAS     1               65.384615    1  62.820513  53.846154
2              KAS     2               71.153846    1  65.384615  47.435897
3              KAS     3               68.269231    1  71.153846  56.410256
4              KAS     4               74.358974    1  68.269231  70.512821
..             ...   ...                     ...  ...        ...        ...
739            KAS    19                5.769231   31   1.282051   0.000000
740            KAS    20                0.000000   31   5.769231   2.564103
741            KAS    21               12.820513   31   0.000000   0.000000
742            KAS    22               53.846154   31  12.820513  19.230769
743            KAS    23               65.384615   31  53.846154  32.692308

[744 rows x 6 columns]
Getting sept data agg for  KTM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               30.769231    1            KTM        NaN        NaN
1       1               30.769231    1            KTM  30.769231        NaN
2       2               30.769231    1            KTM  30.769231        NaN
3       3               30.769231    1            KTM  30.769231        NaN
4       4               30.769231    1            KTM  30.769231        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               66.396761   30            KTM  66.396761  67.206478
716    20               66.396761   30            KTM  66.396761  67.206478
717    21               66.396761   30            KTM  66.396761  67.206478
718    22               66.396761   30            KTM  66.396761  67.206478
719    23               66.396761   30            KTM  66.396761  67.206478

[720 rows x 6 columns]
Getting oct data agg for  KTM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              KTM     0               66.396761    1  66.396761  67.206478
1              KTM     1               66.396761    1  66.396761  67.206478
2              KTM     2               66.396761    1  66.396761  67.206478
3              KTM     3               66.396761    1  66.396761  67.206478
4              KTM     4               66.396761    1  66.396761  67.206478
..             ...   ...                     ...  ...        ...        ...
739            KTM    19               29.149798   31  29.149798  29.149798
740            KTM    20               29.149798   31  29.149798  29.149798
741            KTM    21               29.149798   31  29.149798  29.149798
742            KTM    22               29.149798   31  29.149798  29.149798
743            KTM    23               29.149798   31  29.149798  29.149798

[744 rows x 6 columns]
Getting sept data agg for  KTM2

     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               48.717949    1           KTM2        NaN        NaN
1       1               48.717949    1           KTM2  48.717949        NaN
2       2               48.717949    1           KTM2  48.717949        NaN
3       3               48.717949    1           KTM2  48.717949        NaN
4       4               48.717949    1           KTM2  48.717949        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               67.365967   30           KTM2  60.941142  67.599068
716    20               67.365967   30           KTM2  67.365967  67.599068
717    21               67.365967   30           KTM2  67.365967  67.599068
718    22               67.365967   30           KTM2  67.365967  67.599068
719    23               67.365967   30           KTM2  67.365967  67.599068

[720 rows x 6 columns]
Getting oct data agg for  KTM2
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             KTM2     0               67.365967    1  67.365967  67.599068
1             KTM2     1               67.365967    1  67.365967  67.599068
2             KTM2     2               67.365967    1  67.365967  67.599068
3             KTM2     3               67.365967    1  67.365967  67.599068
4             KTM2     4               67.365967    1  67.365967  67.599068
..             ...   ...                     ...  ...        ...        ...
739           KTM2    19               49.650350   31  49.650350  49.650350
740           KTM2    20               49.650350   31  49.650350  49.650350
741           KTM2    21               49.650350   31  49.650350  49.650350
742           KTM2    22               49.650350   31  49.650350  49.650350
743           KTM2    23               49.650350   31  49.650350  49.650350

[744 rows x 6 columns]
Getting sept data agg for  KTM3
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               68.602151    1           KTM3        NaN        NaN
1       1               68.602151    1           KTM3  68.602151        NaN
2       2               68.602151    1           KTM3  68.602151        NaN
3       3               68.602151    1           KTM3  68.602151        NaN
4       4               68.602151    1           KTM3  68.602151        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               73.333333   30           KTM3  73.333333  73.978495
716    20               73.333333   30           KTM3  73.333333  73.978495
717    21               73.333333   30           KTM3  73.333333  73.978495
718    22               73.333333   30           KTM3  73.333333  73.978495
719    23               73.333333   30           KTM3  73.333333  73.978495

[720 rows x 6 columns]
Getting oct data agg for  KTM3
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             KTM3     0               73.333333    1  73.333333  73.978495
1             KTM3     1               73.333333    1  73.333333  73.978495
2             KTM3     2               73.333333    1  73.333333  73.978495
3             KTM3     3               73.333333    1  73.333333  73.978495
4             KTM3     4               73.333333    1  73.333333  73.978495
..             ...   ...                     ...  ...        ...        ...
739           KTM3    19               73.333333   31  73.333333  73.333333
740           KTM3    20               73.333333   31  73.333333  73.333333
741           KTM3    21               73.333333   31  73.333333  73.333333
742           KTM3    22               73.333333   31  73.333333  73.333333
743           KTM3    23               73.333333   31  73.333333  73.333333

[744 rows x 6 columns]
Getting sept data agg for  KTM4
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               52.894737    1           KTM4        NaN        NaN
1       1               52.894737    1           KTM4  52.894737        NaN
2       2               52.894737    1           KTM4  52.894737        NaN
3       3               52.894737    1           KTM4  52.894737        NaN
4       4               64.671053    1           KTM4  52.894737        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               59.736842   30           KTM4  59.736842  59.736842
716    20               59.736842   30           KTM4  59.736842  59.736842
717    21               59.736842   30           KTM4  59.736842  59.736842
718    22               59.736842   30           KTM4  59.736842  59.736842
719    23               59.736842   30           KTM4  59.736842  59.736842

[720 rows x 6 columns]
Getting oct data agg for  KTM4
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             KTM4     0               59.736842    1  59.736842  69.802632
1             KTM4     1               59.736842    1  59.736842  59.736842
2             KTM4     2               59.736842    1  59.736842  59.736842
3             KTM4     3               59.736842    1  59.736842  59.736842
4             KTM4     4               59.736842    1  59.736842  59.736842
..             ...   ...                     ...  ...        ...        ...
739           KTM4    19               59.736842   31  55.328947  59.736842
740           KTM4    20               59.736842   31  59.736842  59.736842
741           KTM4    21               59.736842   31  59.736842  59.736842
742           KTM4    22               59.736842   31  59.736842  59.736842
743           KTM4    23               59.736842   31  59.736842  59.736842

[744 rows x 6 columns]
Getting sept data agg for  KTM5
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               32.812500    1           KTM5        NaN        NaN
1       1               32.812500    1           KTM5  32.812500        NaN
2       2               32.812500    1           KTM5  32.812500        NaN
3       3               32.812500    1           KTM5  32.812500        NaN
4       4               32.812500    1           KTM5  32.812500        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               64.453125   30           KTM5  64.453125  54.662799
716    20               64.453125   30           KTM5  64.453125  64.648438
717    21               64.453125   30           KTM5  64.453125  64.648438
718    22               64.453125   30           KTM5  64.453125  64.648438
719    23               64.453125   30           KTM5  64.453125  64.648438

[720 rows x 6 columns]
Getting oct data agg for  KTM5
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             KTM5     0               64.453125    1  64.453125  64.648438
1             KTM5     1               64.453125    1  64.453125  64.648438
2             KTM5     2               64.453125    1  64.453125  64.648438
3             KTM5     3               64.453125    1  64.453125  64.648438
4             KTM5     4               64.453125    1  64.453125  64.648438
..             ...   ...                     ...  ...        ...        ...
739           KTM5    19               64.453125   31  64.453125  64.453125
740           KTM5    20               64.453125   31  64.453125  64.453125
741           KTM5    21               64.453125   31  64.453125  64.453125
742           KTM5    22               64.453125   31  64.453125  64.453125
743           KTM5    23               64.453125   31  64.453125  64.453125

[744 rows x 6 columns]
Getting sept data agg for  LBM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               42.603550    1            LBM        NaN        NaN
1       1               42.603550    1            LBM  42.603550        NaN
2       2               42.603550    1            LBM  42.603550        NaN
3       3               42.603550    1            LBM  42.603550        NaN
4       4               42.603550    1            LBM  42.603550        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               42.666948   30            LBM  42.603550  64.053254
716    20               42.603550   30            LBM  42.666948  52.071006
717    21               42.603550   30            LBM  42.603550  52.071006
718    22               42.603550   30            LBM  42.603550  52.071006
719    23               42.603550   30            LBM  42.603550  52.071006

[720 rows x 6 columns]
Getting oct data agg for  LBM

    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              LBM     0               42.603550    1  42.603550  49.767540
1              LBM     1               42.666948    1  42.603550  52.071006
2              LBM     2               42.603550    1  42.666948  52.071006
3              LBM     3               42.603550    1  42.603550  52.071006
4              LBM     4               42.603550    1  42.603550  52.071006
..             ...   ...                     ...  ...        ...        ...
739            LBM    19               42.603550   31  42.603550  42.603550
740            LBM    20               42.603550   31  42.603550  42.603550
741            LBM    21               42.603550   31  42.603550  42.603550
742            LBM    22               42.603550   31  42.603550  42.603550
743            LBM    23               42.603550   31  42.603550  42.603550

[744 rows x 6 columns]
Getting sept data agg for  MLM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0                0.000000    1            MLM        NaN        NaN
1       1                0.000000    1            MLM   0.000000        NaN
2       2                0.000000    1            MLM   0.000000        NaN
3       3                0.000000    1            MLM   0.000000        NaN
4       4                0.000000    1            MLM   0.000000        NaN
..    ...                     ...  ...            ...        ...        ...
571    19               42.960289   30            MLM  42.960289  42.960289
572    20               42.960289   30            MLM  42.960289  42.960289
573    21               42.960289   30            MLM  42.960289  42.960289
574    22               42.960289   30            MLM  42.960289  42.960289
575    23               42.960289   30            MLM  42.960289  42.960289

[576 rows x 6 columns]
Getting oct data agg for  MLM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              MLM     0               42.960289    1  42.960289  42.960289
1              MLM     1               42.960289    1  42.960289  47.773767
2              MLM     2               42.960289    1  42.960289  57.400722
3              MLM     3               42.960289    1  42.960289  57.400722
4              MLM     4               42.960289    1  42.960289  57.400722
..             ...   ...                     ...  ...        ...        ...
739            MLM    19               42.238267   31  42.238267  42.238267
740            MLM    20               42.238267   31  42.238267  42.238267
741            MLM    21               42.238267   31  42.238267  42.238267
742            MLM    22               42.238267   31  42.238267  42.238267
743            MLM    23               42.238267   31  42.238267  42.238267

[744 rows x 6 columns]
Getting sept data agg for  MLM1
     hour  percent_lots_available  day carpark_number   lag_1  lag_168
0       0                  39.000    1           MLM1     NaN      NaN
1       1                  40.875    1           MLM1  39.000      NaN
2       2                  39.500    1           MLM1  40.875      NaN
3       3                  39.500    1           MLM1  39.500      NaN
4       4                  39.500    1           MLM1  39.500      NaN
..    ...                     ...  ...            ...     ...      ...
715    19                  39.000   30           MLM1  39.000     39.5
716    20                  39.000   30           MLM1  39.000     39.5
717    21                  39.000   30           MLM1  39.000     39.5
718    22                  39.000   30           MLM1  39.000     39.5
719    23                  39.000   30           MLM1  39.000     39.5

[720 rows x 6 columns]
Getting oct data agg for  MLM1
    carpark_number  hour  percent_lots_available  day      lag_1  lag_168
0             MLM1     0               39.000000    1  39.000000    39.50
1             MLM1     1               38.833333    1  39.000000    44.75
2             MLM1     2               38.500000    1  38.833333    30.00
3             MLM1     3               38.500000    1  38.500000    30.00
4             MLM1     4               38.500000    1  38.500000    30.00
..             ...   ...                     ...  ...        ...      ...
739           MLM1    19               24.500000   31  31.875000    39.00
740           MLM1    20               24.500000   31  24.500000    39.00
741           MLM1    21               24.500000   31  24.500000    39.00
742           MLM1    22               24.500000   31  24.500000    39.00
743           MLM1    23               24.500000   31  24.500000    39.00

[744 rows x 6 columns]
Getting sept data agg for  PDQ5
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               69.876543    1           PDQ5        NaN        NaN
1       1               68.888889    1           PDQ5  69.876543        NaN
2       2               69.629630    1           PDQ5  68.888889        NaN
3       3               70.123457    1           PDQ5  69.629630        NaN
4       4               70.370370    1           PDQ5  70.123457        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               55.185185   30           PDQ5  49.259259  55.061728
716    20               60.000000   30           PDQ5  55.185185  55.555556
717    21               64.197531   30           PDQ5  60.000000  63.209877
718    22               64.197531   30           PDQ5  64.197531  65.679012
719    23               64.444444   30           PDQ5  64.197531  66.666667

[720 rows x 6 columns]
Getting oct data agg for  PDQ5
    carpark_number  hour  percent_lots_available  day      lag_1     lag_168
0             PDQ5     0               66.666667    1  64.444444   66.913580
1             PDQ5     1               66.913580    1  66.666667   65.925926
2             PDQ5     2               67.901235    1  66.913580   65.925926
3             PDQ5     3               76.296296    1  67.901235   68.888889
4             PDQ5     4               91.851852    1  76.296296   70.864198
..             ...   ...                     ...  ...        ...         ...
715           PDQ5    19               62.222222   31  53.580247  100.000000
716           PDQ5    20               67.901235   31  62.222222  100.000000
717           PDQ5    21               66.913580   31  67.901235  100.000000
718           PDQ5    22               68.641975   31  66.913580  100.000000
719           PDQ5    23               68.518519   31  68.641975  100.000000

[720 rows x 6 columns]
Getting sept data agg for  PRM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               82.638889    1            PRM        NaN        NaN
1       1               83.912037    1            PRM  82.638889        NaN
2       2               84.201389    1            PRM  83.912037        NaN
3       3               84.375000    1            PRM  84.201389        NaN
4       4               84.722222    1            PRM  84.375000        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               47.439236   30            PRM  49.884259  44.531250
716    20               57.638889   30            PRM  47.439236  45.312500
717    21               70.428241   30            PRM  57.638889  67.303241
718    22               79.224537   30            PRM  70.428241  78.298611
719    23               83.159722   30            PRM  79.224537  82.508681

[720 rows x 6 columns]
Getting oct data agg for  PRM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              PRM     0               85.011574    1  83.159722  84.317130
1              PRM     1               85.127315    1  85.011574  85.127315
2              PRM     2               85.156250    1  85.127315  85.069444
3              PRM     3               84.678819    1  85.156250  84.085648
4              PRM     4               84.780093    1  84.678819  83.969907
..             ...   ...                     ...  ...        ...        ...
739            PRM    19               51.331019   31  45.920139  45.659722
740            PRM    20               62.268519   31  51.331019  63.020833
741            PRM    21               74.652778   31  62.268519  72.395833
742            PRM    22               82.407407   31  74.652778  83.622685
743            PRM    23               83.072917   31  82.407407  84.664352

[744 rows x 6 columns]
Getting sept data agg for  Q16

     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               33.333333    1            Q16        NaN        NaN
1       1               33.333333    1            Q16  33.333333        NaN
2       2               43.055556    1            Q16  33.333333        NaN
3       3               33.333333    1            Q16  43.055556        NaN
4       4               43.055556    1            Q16  33.333333        NaN
..    ...                     ...  ...            ...        ...        ...
595    19               71.153846   30            Q16  63.717949  60.000000
596    20               71.153846   30            Q16  71.153846  60.000000
597    21               67.435897   30            Q16  71.153846  54.615385
598    22               71.153846   30            Q16  67.435897  51.923077
599    23               71.153846   30            Q16  71.153846  60.000000

[600 rows x 6 columns]
Getting oct data agg for  Q16
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              Q16     0               60.000000    1  71.153846  60.000000
1              Q16     1               61.025641    1  60.000000  60.000000
2              Q16     2               51.923077    1  61.025641  60.000000
3              Q16     3               51.923077    1  51.923077  75.000000
4              Q16     4               60.000000    1  51.923077  75.000000
..             ...   ...                     ...  ...        ...        ...
739            Q16    19               20.000000   31  51.923077  51.923077
740            Q16    20               51.923077   31  20.000000  51.923077
741            Q16    21               51.923077   31  51.923077  54.615385
742            Q16    22               51.923077   31  51.923077  51.923077
743            Q16    23               51.923077   31  51.923077  51.923077

[744 rows x 6 columns]
Getting sept data agg for  Q17
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               52.941176    1            Q17        NaN        NaN
1       1               52.941176    1            Q17  52.941176        NaN
2       2               52.941176    1            Q17  52.941176        NaN
3       3               52.941176    1            Q17  52.941176        NaN
4       4               52.941176    1            Q17  52.941176        NaN
..    ...                     ...  ...            ...        ...        ...
571    19               51.282051   30            Q17  51.282051  51.282051
572    20               51.282051   30            Q17  51.282051  51.282051
573    21               51.282051   30            Q17  51.282051  51.282051
574    22               51.282051   30            Q17  51.282051  51.282051
575    23               51.282051   30            Q17  51.282051  51.282051

[576 rows x 6 columns]
Getting oct data agg for  Q17
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              Q17     0               51.282051    1  51.282051  51.282051
1              Q17     1               51.282051    1  51.282051  51.282051
2              Q17     2               51.282051    1  51.282051  51.282051
3              Q17     3               51.282051    1  51.282051  51.282051
4              Q17     4               51.282051    1  51.282051  51.282051
..             ...   ...                     ...  ...        ...        ...
739            Q17    19               51.282051   31  51.282051  51.282051
740            Q17    20               51.282051   31  51.282051  51.282051
741            Q17    21               51.282051   31  51.282051  51.282051
742            Q17    22               51.282051   31  51.282051  51.282051
743            Q17    23               51.282051   31  51.282051  51.282051

[744 rows x 6 columns]
Getting sept data agg for  Q19
     hour  percent_lots_available  day carpark_number  lag_1    lag_168
0       0                    55.0    1            Q19    NaN        NaN
1       1                    40.0    1            Q19   55.0        NaN
2       2                    40.0    1            Q19   40.0        NaN
3       3                    40.0    1            Q19   40.0        NaN
4       4                    40.0    1            Q19   40.0        NaN
..    ...                     ...  ...            ...    ...        ...
715    19                    30.0   30            Q19   30.0  20.000000
716    20                    30.0   30            Q19   30.0  37.916667
717    21                    30.0   30            Q19   30.0  20.000000
718    22                    30.0   30            Q19   30.0  20.000000
719    23                    30.0   30            Q19   30.0  20.000000

[720 rows x 6 columns]
Getting oct data agg for  Q19
    carpark_number  hour  percent_lots_available  day  lag_1    lag_168
0              Q19     0                    30.0    1   30.0  20.000000
1              Q19     1                    30.0    1   30.0  37.916667
2              Q19     2                    40.0    1   30.0  20.000000
3              Q19     3                    40.0    1   40.0  20.000000
4              Q19     4                    40.0    1   40.0  20.000000
..             ...   ...                     ...  ...    ...        ...
739            Q19    19                    20.0   31   20.0  30.000000
740            Q19    20                    20.0   31   20.0  30.000000
741            Q19    21                    20.0   31   20.0  30.000000
742            Q19    22                    20.0   31   20.0  30.000000
743            Q19    23                    20.0   31   20.0  30.000000

[744 rows x 6 columns]
Getting sept data agg for  Q41
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               17.407407    1            Q41        NaN        NaN
1       1               17.037037    1            Q41  17.407407        NaN
2       2               17.037037    1            Q41  17.037037        NaN
3       3               14.074074    1            Q41  17.037037        NaN
4       4               14.444444    1            Q41  14.074074        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               34.722222   30            Q41  39.444444  46.111111
716    20               33.333333   30            Q41  34.722222  42.222222
717    21               32.222222   30            Q41  33.333333  32.592593
718    22               28.888889   30            Q41  32.222222  34.444444
719    23               27.777778   30            Q41  28.888889  31.111111

[720 rows x 6 columns]
Getting oct data agg for  Q41
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              Q41     0               25.185185    1  27.777778  29.444444
1              Q41     1               22.222222    1  25.185185  24.444444
2              Q41     2               22.222222    1  22.222222  22.222222
3              Q41     3               20.370370    1  22.222222  21.851852
4              Q41     4               20.740741    1  20.370370  21.111111
..             ...   ...                     ...  ...        ...        ...
739            Q41    19                0.000000   31   0.000000  13.703704
740            Q41    20                0.000000   31   0.000000  15.555556
741            Q41    21                0.000000   31   0.000000  19.259259
742            Q41    22                0.000000   31   0.000000  18.148148
743            Q41    23                0.000000   31   0.000000  17.037037

[744 rows x 6 columns]
Getting sept data agg for  Q65
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               35.789474    1            Q65        NaN        NaN
1       1               35.789474    1            Q65  35.789474        NaN
2       2               35.789474    1            Q65  35.789474        NaN
3       3               35.789474    1            Q65  35.789474        NaN
4       4               35.789474    1            Q65  35.789474        NaN
..    ...                     ...  ...            ...        ...        ...
571    19               31.067961   30            Q65  31.067961  31.067961
572    20               31.067961   30            Q65  31.067961  31.067961
573    21               31.067961   30            Q65  31.067961  31.067961
574    22               31.067961   30            Q65  31.067961  31.067961
575    23               31.067961   30            Q65  31.067961  31.067961

[576 rows x 6 columns]
Getting oct data agg for  Q65

    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              Q65     0               31.067961    1  31.067961  31.067961
1              Q65     1               31.067961    1  31.067961  33.009709
2              Q65     2               31.067961    1  31.067961  36.893204
3              Q65     3               31.067961    1  31.067961  36.893204
4              Q65     4               31.067961    1  31.067961  36.893204
..             ...   ...                     ...  ...        ...        ...
739            Q65    19               32.038835   31  32.038835  31.067961
740            Q65    20               32.038835   31  32.038835  31.067961
741            Q65    21               32.038835   31  32.038835  31.067961
742            Q65    22               32.038835   31  32.038835  31.067961
743            Q65    23               32.038835   31  32.038835  31.067961

[744 rows x 6 columns]
Getting sept data agg for  Q66
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               77.319588    1            Q66        NaN        NaN
1       1               75.601375    1            Q66  77.319588        NaN
2       2               73.883162    1            Q66  75.601375        NaN
3       3               69.415808    1            Q66  73.883162        NaN
4       4               68.384880    1            Q66  69.415808        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               58.247423   30            Q66  68.556701  57.731959
716    20               64.261168   30            Q66  58.247423  73.195876
717    21               69.072165   30            Q66  64.261168  74.226804
718    22               71.907216   30            Q66  69.072165  78.092784
719    23               73.711340   30            Q66  71.907216  78.865979

[720 rows x 6 columns]
Getting oct data agg for  Q66
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              Q66     0               72.938144    1  73.711340  75.257732
1              Q66     1               72.164948    1  72.938144  75.257732
2              Q66     2               69.587629    1  72.164948  80.670103
3              Q66     3               69.072165    1  69.587629  81.443299
4              Q66     4               68.384880    1  69.072165  79.381443
..             ...   ...                     ...  ...        ...        ...
739            Q66    19               58.075601   31  61.168385  51.030928
740            Q66    20               66.323024   31  58.075601  68.556701
741            Q66    21               71.134021   31  66.323024  71.134021
742            Q66    22               72.164948   31  71.134021  73.969072
743            Q66    23               69.587629   31  72.164948  71.477663

[744 rows x 6 columns]
Getting sept data agg for  Q67
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               52.564103    1            Q67        NaN        NaN
1       1               52.564103    1            Q67  52.564103        NaN
2       2               52.564103    1            Q67  52.564103        NaN
3       3               52.564103    1            Q67  52.564103        NaN
4       4               52.564103    1            Q67  52.564103        NaN
..    ...                     ...  ...            ...        ...        ...
451    19               66.666667   30            Q67  66.666667  66.666667
452    20               66.666667   30            Q67  66.666667  66.666667
453    21               66.666667   30            Q67  66.666667  66.666667
454    22               66.666667   30            Q67  66.666667  66.666667
455    23               66.666667   30            Q67  66.666667  66.666667

[456 rows x 6 columns]
Getting oct data agg for  Q67
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              Q67     0               66.666667    1  66.666667  66.666667
1              Q67     1               66.666667    1  66.666667  70.781893
2              Q67     2               66.666667    1  66.666667  79.012346
3              Q67     3               64.197531    1  66.666667  79.012346
4              Q67     4               62.962963    1  64.197531  79.012346
..             ...   ...                     ...  ...        ...        ...
739            Q67    19               61.728395   31  61.728395  61.728395
740            Q67    20               61.728395   31  61.728395  61.728395
741            Q67    21               61.728395   31  61.728395  61.728395
742            Q67    22               61.728395   31  61.728395  61.728395
743            Q67    23               61.728395   31  61.728395  61.728395

[744 rows x 6 columns]
Getting sept data agg for  Q68
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0                6.315789    1            Q68        NaN        NaN
1       1                6.315789    1            Q68   6.315789        NaN
2       2                6.315789    1            Q68   6.315789        NaN
3       3                6.315789    1            Q68   6.315789        NaN
4       4                6.315789    1            Q68   6.315789        NaN
..    ...                     ...  ...            ...        ...        ...
571    19               32.352941   30            Q68  32.352941  29.411765
572    20               32.352941   30            Q68  32.352941  29.411765
573    21               32.352941   30            Q68  32.352941  29.411765
574    22               32.352941   30            Q68  32.352941  29.411765
575    23               32.352941   30            Q68  32.352941  29.411765

[576 rows x 6 columns]
Getting oct data agg for  Q68
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              Q68     0               32.352941    1  32.352941  29.411765
1              Q68     1               32.352941    1  32.352941  35.294118
2              Q68     2               32.352941    1  32.352941  47.058824
3              Q68     3               32.352941    1  32.352941  47.058824
4              Q68     4               32.352941    1  32.352941  47.058824
..             ...   ...                     ...  ...        ...        ...
739            Q68    19               29.411765   31  29.411765  29.411765
740            Q68    20               29.411765   31  29.411765  29.411765
741            Q68    21               29.411765   31  29.411765  29.411765
742            Q68    22               29.411765   31  29.411765  29.411765
743            Q68    23               29.411765   31  29.411765  29.411765

[744 rows x 6 columns]
Getting sept data agg for  Q70
     hour  percent_lots_available  day carpark_number  lag_1   lag_168
0       0                    28.0    1            Q70    NaN       NaN
1       1                    28.0    1            Q70   28.0       NaN
2       2                    28.0    1            Q70   28.0       NaN
3       3                    28.0    1            Q70   28.0       NaN
4       4                    28.0    1            Q70   28.0       NaN
..    ...                     ...  ...            ...    ...       ...
451    19                    20.0   30            Q70   20.0  6.666667
452    20                    20.0   30            Q70   20.0  6.666667
453    21                    20.0   30            Q70   20.0  6.666667
454    22                    20.0   30            Q70   20.0  6.666667
455    23                    20.0   30            Q70   20.0  6.666667

[456 rows x 6 columns]
Getting oct data agg for  Q70
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              Q70     0               20.000000    1  20.000000   6.666667
1              Q70     1               20.000000    1  20.000000  15.555556
2              Q70     2               20.000000    1  20.000000  33.333333
3              Q70     3               13.333333    1  20.000000  33.333333
4              Q70     4               10.000000    1  13.333333  33.333333
..             ...   ...                     ...  ...        ...        ...
739            Q70    19               10.000000   31  10.000000  10.000000
740            Q70    20               10.000000   31  10.000000  10.000000
741            Q70    21               10.000000   31  10.000000  10.000000
742            Q70    22               10.000000   31  10.000000  10.000000
743            Q70    23               10.000000   31  10.000000  10.000000

[744 rows x 6 columns]
Getting sept data agg for  Q73

     hour  percent_lots_available  day carpark_number  lag_1  lag_168
0       0                     0.0    1            Q73    NaN      NaN
1       1                     0.0    1            Q73    0.0      NaN
2       2                     0.0    1            Q73    0.0      NaN
3       3                     0.0    1            Q73    0.0      NaN
4       4                     0.0    1            Q73    0.0      NaN
..    ...                     ...  ...            ...    ...      ...
451    19                     0.0   30            Q73    0.0      0.0
452    20                     0.0   30            Q73    0.0      0.0
453    21                     0.0   30            Q73    0.0      0.0
454    22                     0.0   30            Q73    0.0      0.0
455    23                     0.0   30            Q73    0.0      0.0

[456 rows x 6 columns]
Getting oct data agg for  Q73
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              Q73     0                0.000000    1   0.000000   0.000000
1              Q73     1                0.000000    1   0.000000   6.122449
2              Q73     2                0.000000    1   0.000000  18.367347
3              Q73     3                0.000000    1   0.000000  18.367347
4              Q73     4                0.000000    1   0.000000  18.367347
..             ...   ...                     ...  ...        ...        ...
739            Q73    19               14.285714   31  14.285714   0.000000
740            Q73    20               14.285714   31  14.285714   0.000000
741            Q73    21               14.285714   31  14.285714   0.000000
742            Q73    22               14.285714   31  14.285714   0.000000
743            Q73    23               14.285714   31  14.285714   0.000000

[744 rows x 6 columns]
Getting sept data agg for  Q75M
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               99.803536    1           Q75M        NaN        NaN
1       1               99.803536    1           Q75M  99.803536        NaN
2       2               99.803536    1           Q75M  99.803536        NaN
3       3               99.803536    1           Q75M  99.803536        NaN
4       4               99.803536    1           Q75M  99.803536        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               65.618861   30           Q75M  65.225933  64.767518
716    20               68.172888   30           Q75M  65.618861  66.208251
717    21               65.487885   30           Q75M  68.172888  65.225933
718    22               63.392272   30           Q75M  65.487885  64.178127
719    23               61.787819   30           Q75M  63.392272  63.457760

[720 rows x 6 columns]
Getting oct data agg for  Q75M
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             Q75M     0               60.248854    1  61.787819  61.886051
1             Q75M     1               58.840864    1  60.248854  60.969221
2             Q75M     2               58.349705    1  58.840864  59.659463
3             Q75M     3               58.153242    1  58.349705  59.397511
4             Q75M     4               57.956778    1  58.153242  59.201048
..             ...   ...                     ...  ...        ...        ...
739           Q75M    19               66.732155   31  68.041912  60.510806
740           Q75M    20               64.636542   31  66.732155  59.774067
741           Q75M    21               62.082515   31  64.636542  59.233792
742           Q75M    22               60.641781   31  62.082515  59.233792
743           Q75M    23               60.019646   31  60.641781  59.659463

[744 rows x 6 columns]
Getting sept data agg for  Q77M
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               99.835255    1           Q77M        NaN        NaN
1       1               99.835255    1           Q77M  99.835255        NaN
2       2               99.835255    1           Q77M  99.835255        NaN
3       3               99.835255    1           Q77M  99.835255        NaN
4       4               99.835255    1           Q77M  99.835255        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               60.420099   30           Q77M  61.614498  62.602965
716    20               57.276222   30           Q77M  60.420099  60.461285
717    21               54.365733   30           Q77M  57.276222  55.971993
718    22               48.764415   30           Q77M  54.365733  50.741351
719    23               45.551895   30           Q77M  48.764415  49.423394

[720 rows x 6 columns]
Getting oct data agg for  Q77M
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             Q77M     0               44.920373    1  45.551895  48.146623
1             Q77M     1               44.590884    1  44.920373  47.446458
2             Q77M     2               44.096650    1  44.590884  46.677650
3             Q77M     3               43.986820    1  44.096650  46.238331
4             Q77M     4               43.712246    1  43.986820  45.963756
..             ...   ...                     ...  ...        ...        ...
739           Q77M    19               55.464031   31  59.033498  53.596925
740           Q77M    20               57.990115   31  55.464031  50.082372
741           Q77M    21               52.018122   31  57.990115  47.995607
742           Q77M    22               46.128501   31  52.018122  46.183416
743           Q77M    23               44.892916   31  46.128501  45.469522

[744 rows x 6 columns]
Getting sept data agg for  Q8
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               30.872483    1             Q8        NaN        NaN
1       1               30.872483    1             Q8  30.872483        NaN
2       2               30.872483    1             Q8  30.872483        NaN
3       3               30.872483    1             Q8  30.872483        NaN
4       4               30.872483    1             Q8  30.872483        NaN
..    ...                     ...  ...            ...        ...        ...
403    19               26.174497   30             Q8  26.174497  25.503356
404    20               26.174497   30             Q8  26.174497  25.503356
405    21               26.174497   30             Q8  26.174497  25.503356
406    22               26.174497   30             Q8  26.174497  25.503356
407    23               26.174497   30             Q8  26.174497  25.503356

[408 rows x 6 columns]
Getting oct data agg for  Q8
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0               Q8     0               26.174497    1  26.174497  25.503356
1               Q8     1               25.503356    1  26.174497  28.635347
2               Q8     2               25.503356    1  25.503356  34.899329
3               Q8     3               25.503356    1  25.503356  34.899329
4               Q8     4               25.503356    1  25.503356  34.899329
..             ...   ...                     ...  ...        ...        ...
739             Q8    19               25.503356   31  25.503356  26.174497
740             Q8    20               25.503356   31  25.503356  26.174497
741             Q8    21               25.503356   31  25.503356  26.174497
742             Q8    22               25.503356   31  25.503356  26.174497
743             Q8    23               25.503356   31  25.503356  26.174497

[744 rows x 6 columns]
Getting sept data agg for  Q80
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               58.064516    1            Q80        NaN        NaN
1       1               58.064516    1            Q80  58.064516        NaN
2       2               58.064516    1            Q80  58.064516        NaN
3       3               58.064516    1            Q80  58.064516        NaN
4       4               58.064516    1            Q80  58.064516        NaN
..    ...                     ...  ...            ...        ...        ...
715    19                0.000000   30            Q80   5.376344   0.000000
716    20                2.150538   30            Q80   0.000000   0.000000
717    21                7.526882   30            Q80   2.150538   3.225806
718    22               43.010753   30            Q80   7.526882  20.967742
719    23               54.838710   30            Q80  43.010753  20.430108

[720 rows x 6 columns]
Getting oct data agg for  Q80

    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              Q80     0               56.989247    1  54.838710  20.161290
1              Q80     1               59.139785    1  56.989247  22.580645
2              Q80     2               56.989247    1  59.139785  21.774194
3              Q80     3               50.537634    1  56.989247  15.053763
4              Q80     4               30.645161    1  50.537634   2.150538
..             ...   ...                     ...  ...        ...        ...
739            Q80    19                8.602151   31   2.150538   0.000000
740            Q80    20                1.612903   31   8.602151  21.505376
741            Q80    21               20.967742   31   1.612903  40.860215
742            Q80    22               47.311828   31  20.967742  39.784946
743            Q80    23               48.387097   31  47.311828  38.709677

[744 rows x 6 columns]
Getting sept data agg for  Q81
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               81.944444    1            Q81        NaN        NaN
1       1               82.638889    1            Q81  81.944444        NaN
2       2               82.986111    1            Q81  82.638889        NaN
3       3               81.597222    1            Q81  82.986111        NaN
4       4               82.291667    1            Q81  81.597222        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               25.781250   30            Q81  24.479167  34.375000
716    20               38.888889   30            Q81  25.781250  32.986111
717    21               59.722222   30            Q81  38.888889  52.083333
718    22               70.833333   30            Q81  59.722222  67.708333
719    23               77.083333   30            Q81  70.833333  74.739583

[720 rows x 6 columns]
Getting oct data agg for  Q81
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              Q81     0               81.250000    1  77.083333  80.729167
1              Q81     1               81.944444    1  81.250000  80.468750
2              Q81     2               81.250000    1  81.944444  80.555556
3              Q81     3               80.208333    1  81.250000  82.291667
4              Q81     4               79.861111    1  80.208333  82.291667
..             ...   ...                     ...  ...        ...        ...
739            Q81    19               40.277778   31  33.854167  41.666667
740            Q81    20               59.375000   31  40.277778  58.333333
741            Q81    21               69.097222   31  59.375000  66.145833
742            Q81    22               73.611111   31  69.097222  72.135417
743            Q81    23               77.604167   31  73.611111  79.166667

[744 rows x 6 columns]
Getting sept data agg for  Q84
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               21.739130    1            Q84        NaN        NaN
1       1                1.932367    1            Q84  21.739130        NaN
2       2               14.170692    1            Q84   1.932367        NaN
3       3               38.647343    1            Q84  14.170692        NaN
4       4               38.647343    1            Q84  38.647343        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               33.816425   30            Q84  33.816425  26.731079
716    20               33.816425   30            Q84  33.816425  21.256039
717    21               22.866345   30            Q84  33.816425  21.256039
718    22               17.391304   30            Q84  22.866345  21.256039
719    23               17.391304   30            Q84  17.391304  21.256039

[720 rows x 6 columns]
Getting oct data agg for  Q84
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              Q84     0               14.492754    1  17.391304  21.256039
1              Q84     1               14.492754    1  14.492754  21.256039
2              Q84     2               14.492754    1  14.492754  21.256039
3              Q84     3               27.697262    1  14.492754  21.256039
4              Q84     4               34.299517    1  27.697262  21.256039
..             ...   ...                     ...  ...        ...        ...
739            Q84    19               30.434783   31  34.299517  15.458937
740            Q84    20               30.434783   31  30.434783  15.458937
741            Q84    21               30.434783   31  30.434783  15.458937
742            Q84    22               30.434783   31  30.434783  15.458937
743            Q84    23               30.434783   31  30.434783  18.679549

[744 rows x 6 columns]
Getting sept data agg for  Q85
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0                0.000000    1            Q85        NaN        NaN
1       1                0.000000    1            Q85   0.000000        NaN
2       2                0.000000    1            Q85   0.000000        NaN
3       3                0.000000    1            Q85   0.000000        NaN
4       4                0.000000    1            Q85   0.000000        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               47.072072   30            Q85  46.396396  64.189189
716    20               45.720721   30            Q85  47.072072  68.693694
717    21               47.297297   30            Q85  45.720721  69.144144
718    22               51.351351   30            Q85  47.297297  70.945946
719    23               55.743243   30            Q85  51.351351  72.072072

[720 rows x 6 columns]
Getting oct data agg for  Q85
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              Q85     0               56.531532    1  55.743243  71.959459
1              Q85     1               56.756757    1  56.531532  71.621622
2              Q85     2               56.531532    1  56.756757  72.128378
3              Q85     3               55.180180    1  56.531532  71.621622
4              Q85     4               53.716216    1  55.180180  69.144144
..             ...   ...                     ...  ...        ...        ...
739            Q85    19               87.387387   31  81.081081  52.927928
740            Q85    20               87.837838   31  87.387387  58.108108
741            Q85    21               91.047297   31  87.837838  60.135135
742            Q85    22               94.594595   31  91.047297  63.288288
743            Q85    23               94.256757   31  94.594595  65.315315

[744 rows x 6 columns]
Getting sept data agg for  Q86
     hour  percent_lots_available  day carpark_number     lag_1  lag_168
0       0                31.83364    1            Q86       NaN      NaN
1       1                36.87500    1            Q86  31.83364      NaN
2       2                37.50000    1            Q86  36.87500      NaN
3       3                37.50000    1            Q86  37.50000      NaN
4       4                37.50000    1            Q86  37.50000      NaN
..    ...                     ...  ...            ...       ...      ...
715    19                37.18750   30            Q86  37.18750     37.5
716    20                37.18750   30            Q86  37.18750     37.5
717    21                37.18750   30            Q86  37.18750     37.5
718    22                37.18750   30            Q86  37.18750     37.5
719    23                37.18750   30            Q86  37.18750     37.5

[720 rows x 6 columns]
Getting oct data agg for  Q86
    carpark_number  hour  percent_lots_available  day    lag_1    lag_168
0              Q86     0                 37.1875    1  37.1875  37.500000
1              Q86     1                 37.1875    1  37.1875  39.791667
2              Q86     2                 37.1875    1  37.1875  44.375000
3              Q86     3                 37.1875    1  37.1875  44.375000
4              Q86     4                 37.1875    1  37.1875  44.375000
..             ...   ...                     ...  ...      ...        ...
739            Q86    19                 32.1875   31  32.1875  36.875000
740            Q86    20                 32.1875   31  32.1875  36.875000
741            Q86    21                 32.1875   31  32.1875  36.875000
742            Q86    22                 32.1875   31  32.1875  36.875000
743            Q86    23                 32.1875   31  32.1875  36.875000

[744 rows x 6 columns]
Getting sept data agg for  Q87

     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               41.627907    1            Q87        NaN        NaN
1       1               41.627907    1            Q87  41.627907        NaN
2       2               41.782946    1            Q87  41.627907        NaN
3       3               42.093023    1            Q87  41.782946        NaN
4       4               42.093023    1            Q87  42.093023        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               71.627907   30            Q87  71.627907  77.209302
716    20               71.627907   30            Q87  71.627907  77.209302
717    21               71.627907   30            Q87  71.627907  77.209302
718    22               71.627907   30            Q87  71.627907  77.209302
719    23               71.627907   30            Q87  71.627907  77.209302

[720 rows x 6 columns]
Getting oct data agg for  Q87
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              Q87     0               71.627907    1  71.627907  77.209302
1              Q87     1               71.627907    1  71.627907  77.209302
2              Q87     2               71.627907    1  71.627907  77.209302
3              Q87     3               51.162791    1  71.627907  77.209302
4              Q87     4               40.930233    1  51.162791  77.209302
..             ...   ...                     ...  ...        ...        ...
739            Q87    19               71.634136   31  73.488372  36.976744
740            Q87    20               73.488372   31  71.634136  36.976744
741            Q87    21               73.488372   31  73.488372  36.976744
742            Q87    22               73.488372   31  73.488372  36.976744
743            Q87    23               73.488372   31  73.488372  36.976744

[744 rows x 6 columns]
Getting sept data agg for  Q88
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               44.343891    1            Q88        NaN        NaN
1       1               44.343891    1            Q88  44.343891        NaN
2       2               44.343891    1            Q88  44.343891        NaN
3       3               44.343891    1            Q88  44.343891        NaN
4       4               44.343891    1            Q88  44.343891        NaN
..    ...                     ...  ...            ...        ...        ...
403    19               42.201835   30            Q88  42.201835  41.284404
404    20               42.201835   30            Q88  42.201835  41.284404
405    21               42.201835   30            Q88  42.201835  41.284404
406    22               42.201835   30            Q88  42.201835  41.284404
407    23               42.201835   30            Q88  42.201835  41.284404

[408 rows x 6 columns]
Getting oct data agg for  Q88
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              Q88     0               42.201835    1  42.201835  41.284404
1              Q88     1               41.743119    1  42.201835  42.201835
2              Q88     2               41.743119    1  41.743119  44.036697
3              Q88     3               41.743119    1  41.743119  44.036697
4              Q88     4               41.743119    1  41.743119  44.036697
..             ...   ...                     ...  ...        ...        ...
739            Q88    19               41.284404   31  41.284404  41.284404
740            Q88    20               41.284404   31  41.284404  41.284404
741            Q88    21               41.284404   31  41.284404  41.284404
742            Q88    22               41.284404   31  41.284404  41.284404
743            Q88    23               41.284404   31  41.284404  41.284404

[744 rows x 6 columns]
Getting sept data agg for  Q89
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               26.206897    1            Q89        NaN        NaN
1       1               26.206897    1            Q89  26.206897        NaN
2       2               26.206897    1            Q89  26.206897        NaN
3       3               26.206897    1            Q89  26.206897        NaN
4       4               26.206897    1            Q89  26.206897        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               79.770115   30            Q89  79.770115  77.701149
716    20               79.770115   30            Q89  79.770115  77.701149
717    21               79.770115   30            Q89  79.770115  77.701149
718    22               79.770115   30            Q89  79.770115  77.701149
719    23               79.770115   30            Q89  79.770115  77.701149

[720 rows x 6 columns]
Getting oct data agg for  Q89
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              Q89     0               79.770115    1  79.770115  77.701149
1              Q89     1               79.770115    1  79.770115  77.701149
2              Q89     2               79.770115    1  79.770115  77.701149
3              Q89     3               44.367816    1  79.770115  77.701149
4              Q89     4               26.666667    1  44.367816  73.900862
..             ...   ...                     ...  ...        ...        ...
739            Q89    19               75.862069   31  71.827107  18.620690
740            Q89    20               75.862069   31  75.862069  18.620690
741            Q89    21               75.862069   31  75.862069  18.620690
742            Q89    22               75.862069   31  75.862069  18.620690
743            Q89    23               75.862069   31  75.862069  18.620690

[744 rows x 6 columns]
Getting sept data agg for  Q94
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0                0.000000    1            Q94        NaN        NaN
1       1                0.000000    1            Q94   0.000000        NaN
2       2                0.000000    1            Q94   0.000000        NaN
3       3                0.000000    1            Q94   0.000000        NaN
4       4                4.761905    1            Q94   0.000000        NaN
..    ...                     ...  ...            ...        ...        ...
715    19                7.142857   30            Q94  19.047619  16.666667
716    20                9.523810   30            Q94   7.142857   9.523810
717    21                2.380952   30            Q94   9.523810   9.523810
718    22                0.000000   30            Q94   2.380952   4.761905
719    23                0.000000   30            Q94   0.000000   2.380952

[720 rows x 6 columns]
Getting oct data agg for  Q94
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              Q94     0                0.000000    1   0.000000   0.000000
1              Q94     1                0.000000    1   0.000000   0.000000
2              Q94     2                0.000000    1   0.000000   0.000000
3              Q94     3                0.000000    1   0.000000   0.000000
4              Q94     4                0.000000    1   0.000000   0.000000
..             ...   ...                     ...  ...        ...        ...
739            Q94    19                3.174603   31  11.111111   4.761905
740            Q94    20                7.936508   31   3.174603   2.380952
741            Q94    21                1.587302   31   7.936508  11.904762
742            Q94    22                0.000000   31   1.587302   4.761905
743            Q94    23                0.000000   31   0.000000   0.000000

[744 rows x 6 columns]
Getting sept data agg for  Q96
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               20.614035    1            Q96        NaN        NaN
1       1               20.614035    1            Q96  20.614035        NaN
2       2               20.614035    1            Q96  20.614035        NaN
3       3               20.614035    1            Q96  20.614035        NaN
4       4               20.614035    1            Q96  20.614035        NaN
..    ...                     ...  ...            ...        ...        ...
547    19               18.143460   30            Q96  18.143460  19.831224
548    20               18.143460   30            Q96  18.143460  19.831224
549    21               18.143460   30            Q96  18.143460  19.831224
550    22               18.143460   30            Q96  18.143460  19.831224
551    23               18.143460   30            Q96  18.143460  19.831224

[552 rows x 6 columns]
Getting oct data agg for  Q96

    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              Q96     0               18.143460    1  18.143460  19.831224
1              Q96     1               18.284107    1  18.143460  27.707454
2              Q96     2               18.565401    1  18.284107  43.459916
3              Q96     3               18.565401    1  18.565401  43.459916
4              Q96     4               18.565401    1  18.565401  43.459916
..             ...   ...                     ...  ...        ...        ...
739            Q96    19               19.409283   31  19.409283  19.409283
740            Q96    20               19.409283   31  19.409283  19.409283
741            Q96    21               19.409283   31  19.409283  19.409283
742            Q96    22               19.409283   31  19.409283  19.409283
743            Q96    23               19.409283   31  19.409283  19.409283

[744 rows x 6 columns]
Getting sept data agg for  RHM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               37.386018    1            RHM        NaN        NaN
1       1               36.879433    1            RHM  37.386018        NaN
2       2               35.866261    1            RHM  36.879433        NaN
3       3               35.663627    1            RHM  35.866261        NaN
4       4               34.650456    1            RHM  35.663627        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               44.174265   30            RHM  55.167173  48.176292
716    20               43.059777   30            RHM  44.174265  46.833840
717    21               41.945289   30            RHM  43.059777  45.491388
718    22               42.097264   30            RHM  41.945289  42.249240
719    23               42.249240   30            RHM  42.097264  40.121581

[720 rows x 6 columns]
Getting oct data agg for  RHM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              RHM     0               41.033435    1  42.249240  37.689970
1              RHM     1               40.526849    1  41.033435  37.917933
2              RHM     2               39.969605    1  40.526849  37.183384
3              RHM     3               38.525836    1  39.969605  36.980750
4              RHM     4               36.575481    1  38.525836  36.575481
..             ...   ...                     ...  ...        ...        ...
739            RHM    19               36.246201   31  51.165147  41.742655
740            RHM    20               32.320162   31  36.246201  45.086120
741            RHM    21               42.958460   31  32.320162  43.313070
742            RHM    22               39.817629   31  42.958460  41.109422
743            RHM    23               39.057751   31  39.817629  38.297872

[744 rows x 6 columns]
Getting sept data agg for  RHM2
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               51.801802    1           RHM2        NaN        NaN
1       1               51.801802    1           RHM2  51.801802        NaN
2       2               51.801802    1           RHM2  51.801802        NaN
3       3               51.801802    1           RHM2  51.801802        NaN
4       4               51.801802    1           RHM2  51.801802        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               52.252252   30           RHM2  52.252252  47.747748
716    20               52.252252   30           RHM2  52.252252  47.747748
717    21               52.252252   30           RHM2  52.252252  47.747748
718    22               52.252252   30           RHM2  52.252252  47.747748
719    23               52.252252   30           RHM2  52.252252  57.207207

[720 rows x 6 columns]
Getting oct data agg for  RHM2
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             RHM2     0               52.252252    1  52.252252  57.207207
1             RHM2     1               52.252252    1  52.252252  57.207207
2             RHM2     2               52.252252    1  52.252252  57.207207
3             RHM2     3               52.252252    1  52.252252  57.207207
4             RHM2     4               52.252252    1  52.252252  57.207207
..             ...   ...                     ...  ...        ...        ...
739           RHM2    19               53.153153   31  53.153153  50.000000
740           RHM2    20               53.153153   31  53.153153  50.000000
741           RHM2    21               53.153153   31  53.153153  50.000000
742           RHM2    22               53.153153   31  53.153153  50.000000
743           RHM2    23               53.153153   31  53.153153  62.500000

[744 rows x 6 columns]
Getting sept data agg for  RHM3
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               71.671827    1           RHM3        NaN        NaN
1       1               71.671827    1           RHM3  71.671827        NaN
2       2               71.671827    1           RHM3  71.671827        NaN
3       3               71.671827    1           RHM3  71.671827        NaN
4       4               71.671827    1           RHM3  71.671827        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               82.043344   30           RHM3  82.043344  79.256966
716    20               82.043344   30           RHM3  82.043344  79.256966
717    21               82.043344   30           RHM3  82.043344  79.256966
718    22               82.043344   30           RHM3  82.043344  79.256966
719    23               82.043344   30           RHM3  82.043344  79.256966

[720 rows x 6 columns]
Getting oct data agg for  RHM3
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             RHM3     0               82.043344    1  82.043344  79.256966
1             RHM3     1               82.043344    1  82.043344  79.256966
2             RHM3     2               82.043344    1  82.043344  79.256966
3             RHM3     3               82.043344    1  82.043344  79.256966
4             RHM3     4               82.043344    1  82.043344  79.256966
..             ...   ...                     ...  ...        ...        ...
739           RHM3    19               63.467492   31  63.467492  71.826625
740           RHM3    20               63.467492   31  63.467492  71.826625
741           RHM3    21               72.239422   31  63.467492  71.826625
742           RHM3    22               76.625387   31  72.239422  71.826625
743           RHM3    23               76.625387   31  76.625387  71.826625

[744 rows x 6 columns]
Getting sept data agg for  RHM4
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               25.531915    1           RHM4        NaN        NaN
1       1               25.531915    1           RHM4  25.531915        NaN
2       2               25.531915    1           RHM4  25.531915        NaN
3       3               25.531915    1           RHM4  25.531915        NaN
4       4               25.531915    1           RHM4  25.531915        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               59.574468   30           RHM4  44.680851  57.092199
716    20               59.574468   30           RHM4  59.574468  57.092199
717    21               59.574468   30           RHM4  59.574468  42.819149
718    22               44.680851   30           RHM4  59.574468  57.092199
719    23               44.148936   30           RHM4  44.680851  57.092199

[720 rows x 6 columns]
Getting oct data agg for  RHM4
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             RHM4     0               17.234043    1  44.148936  57.092199
1             RHM4     1               21.542553    1  17.234043  57.092199
2             RHM4     2               28.723404    1  21.542553  57.092199
3             RHM4     3               28.723404    1  28.723404  57.092199
4             RHM4     4               21.542553    1  28.723404  57.092199
..             ...   ...                     ...  ...        ...        ...
739           RHM4    19               26.950355   31  26.950355  28.014184
740           RHM4    20               26.950355   31  26.950355  28.014184
741           RHM4    21               30.023641   31  26.950355  28.014184
742           RHM4    22               31.560284   31  30.023641  28.014184
743           RHM4    23               31.560284   31  31.560284  31.560284

[744 rows x 6 columns]
Getting sept data agg for  RHS

     hour  percent_lots_available  day carpark_number  lag_1  lag_168
0       0                     0.0    1            RHS    NaN      NaN
1       1                     0.0    1            RHS    0.0      NaN
2       2                     0.0    1            RHS    0.0      NaN
3       3                     0.0    1            RHS    0.0      NaN
4       4                     0.0    1            RHS    0.0      NaN
..    ...                     ...  ...            ...    ...      ...
715    19                     0.0   30            RHS    0.0      0.0
716    20                     0.0   30            RHS    0.0      0.0
717    21                     0.0   30            RHS    0.0      0.0
718    22                     0.0   30            RHS    0.0      0.0
719    23                     0.0   30            RHS    0.0      0.0

[720 rows x 6 columns]
Getting oct data agg for  RHS
    carpark_number  hour  percent_lots_available  day  lag_1  lag_168
0              RHS     0                     0.0    1    0.0      0.0
1              RHS     1                     0.0    1    0.0      0.0
2              RHS     2                     0.0    1    0.0      0.0
3              RHS     3                     0.0    1    0.0      0.0
4              RHS     4                     0.0    1    0.0      0.0
..             ...   ...                     ...  ...    ...      ...
739            RHS    19                     0.0   31    0.0      0.0
740            RHS    20                     0.0   31    0.0      0.0
741            RHS    21                     0.0   31    0.0      0.0
742            RHS    22                     0.0   31    0.0      0.0
743            RHS    23                     0.0   31    0.0      0.0

[744 rows x 6 columns]
Getting sept data agg for  SAM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               65.341488    1            SAM        NaN        NaN
1       1               64.933741    1            SAM  65.341488        NaN
2       2               64.220183    1            SAM  64.933741        NaN
3       3               63.914373    1            SAM  64.220183        NaN
4       4               64.424057    1            SAM  63.914373        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               75.229358   30            SAM  76.758410  74.311927
716    20               73.190622   30            SAM  75.229358  72.884811
717    21               68.909276   30            SAM  73.190622  75.331295
718    22               68.501529   30            SAM  68.909276  72.273191
719    23               67.737003   30            SAM  68.501529  69.418960

[720 rows x 6 columns]
Getting oct data agg for  SAM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              SAM     0               66.462793    1  67.737003  68.399592
1              SAM     1               65.239551    1  66.462793  68.399592
2              SAM     2               64.627931    1  65.239551  67.278287
3              SAM     3               64.729867    1  64.627931  66.156983
4              SAM     4               64.118247    1  64.729867  99.490316
..             ...   ...                     ...  ...        ...        ...
715            SAM    19               74.617737   31  71.865443  71.457696
716            SAM    20               72.375127   31  74.617737  67.431193
717            SAM    21               69.826707   31  72.375127  66.055046
718            SAM    22               67.584098   31  69.826707  66.564730
719            SAM    23               66.360856   31  67.584098  66.564730

[720 rows x 6 columns]
Getting sept data agg for  SAM2
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               38.988095    1           SAM2        NaN        NaN
1       1               38.988095    1           SAM2  38.988095        NaN
2       2               38.988095    1           SAM2  38.988095        NaN
3       3               38.988095    1           SAM2  38.988095        NaN
4       4               38.988095    1           SAM2  38.988095        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               25.595238   30           SAM2  25.595238  60.714286
716    20               25.595238   30           SAM2  25.595238  60.714286
717    21               25.595238   30           SAM2  25.595238  60.714286
718    22               25.595238   30           SAM2  25.595238  60.714286
719    23               25.595238   30           SAM2  25.595238  60.714286

[720 rows x 6 columns]
Getting oct data agg for  SAM2
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             SAM2     0               25.595238    1  25.595238  60.714286
1             SAM2     1               25.595238    1  25.595238  53.472222
2             SAM2     2               25.595238    1  25.595238  38.988095
3             SAM2     3               31.491511    1  25.595238  38.988095
4             SAM2     4               25.595238    1  31.491511  38.988095
..             ...   ...                     ...  ...        ...        ...
739           SAM2    19               45.535714   31  45.535714  25.595238
740           SAM2    20               45.535714   31  45.535714  25.595238
741           SAM2    21               45.535714   31  45.535714  25.595238
742           SAM2    22               45.535714   31  45.535714  25.595238
743           SAM2    23               45.535714   31  45.535714  25.595238

[744 rows x 6 columns]
Getting sept data agg for  SLS
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               45.147679    1            SLS        NaN        NaN
1       1               50.632911    1            SLS  45.147679        NaN
2       2               53.164557    1            SLS  50.632911        NaN
3       3               56.118143    1            SLS  53.164557        NaN
4       4               52.531646    1            SLS  56.118143        NaN
..    ...                     ...  ...            ...        ...        ...
715    19                0.632911   30            SLS  11.392405   1.265823
716    20               11.708861   30            SLS   0.632911   0.000000
717    21               22.784810   30            SLS  11.708861  16.455696
718    22               38.818565   30            SLS  22.784810  31.012658
719    23               44.303797   30            SLS  38.818565  45.569620

[720 rows x 6 columns]
Getting oct data agg for  SLS
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              SLS     0               49.789030    1  44.303797  52.109705
1              SLS     1               54.008439    1  49.789030  58.649789
2              SLS     2               56.962025    1  54.008439  59.493671
3              SLS     3               62.341772    1  56.962025  64.556962
4              SLS     4               56.540084    1  62.341772  60.759494
..             ...   ...                     ...  ...        ...        ...
739            SLS    19               12.341772   31  18.987342   3.797468
740            SLS    20               20.675105   31  12.341772  23.628692
741            SLS    21               36.708861   31  20.675105  30.379747
742            SLS    22               53.164557   31  36.708861  48.734177
743            SLS    23               64.556962   31  53.164557  51.793249

[744 rows x 6 columns]
Getting sept data agg for  SMM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               53.634717    1            SMM        NaN        NaN
1       1               70.146165    1            SMM  53.634717        NaN
2       2               56.493339    1            SMM  70.146165        NaN
3       3               50.743759    1            SMM  56.493339        NaN
4       4               50.472125    1            SMM  50.743759        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               37.582460   30            SMM  58.731083  27.777778
716    20               35.525805   30            SMM  37.582460  41.915664
717    21               45.026517   30            SMM  35.525805  32.887078
718    22               47.923943   30            SMM  45.026517  37.821757
719    23                8.333333   30            SMM  47.923943  36.541198

[720 rows x 6 columns]
Getting oct data agg for  SMM

    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              SMM     0               35.668090    1   8.333333  50.000000
1              SMM     1               42.368387    1  35.668090  44.412107
2              SMM     2               58.996249    1  42.368387  66.666667
3              SMM     3               58.918639    1  58.996249  58.530591
4              SMM     4               53.130255    1  58.918639  58.530591
..             ...   ...                     ...  ...        ...        ...
739            SMM    19               51.940241   31  34.904928  66.880093
740            SMM    20               44.696676   31  51.940241  83.333333
741            SMM    21               37.297892   31  44.696676  52.024318
742            SMM    22               42.329582   31  37.297892  50.666149
743            SMM    23               41.666667   31  42.329582  66.666667

[744 rows x 6 columns]
Getting sept data agg for  SPM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               72.878999    1            SPM        NaN        NaN
1       1               72.878999    1            SPM  72.878999        NaN
2       2               72.878999    1            SPM  72.878999        NaN
3       3               72.878999    1            SPM  72.878999        NaN
4       4               72.878999    1            SPM  72.878999        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               71.210014   30            SPM  71.210014  71.210014
716    20               71.210014   30            SPM  71.210014  71.210014
717    21               71.210014   30            SPM  71.210014  71.210014
718    22               71.210014   30            SPM  71.210014  71.210014
719    23               71.210014   30            SPM  71.210014  71.210014

[720 rows x 6 columns]
Getting oct data agg for  SPM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              SPM     0               71.210014    1  71.210014  71.210014
1              SPM     1               71.210014    1  71.210014  71.210014
2              SPM     2               71.210014    1  71.210014  71.210014
3              SPM     3               71.210014    1  71.210014  71.210014
4              SPM     4               71.210014    1  71.210014  71.210014
..             ...   ...                     ...  ...        ...        ...
739            SPM    19               71.210014   31  71.210014  71.210014
740            SPM    20               71.210014   31  71.210014  71.210014
741            SPM    21               71.210014   31  71.210014  71.210014
742            SPM    22               71.210014   31  71.210014  71.210014
743            SPM    23               71.210014   31  71.210014  71.210014

[744 rows x 6 columns]
Getting sept data agg for  SPS
     hour  percent_lots_available  day carpark_number      lag_1   lag_168
0       0               68.367347    1            SPS        NaN       NaN
1       1               68.367347    1            SPS  68.367347       NaN
2       2               68.367347    1            SPS  68.367347       NaN
3       3               68.367347    1            SPS  68.367347       NaN
4       4               68.367347    1            SPS  68.367347       NaN
..    ...                     ...  ...            ...        ...       ...
715    19               61.224490   30            SPS  61.224490  61.22449
716    20               76.734694   30            SPS  61.224490  61.22449
717    21               61.224490   30            SPS  76.734694  61.22449
718    22               61.224490   30            SPS  61.224490  61.22449
719    23               61.224490   30            SPS  61.224490  61.22449

[720 rows x 6 columns]
Getting oct data agg for  SPS
    carpark_number  hour  percent_lots_available  day     lag_1   lag_168
0              SPS     0                61.22449    1  61.22449  61.22449
1              SPS     1                61.22449    1  61.22449  61.22449
2              SPS     2                61.22449    1  61.22449  61.22449
3              SPS     3                61.22449    1  61.22449  61.22449
4              SPS     4                61.22449    1  61.22449  61.22449
..             ...   ...                     ...  ...       ...       ...
739            SPS    19                61.22449   31  61.22449  61.22449
740            SPS    20                61.22449   31  61.22449  61.22449
741            SPS    21                61.22449   31  61.22449  61.22449
742            SPS    22                61.22449   31  61.22449  61.22449
743            SPS    23                61.22449   31  61.22449  61.22449

[744 rows x 6 columns]
Getting sept data agg for  STAM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               31.751825    1           STAM        NaN        NaN
1       1               37.880695    1           STAM  31.751825        NaN
2       2               32.116788    1           STAM  37.880695        NaN
3       3               32.116788    1           STAM  32.116788        NaN
4       4               32.116788    1           STAM  32.116788        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               32.116788   30           STAM  32.116788  32.116788
716    20               32.116788   30           STAM  32.116788  32.116788
717    21               32.116788   30           STAM  32.116788  32.116788
718    22               32.116788   30           STAM  32.116788  32.116788
719    23               32.116788   30           STAM  32.116788  32.116788

[720 rows x 6 columns]
Getting oct data agg for  STAM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             STAM     0               32.116788    1  32.116788  32.116788
1             STAM     1               32.360097    1  32.116788  39.781022
2             STAM     2               32.481752    1  32.360097  55.109489
3             STAM     3               32.481752    1  32.481752  55.109489
4             STAM     4               32.481752    1  32.481752  55.109489
..             ...   ...                     ...  ...        ...        ...
739           STAM    19               31.751825   31  31.751825  32.116788
740           STAM    20               31.751825   31  31.751825  32.116788
741           STAM    21               31.751825   31  31.751825  32.116788
742           STAM    22               31.751825   31  31.751825  37.880695
743           STAM    23               31.751825   31  31.751825  32.116788

[744 rows x 6 columns]
Getting sept data agg for  STM1
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               31.081081    1           STM1        NaN        NaN
1       1               31.531532    1           STM1  31.081081        NaN
2       2               32.432432    1           STM1  31.531532        NaN
3       3               32.432432    1           STM1  32.432432        NaN
4       4               32.432432    1           STM1  32.432432        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               30.405405   30           STM1  30.405405  30.405405
716    20               30.405405   30           STM1  30.405405  30.405405
717    21               30.405405   30           STM1  30.405405  30.405405
718    22               30.405405   30           STM1  30.405405  30.405405
719    23               30.405405   30           STM1  30.405405  30.405405

[720 rows x 6 columns]
Getting oct data agg for  STM1
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             STM1     0               30.405405    1  30.405405  30.405405
1             STM1     1               30.180180    1  30.405405  35.585586
2             STM1     2               29.729730    1  30.180180  45.945946
3             STM1     3               29.729730    1  29.729730  45.945946
4             STM1     4               29.729730    1  29.729730  45.945946
..             ...   ...                     ...  ...        ...        ...
739           STM1    19               28.378378   31  28.378378  27.702703
740           STM1    20               28.378378   31  28.378378  27.702703
741           STM1    21               35.867117   31  28.378378  27.702703
742           STM1    22               28.378378   31  35.867117  27.702703
743           STM1    23               28.378378   31  28.378378  27.702703

[744 rows x 6 columns]
Getting sept data agg for  STM2

     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               46.231156    1           STM2        NaN        NaN
1       1               39.000290    1           STM2  46.231156        NaN
2       2               46.231156    1           STM2  39.000290        NaN
3       3               46.231156    1           STM2  46.231156        NaN
4       4               46.231156    1           STM2  46.231156        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               45.728643   30           STM2  45.728643  46.231156
716    20               45.728643   30           STM2  45.728643  46.231156
717    21               45.728643   30           STM2  45.728643  46.231156
718    22               45.728643   30           STM2  45.728643  46.231156
719    23               45.728643   30           STM2  45.728643  46.231156

[720 rows x 6 columns]
Getting oct data agg for  STM2
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             STM2     0               39.104175    1  45.728643  46.231156
1             STM2     1               45.728643    1  39.104175  51.591290
2             STM2     2               45.728643    1  45.728643  62.311558
3             STM2     3               45.728643    1  45.728643  62.311558
4             STM2     4               45.728643    1  45.728643  62.311558
..             ...   ...                     ...  ...        ...        ...
739           STM2    19               45.226131   31  45.226131  45.226131
740           STM2    20               45.226131   31  45.226131  45.226131
741           STM2    21               45.226131   31  45.226131  45.226131
742           STM2    22               45.226131   31  45.226131  45.226131
743           STM2    23               45.226131   31  45.226131  45.226131

[744 rows x 6 columns]
Getting sept data agg for  STM3
     hour  percent_lots_available  day carpark_number  lag_1  lag_168
0       0                0.000000    1           STM3    NaN      NaN
1       1                0.000000    1           STM3    0.0      NaN
2       2                0.000000    1           STM3    0.0      NaN
3       3                0.000000    1           STM3    0.0      NaN
4       4               13.181818    1           STM3    0.0      NaN
..    ...                     ...  ...            ...    ...      ...
715    19                0.000000   30           STM3    0.0      0.0
716    20                0.000000   30           STM3    0.0      0.0
717    21                0.000000   30           STM3    0.0      0.0
718    22                0.000000   30           STM3    0.0      0.0
719    23                0.000000   30           STM3    0.0      0.0

[720 rows x 6 columns]
Getting oct data agg for  STM3
    carpark_number  hour  percent_lots_available  day  lag_1  lag_168
0             STM3     0                0.000000    1    0.0      0.0
1             STM3     1                0.000000    1    0.0      0.0
2             STM3     2                0.000000    1    0.0      0.0
3             STM3     3                0.000000    1    0.0      0.0
4             STM3     4               14.090909    1    0.0      0.0
..             ...   ...                     ...  ...    ...      ...
739           STM3    19                0.000000   31    0.0      0.0
740           STM3    20                0.000000   31    0.0      0.0
741           STM3    21                0.000000   31    0.0      0.0
742           STM3    22                0.000000   31    0.0      0.0
743           STM3    23                0.000000   31    0.0      0.0

[744 rows x 6 columns]
Getting sept data agg for  TB1
     hour  percent_lots_available  day carpark_number      lag_1   lag_168
0       0               10.344828    1            TB1        NaN       NaN
1       1               13.793103    1            TB1  10.344828       NaN
2       2               13.793103    1            TB1  13.793103       NaN
3       3               13.793103    1            TB1  13.793103       NaN
4       4               13.793103    1            TB1  13.793103       NaN
..    ...                     ...  ...            ...        ...       ...
715    19                3.448276   30            TB1   3.448276  6.896552
716    20                3.448276   30            TB1   3.448276  6.896552
717    21                3.448276   30            TB1   3.448276  5.172414
718    22                3.448276   30            TB1   3.448276  6.896552
719    23                3.448276   30            TB1   3.448276  6.896552

[720 rows x 6 columns]
Getting oct data agg for  TB1
    carpark_number  hour  percent_lots_available  day     lag_1   lag_168
0              TB1     0                6.896552    1  3.448276  6.896552
1              TB1     1                5.172414    1  6.896552  6.896552
2              TB1     2                6.896552    1  5.172414  6.896552
3              TB1     3                6.896552    1  6.896552  6.896552
4              TB1     4                6.896552    1  6.896552  6.896552
..             ...   ...                     ...  ...       ...       ...
739            TB1    19                5.172414   31  5.172414  1.724138
740            TB1    20                5.172414   31  5.172414  1.724138
741            TB1    21                5.172414   31  5.172414  1.724138
742            TB1    22                5.172414   31  5.172414  1.724138
743            TB1    23                5.172414   31  5.172414  9.770115

[744 rows x 6 columns]
Getting sept data agg for  TB10
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               30.046948    1           TB10        NaN        NaN
1       1               30.046948    1           TB10  30.046948        NaN
2       2               30.046948    1           TB10  30.046948        NaN
3       3               30.046948    1           TB10  30.046948        NaN
4       4               30.046948    1           TB10  30.046948        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               49.765258   30           TB10  49.765258  49.765258
716    20               49.765258   30           TB10  49.765258  49.765258
717    21               49.765258   30           TB10  49.765258  49.765258
718    22               49.765258   30           TB10  49.765258  49.765258
719    23               49.765258   30           TB10  49.765258  49.765258

[720 rows x 6 columns]
Getting oct data agg for  TB10
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TB10     0               62.323944    1  49.765258  49.765258
1             TB10     1               49.765258    1  62.323944  49.765258
2             TB10     2               49.765258    1  49.765258  49.765258
3             TB10     3               49.765258    1  49.765258  49.765258
4             TB10     4               49.765258    1  49.765258  49.765258
..             ...   ...                     ...  ...        ...        ...
739           TB10    19               49.765258   31  49.765258  49.765258
740           TB10    20               49.765258   31  49.765258  49.765258
741           TB10    21               44.198944   31  49.765258  49.765258
742           TB10    22               49.765258   31  44.198944  44.198944
743           TB10    23               49.765258   31  49.765258  62.323944

[744 rows x 6 columns]
Getting sept data agg for  TB11
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               48.387819    1           TB11        NaN        NaN
1       1               51.298701    1           TB11  48.387819        NaN
2       2               51.298701    1           TB11  51.298701        NaN
3       3               51.298701    1           TB11  51.298701        NaN
4       4               51.298701    1           TB11  51.298701        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               68.181818   30           TB11  68.181818  72.727273
716    20               68.181818   30           TB11  68.181818  72.727273
717    21               68.181818   30           TB11  68.181818  72.727273
718    22               68.181818   30           TB11  68.181818  72.727273
719    23               68.181818   30           TB11  68.181818  72.727273

[720 rows x 6 columns]
Getting oct data agg for  TB11

    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TB11     0               68.181818    1  68.181818  72.727273
1             TB11     1               68.181818    1  68.181818  72.727273
2             TB11     2               68.181818    1  68.181818  72.727273
3             TB11     3               68.181818    1  68.181818  72.727273
4             TB11     4               68.181818    1  68.181818  72.727273
..             ...   ...                     ...  ...        ...        ...
739           TB11    19               51.298701   31  51.298701  51.298701
740           TB11    20               51.298701   31  51.298701  51.298701
741           TB11    21               51.298701   31  51.298701  51.298701
742           TB11    22               51.298701   31  51.298701  51.298701
743           TB11    23               51.298701   31  51.298701  51.298701

[744 rows x 6 columns]
Getting sept data agg for  TB14
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0                0.000000    1           TB14        NaN        NaN
1       1                0.000000    1           TB14   0.000000        NaN
2       2                0.000000    1           TB14   0.000000        NaN
3       3                2.325581    1           TB14   0.000000        NaN
4       4                4.651163    1           TB14   2.325581        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               24.418605   30           TB14  31.782946   6.201550
716    20               16.279070   30           TB14  24.418605  10.852713
717    21               17.054264   30           TB14  16.279070   8.527132
718    22               13.953488   30           TB14  17.054264  12.403101
719    23               13.953488   30           TB14  13.953488   7.751938

[720 rows x 6 columns]
Getting oct data agg for  TB14
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TB14     0               14.728682    1  13.953488   9.302326
1             TB14     1               13.953488    1  14.728682   9.302326
2             TB14     2               13.178295    1  13.953488   8.720930
3             TB14     3               11.627907    1  13.178295   9.302326
4             TB14     4               13.178295    1  11.627907   8.527132
..             ...   ...                     ...  ...        ...        ...
739           TB14    19               19.186047   31  27.131783   8.527132
740           TB14    20               13.953488   31  19.186047  14.728682
741           TB14    21                6.976744   31  13.953488  10.852713
742           TB14    22               10.852713   31   6.976744  10.852713
743           TB14    23               10.465116   31  10.852713   8.527132

[744 rows x 6 columns]
Getting sept data agg for  TB17
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0                4.826958    1           TB17        NaN        NaN
1       1                2.367942    1           TB17   4.826958        NaN
2       2                2.322404    1           TB17   2.367942        NaN
3       3                5.259563    1           TB17   2.322404        NaN
4       4                8.561020    1           TB17   5.259563        NaN
..    ...                     ...  ...            ...        ...        ...
595    19               31.147541   30           TB17  33.469945  23.132969
596    20               28.324226   30           TB17  31.147541  21.448087
597    21               25.500911   30           TB17  28.324226  18.647541
598    22               22.404372   30           TB17  25.500911  18.579235
599    23               21.311475   30           TB17  22.404372  14.480874

[600 rows x 6 columns]
Getting oct data agg for  TB17
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TB17     0               18.032787    1  21.311475  10.519126
1             TB17     1               14.845173    1  18.032787  10.473588
2             TB17     2               14.025501    1  14.845173  10.473588
3             TB17     3               18.488160    1  14.025501  14.663024
4             TB17     4               17.349727    1  18.488160  13.934426
..             ...   ...                     ...  ...        ...        ...
739           TB17    19               25.500911   31  29.508197  17.759563
740           TB17    20               21.994536   31  25.500911  16.029144
741           TB17    21               22.472678   31  21.994536  19.216758
742           TB17    22               20.673953   31  22.472678  20.036430
743           TB17    23               17.349727   31  20.673953  21.857923

[744 rows x 6 columns]
Getting sept data agg for  TB18
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0                5.164319    1           TB18        NaN        NaN
1       1                2.816901    1           TB18   5.164319        NaN
2       2                4.225352    1           TB18   2.816901        NaN
3       3                3.755869    1           TB18   4.225352        NaN
4       4                5.281690    1           TB18   3.755869        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               36.267606   30           TB18  40.140845  12.206573
716    20               40.845070   30           TB18  36.267606   3.755869
717    21               30.046948   30           TB18  40.845070   2.816901
718    22               23.943662   30           TB18  30.046948   1.408451
719    23               19.718310   30           TB18  23.943662   0.000000

[720 rows x 6 columns]
Getting oct data agg for  TB18
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TB18     0               18.779343    1  19.718310   0.000000
1             TB18     1               17.370892    1  18.779343   0.000000
2             TB18     2               15.962441    1  17.370892   0.000000
3             TB18     3               14.553991    1  15.962441   0.000000
4             TB18     4               14.084507    1  14.553991   0.000000
..             ...   ...                     ...  ...        ...        ...
739           TB18    19               32.394366   31  37.089202  36.150235
740           TB18    20               33.802817   31  32.394366  28.638498
741           TB18    21               30.281690   31  33.802817  25.352113
742           TB18    22               20.657277   31  30.281690  24.647887
743           TB18    23               14.788732   31  20.657277  23.474178

[744 rows x 6 columns]
Getting sept data agg for  TB19
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               35.666667    1           TB19        NaN        NaN
1       1               35.666667    1           TB19  35.666667        NaN
2       2               33.000000    1           TB19  35.666667        NaN
3       3               32.666667    1           TB19  33.000000        NaN
4       4               34.750000    1           TB19  32.666667        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               45.750000   30           TB19  51.000000  41.333333
716    20               33.000000   30           TB19  45.750000  36.000000
717    21               37.333333   30           TB19  33.000000  31.666667
718    22               43.333333   30           TB19  37.333333  36.333333
719    23               46.500000   30           TB19  43.333333  35.333333

[720 rows x 6 columns]
Getting oct data agg for  TB19
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TB19     0               43.333333    1  46.500000  31.333333
1             TB19     1               43.333333    1  43.333333  29.333333
2             TB19     2               40.000000    1  43.333333  26.666667
3             TB19     3               41.333333    1  40.000000  29.666667
4             TB19     4               41.333333    1  41.333333  29.666667
..             ...   ...                     ...  ...        ...        ...
739           TB19    19               59.333333   31  68.666667  41.666667
740           TB19    20               55.500000   31  59.333333  43.333333
741           TB19    21               53.000000   31  55.500000  55.000000
742           TB19    22               52.333333   31  53.000000  52.250000
743           TB19    23               49.000000   31  52.333333  49.000000

[744 rows x 6 columns]
Getting sept data agg for  TB2

     hour  percent_lots_available  day carpark_number      lag_1  lag_168
0       0                9.803922    1            TB2        NaN      NaN
1       1                9.803922    1            TB2   9.803922      NaN
2       2                5.882353    1            TB2   9.803922      NaN
3       3                9.803922    1            TB2   5.882353      NaN
4       4                9.803922    1            TB2   9.803922      NaN
..    ...                     ...  ...            ...        ...      ...
715    19               29.411765   30            TB2  29.411765      0.0
716    20               29.411765   30            TB2  29.411765      0.0
717    21               29.411765   30            TB2  29.411765      0.0
718    22               29.411765   30            TB2  29.411765      0.0
719    23               29.411765   30            TB2  29.411765      0.0

[720 rows x 6 columns]
Getting oct data agg for  TB2
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              TB2     0               29.411765    1  29.411765   0.000000
1              TB2     1               29.411765    1  29.411765   4.166667
2              TB2     2               29.411765    1  29.411765   0.000000
3              TB2     3               29.411765    1  29.411765   0.000000
4              TB2     4               29.411765    1  29.411765   0.000000
..             ...   ...                     ...  ...        ...        ...
739            TB2    19                0.000000   31   0.000000  11.764706
740            TB2    20               11.111111   31   0.000000  11.764706
741            TB2    21                0.000000   31  11.111111  11.764706
742            TB2    22                0.000000   31   0.000000  11.764706
743            TB2    23                0.000000   31   0.000000  11.764706

[744 rows x 6 columns]
Getting sept data agg for  TB22
     hour  percent_lots_available  day carpark_number  lag_1  lag_168
0       0                    30.0    1           TB22    NaN      NaN
1       1                    40.0    1           TB22   30.0      NaN
2       2                    40.0    1           TB22   40.0      NaN
3       3                    40.0    1           TB22   40.0      NaN
4       4                    40.0    1           TB22   40.0      NaN
..    ...                     ...  ...            ...    ...      ...
715    19                    85.0   30           TB22   85.0     70.0
716    20                    85.0   30           TB22   85.0     52.5
717    21                    85.0   30           TB22   85.0     70.0
718    22                    85.0   30           TB22   85.0     70.0
719    23                    85.0   30           TB22   85.0     70.0

[720 rows x 6 columns]
Getting oct data agg for  TB22
    carpark_number  hour  percent_lots_available  day  lag_1  lag_168
0             TB22     0                    85.0    1   85.0    70.00
1             TB22     1                    85.0    1   85.0    70.00
2             TB22     2                    85.0    1   85.0    70.00
3             TB22     3                    85.0    1   85.0    70.00
4             TB22     4                    85.0    1   85.0    70.00
..             ...   ...                     ...  ...    ...      ...
739           TB22    19                    85.0   31   85.0    85.00
740           TB22    20                    85.0   31   85.0    85.00
741           TB22    21                    85.0   31   85.0    85.00
742           TB22    22                    85.0   31   85.0    63.75
743           TB22    23                    85.0   31   85.0    85.00

[744 rows x 6 columns]
Getting sept data agg for  TB23
     hour  percent_lots_available  day carpark_number  lag_1  lag_168
0       0                     0.0    1           TB23    NaN      NaN
1       1                     0.0    1           TB23    0.0      NaN
2       2                     0.0    1           TB23    0.0      NaN
3       3                     0.0    1           TB23    0.0      NaN
4       4                     0.0    1           TB23    0.0      NaN
..    ...                     ...  ...            ...    ...      ...
715    19                     0.0   30           TB23    0.0     74.0
716    20                     0.0   30           TB23    0.0     74.0
717    21                     0.0   30           TB23    0.0     74.0
718    22                     0.0   30           TB23    0.0     74.0
719    23                     0.0   30           TB23    0.0     74.0

[720 rows x 6 columns]
Getting oct data agg for  TB23
    carpark_number  hour  percent_lots_available  day      lag_1  lag_168
0             TB23     0                0.000000    1   0.000000     74.0
1             TB23     1                0.000000    1   0.000000     74.0
2             TB23     2                0.000000    1   0.000000     74.0
3             TB23     3                0.000000    1   0.000000     74.0
4             TB23     4                0.000000    1   0.000000     74.0
..             ...   ...                     ...  ...        ...      ...
739           TB23    19               22.368421   31   0.000000      0.0
740           TB23    20                0.000000   31  22.368421      0.0
741           TB23    21                0.000000   31   0.000000      0.0
742           TB23    22                0.000000   31   0.000000      0.0
743           TB23    23                0.000000   31   0.000000      0.0

[744 rows x 6 columns]
Getting sept data agg for  TB28
     hour  percent_lots_available  day carpark_number      lag_1  lag_168
0       0               11.111111    1           TB28        NaN      NaN
1       1                0.000000    1           TB28  11.111111      NaN
2       2                0.000000    1           TB28   0.000000      NaN
3       3                0.000000    1           TB28   0.000000      NaN
4       4                0.000000    1           TB28   0.000000      NaN
..    ...                     ...  ...            ...        ...      ...
715    19                0.000000   30           TB28   0.000000      0.0
716    20                0.000000   30           TB28   0.000000      0.0
717    21                0.000000   30           TB28   0.000000      0.0
718    22                0.000000   30           TB28   0.000000      0.0
719    23                0.000000   30           TB28   0.000000      0.0

[720 rows x 6 columns]
Getting oct data agg for  TB28
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TB28     0                0.000000    1   0.000000   1.388889
1             TB28     1                0.000000    1   0.000000   1.388889
2             TB28     2                0.000000    1   0.000000   0.000000
3             TB28     3                0.000000    1   0.000000   0.000000
4             TB28     4                0.000000    1   0.000000   0.000000
..             ...   ...                     ...  ...        ...        ...
739           TB28    19               27.777778   31  27.777778  16.666667
740           TB28    20               27.777778   31  27.777778  16.666667
741           TB28    21               18.518519   31  27.777778  16.666667
742           TB28    22                0.000000   31  18.518519  16.666667
743           TB28    23                0.000000   31   0.000000  20.370370

[744 rows x 6 columns]
Getting sept data agg for  TB3
     hour  percent_lots_available  day carpark_number      lag_1   lag_168
0       0               18.831169    1            TB3        NaN       NaN
1       1               18.831169    1            TB3  18.831169       NaN
2       2               18.831169    1            TB3  18.831169       NaN
3       3               18.831169    1            TB3  18.831169       NaN
4       4               18.831169    1            TB3  18.831169       NaN
..    ...                     ...  ...            ...        ...       ...
715    19               25.324675   30            TB3  25.324675  10.38961
716    20               25.324675   30            TB3  25.324675  10.38961
717    21               25.324675   30            TB3  25.324675  10.38961
718    22               25.324675   30            TB3  25.324675  10.38961
719    23               25.324675   30            TB3  25.324675  10.38961

[720 rows x 6 columns]
Getting oct data agg for  TB3

    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              TB3     0               25.324675    1  25.324675  10.389610
1              TB3     1               25.324675    1  25.324675  10.389610
2              TB3     2               28.814935    1  25.324675  10.389610
3              TB3     3               25.324675    1  28.814935  10.389610
4              TB3     4               25.324675    1  25.324675  10.389610
..             ...   ...                     ...  ...        ...        ...
739            TB3    19                2.597403   31   2.597403  15.584416
740            TB3    20                2.597403   31   2.597403  15.584416
741            TB3    21                2.597403   31   2.597403  15.584416
742            TB3    22                2.597403   31   2.597403  15.584416
743            TB3    23                2.597403   31   2.597403  20.616883

[744 rows x 6 columns]
Getting sept data agg for  TB6
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               43.609023    1            TB6        NaN        NaN
1       1               43.609023    1            TB6  43.609023        NaN
2       2               47.100706    1            TB6  43.609023        NaN
3       3               43.609023    1            TB6  47.100706        NaN
4       4               43.609023    1            TB6  43.609023        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               66.165414   30            TB6  66.165414  61.654135
716    20               64.018000   30            TB6  66.165414  61.654135
717    21               66.165414   30            TB6  64.018000  61.654135
718    22               66.165414   30            TB6  66.165414  61.654135
719    23               66.165414   30            TB6  66.165414  61.654135

[720 rows x 6 columns]
Getting oct data agg for  TB6
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              TB6     0               66.165414    1  66.165414  61.654135
1              TB6     1               66.165414    1  66.165414  61.654135
2              TB6     2               66.165414    1  66.165414  61.654135
3              TB6     3               66.165414    1  66.165414  61.654135
4              TB6     4               66.165414    1  66.165414  61.654135
..             ...   ...                     ...  ...        ...        ...
739            TB6    19               66.165414   31  66.165414  66.165414
740            TB6    20               66.165414   31  66.165414  66.165414
741            TB6    21               66.165414   31  66.165414  66.165414
742            TB6    22               64.018000   31  66.165414  66.165414
743            TB6    23               66.165414   31  64.018000  66.165414

[744 rows x 6 columns]
Getting sept data agg for  TB7
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               59.278351    1            TB7        NaN        NaN
1       1               59.278351    1            TB7  59.278351        NaN
2       2               59.278351    1            TB7  59.278351        NaN
3       3               59.278351    1            TB7  59.278351        NaN
4       4               59.278351    1            TB7  59.278351        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               66.494845   30            TB7  66.494845  66.494845
716    20               66.494845   30            TB7  66.494845  66.494845
717    21               66.494845   30            TB7  66.494845  66.494845
718    22               66.494845   30            TB7  66.494845  66.494845
719    23               66.494845   30            TB7  66.494845  66.494845

[720 rows x 6 columns]
Getting oct data agg for  TB7
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              TB7     0               66.494845    1  66.494845  57.257498
1              TB7     1               66.494845    1  66.494845  66.494845
2              TB7     2               57.257498    1  66.494845  66.494845
3              TB7     3               66.494845    1  57.257498  66.494845
4              TB7     4               57.257498    1  66.494845  66.494845
..             ...   ...                     ...  ...        ...        ...
739            TB7    19               66.494845   31  66.494845  66.494845
740            TB7    20               66.494845   31  66.494845  66.494845
741            TB7    21               66.494845   31  66.494845  66.494845
742            TB7    22               66.494845   31  66.494845  66.494845
743            TB7    23               66.494845   31  66.494845  66.494845

[744 rows x 6 columns]
Getting sept data agg for  TB8
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               43.529412    1            TB8        NaN        NaN
1       1               50.260695    1            TB8  43.529412        NaN
2       2               43.529412    1            TB8  50.260695        NaN
3       3               50.260695    1            TB8  43.529412        NaN
4       4               43.529412    1            TB8  50.260695        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               63.529412   30            TB8  63.529412  61.176471
716    20               63.529412   30            TB8  63.529412  61.176471
717    21               63.529412   30            TB8  63.529412  61.176471
718    22               63.529412   30            TB8  63.529412  61.176471
719    23               63.529412   30            TB8  63.529412  61.176471

[720 rows x 6 columns]
Getting oct data agg for  TB8
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              TB8     0               63.529412    1  63.529412  61.176471
1              TB8     1               63.529412    1  63.529412  61.176471
2              TB8     2               63.529412    1  63.529412  61.176471
3              TB8     3               63.529412    1  63.529412  61.176471
4              TB8     4               63.529412    1  63.529412  61.176471
..             ...   ...                     ...  ...        ...        ...
739            TB8    19               63.529412   31  63.529412  63.529412
740            TB8    20               63.529412   31  63.529412  63.529412
741            TB8    21               63.529412   31  63.529412  63.529412
742            TB8    22               63.529412   31  63.529412  63.529412
743            TB8    23               63.529412   31  63.529412  63.529412

[744 rows x 6 columns]
Getting sept data agg for  TB9
     hour  percent_lots_available  day carpark_number      lag_1   lag_168
0       0                0.000000    1            TB9        NaN       NaN
1       1                0.000000    1            TB9   0.000000       NaN
2       2                0.000000    1            TB9   0.000000       NaN
3       3                0.000000    1            TB9   0.000000       NaN
4       4                0.000000    1            TB9   0.000000       NaN
..    ...                     ...  ...            ...        ...       ...
715    19               31.168831   30            TB9  31.168831  1.666667
716    20               31.168831   30            TB9  31.168831  0.000000
717    21               31.168831   30            TB9  31.168831  0.000000
718    22               31.168831   30            TB9  31.168831  0.000000
719    23               31.168831   30            TB9  31.168831  0.000000

[720 rows x 6 columns]
Getting oct data agg for  TB9
    carpark_number  hour  percent_lots_available  day      lag_1   lag_168
0              TB9     0               31.168831    1  31.168831  0.000000
1              TB9     1               25.043290    1  31.168831  0.000000
2              TB9     2               31.168831    1  25.043290  0.000000
3              TB9     3               31.168831    1  31.168831  0.000000
4              TB9     4               31.168831    1  31.168831  0.000000
..             ...   ...                     ...  ...        ...       ...
739            TB9    19                1.298701   31   1.298701  7.792208
740            TB9    20                1.298701   31   1.298701  7.792208
741            TB9    21                1.298701   31   1.298701  7.792208
742            TB9    22                1.298701   31   1.298701  7.510823
743            TB9    23                1.298701   31   1.298701  7.792208

[744 rows x 6 columns]
Getting sept data agg for  TBC2

     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               49.337121    1           TBC2        NaN        NaN
1       1               48.232323    1           TBC2  49.337121        NaN
2       2               47.348485    1           TBC2  48.232323        NaN
3       3               46.843434    1           TBC2  47.348485        NaN
4       4               46.780303    1           TBC2  46.843434        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               66.666667   30           TBC2  67.045455  64.520202
716    20               64.488636   30           TBC2  66.666667  61.616162
717    21               64.772727   30           TBC2  64.488636  59.090909
718    22               58.585859   30           TBC2  64.772727  56.565657
719    23               55.492424   30           TBC2  58.585859  54.292929

[720 rows x 6 columns]
Getting oct data agg for  TBC2
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TBC2     0               52.904040    1  55.492424  53.030303
1             TBC2     1               51.262626    1  52.904040  52.525253
2             TBC2     2               51.136364    1  51.262626  50.631313
3             TBC2     3               49.873737    1  51.136364  49.873737
4             TBC2     4               47.727273    1  49.873737  49.368687
..             ...   ...                     ...  ...        ...        ...
739           TBC2    19               56.818182   31  62.247475  56.565657
740           TBC2    20               53.409091   31  56.818182  58.080808
741           TBC2    21               53.409091   31  53.409091  58.143939
742           TBC2    22               52.272727   31  53.409091  53.977273
743           TBC2    23               50.189394   31  52.272727  50.883838

[744 rows x 6 columns]
Getting sept data agg for  TBC3
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               50.943396    1           TBC3        NaN        NaN
1       1               50.943396    1           TBC3  50.943396        NaN
2       2               50.943396    1           TBC3  50.943396        NaN
3       3               50.943396    1           TBC3  50.943396        NaN
4       4               50.943396    1           TBC3  50.943396        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               28.301887   30           TBC3  28.301887  61.320755
716    20               28.301887   30           TBC3  28.301887  64.411619
717    21               28.301887   30           TBC3  28.301887  61.320755
718    22               28.301887   30           TBC3  28.301887  61.320755
719    23               43.429328   30           TBC3  28.301887  61.320755

[720 rows x 6 columns]
Getting oct data agg for  TBC3
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TBC3     0               28.301887    1  43.429328  64.411619
1             TBC3     1               28.301887    1  28.301887  61.320755
2             TBC3     2               28.301887    1  28.301887  61.320755
3             TBC3     3               28.301887    1  28.301887  61.320755
4             TBC3     4               28.301887    1  28.301887  61.320755
..             ...   ...                     ...  ...        ...        ...
739           TBC3    19               28.301887   31  28.301887  28.301887
740           TBC3    20               28.301887   31  28.301887  28.301887
741           TBC3    21               28.301887   31  28.301887  28.301887
742           TBC3    22               28.301887   31  28.301887  28.301887
743           TBC3    23               28.301887   31  28.301887  28.301887

[744 rows x 6 columns]
Getting sept data agg for  TBCM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               36.762226    1           TBCM        NaN        NaN
1       1               36.762226    1           TBCM  36.762226        NaN
2       2               36.762226    1           TBCM  36.762226        NaN
3       3               36.762226    1           TBCM  36.762226        NaN
4       4               36.762226    1           TBCM  36.762226        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               63.743676   30           TBCM  63.743676  58.853288
716    20               63.743676   30           TBCM  63.743676  58.853288
717    21               63.743676   30           TBCM  63.743676  58.853288
718    22               63.743676   30           TBCM  63.743676  58.853288
719    23               63.743676   30           TBCM  63.743676  58.853288

[720 rows x 6 columns]
Getting oct data agg for  TBCM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TBCM     0               63.743676    1  63.743676  58.853288
1             TBCM     1               57.437387    1  63.743676  58.853288
2             TBCM     2               63.743676    1  57.437387  58.853288
3             TBCM     3               63.743676    1  63.743676  58.853288
4             TBCM     4               63.743676    1  63.743676  58.853288
..             ...   ...                     ...  ...        ...        ...
739           TBCM    19               42.495784   31  42.495784  42.495784
740           TBCM    20               42.495784   31  42.495784  42.495784
741           TBCM    21               42.495784   31  42.495784  42.495784
742           TBCM    22               41.501468   31  42.495784  42.495784
743           TBCM    23               42.495784   31  41.501468  42.495784

[744 rows x 6 columns]
Getting sept data agg for  TBL
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               99.775000    1            TBL        NaN        NaN
1       1               99.866667    1            TBL  99.775000        NaN
2       2               99.900000    1            TBL  99.866667        NaN
3       3               99.900000    1            TBL  99.900000        NaN
4       4               99.900000    1            TBL  99.900000        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               98.925000   30            TBL  98.550000  99.550000
716    20               99.033333   30            TBL  98.925000  99.100000
717    21               99.233333   30            TBL  99.033333  99.433333
718    22               99.466667   30            TBL  99.233333  99.650000
719    23               99.350000   30            TBL  99.466667  99.775000

[720 rows x 6 columns]
Getting oct data agg for  TBL
    carpark_number  hour  percent_lots_available  day      lag_1     lag_168
0              TBL     0               99.700000    1  99.350000   99.900000
1              TBL     1               99.666667    1  99.700000  100.000000
2              TBL     2               99.700000    1  99.666667  100.000000
3              TBL     3               99.666667    1  99.700000   99.966667
4              TBL     4               99.700000    1  99.666667  100.000000
..             ...   ...                     ...  ...        ...         ...
739            TBL    19               99.750000   31  99.700000   99.233333
740            TBL    20               99.766667   31  99.750000   99.266667
741            TBL    21               99.766667   31  99.766667   99.266667
742            TBL    22               99.866667   31  99.766667   99.566667
743            TBL    23               99.950000   31  99.866667   99.666667

[744 rows x 6 columns]
Getting sept data agg for  TBM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               56.460369    1            TBM        NaN        NaN
1       1               55.700326    1            TBM  56.460369        NaN
2       2               55.700326    1            TBM  55.700326        NaN
3       3               50.977199    1            TBM  55.700326        NaN
4       4               49.077090    1            TBM  50.977199        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               60.423453   30            TBM  61.237785  61.346363
716    20               62.323561   30            TBM  60.423453  58.306189
717    21               58.849077   30            TBM  62.323561  57.980456
718    22               58.414767   30            TBM  58.849077  55.917481
719    23               55.700326   30            TBM  58.414767  52.008686

[720 rows x 6 columns]
Getting oct data agg for  TBM

    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              TBM     0               54.180239    1  55.700326  49.837134
1              TBM     1               53.311618    1  54.180239  48.642780
2              TBM     2               52.280130    1  53.311618  49.077090
3              TBM     3               49.267101    1  52.280130  44.951140
4              TBM     4               49.945711    1  49.267101  44.842562
..             ...   ...                     ...  ...        ...        ...
691            TBM    19               70.032573   31  70.032573  70.358306
692            TBM    20               70.032573   31  70.032573  70.141151
693            TBM    21               70.032573   31  70.032573  70.032573
694            TBM    22               70.032573   31  70.032573  70.032573
695            TBM    23               70.032573   31  70.032573  70.032573

[696 rows x 6 columns]
Getting sept data agg for  TBM2
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               27.572016    1           TBM2        NaN        NaN
1       1               27.572016    1           TBM2  27.572016        NaN
2       2               27.572016    1           TBM2  27.572016        NaN
3       3               27.572016    1           TBM2  27.572016        NaN
4       4               27.572016    1           TBM2  27.572016        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               50.617284   30           TBM2  50.617284  50.617284
716    20               50.617284   30           TBM2  50.617284  50.617284
717    21               50.617284   30           TBM2  50.617284  50.617284
718    22               50.617284   30           TBM2  50.617284  50.617284
719    23               50.617284   30           TBM2  50.617284  50.617284

[720 rows x 6 columns]
Getting oct data agg for  TBM2
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TBM2     0               50.617284    1  50.617284  50.617284
1             TBM2     1               50.617284    1  50.617284  50.617284
2             TBM2     2               37.962963    1  50.617284  50.617284
3             TBM2     3               37.962963    1  37.962963  50.617284
4             TBM2     4               50.617284    1  37.962963  50.617284
..             ...   ...                     ...  ...        ...        ...
739           TBM2    19               50.617284   31  50.617284  50.617284
740           TBM2    20               50.617284   31  50.617284  50.617284
741           TBM2    21               50.617284   31  50.617284  50.617284
742           TBM2    22               50.617284   31  50.617284  50.617284
743           TBM2    23               50.617284   31  50.617284  50.617284

[744 rows x 6 columns]
Getting sept data agg for  TBM3
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               82.077922    1           TBM3        NaN        NaN
1       1               76.452059    1           TBM3  82.077922        NaN
2       2               82.077922    1           TBM3  76.452059        NaN
3       3               82.077922    1           TBM3  82.077922        NaN
4       4               82.077922    1           TBM3  82.077922        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               82.597403   30           TBM3  82.597403  82.597403
716    20               82.597403   30           TBM3  82.597403  82.597403
717    21               82.597403   30           TBM3  82.597403  82.597403
718    22               82.597403   30           TBM3  82.597403  82.597403
719    23               82.597403   30           TBM3  82.597403  82.597403

[720 rows x 6 columns]
Getting oct data agg for  TBM3
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TBM3     0               82.597403    1  82.597403  82.597403
1             TBM3     1               82.597403    1  82.597403  86.948052
2             TBM3     2               82.597403    1  82.597403  82.597403
3             TBM3     3               82.597403    1  82.597403  82.597403
4             TBM3     4               82.597403    1  82.597403  82.597403
..             ...   ...                     ...  ...        ...        ...
739           TBM3    19               82.597403   31  82.597403  82.597403
740           TBM3    20               82.597403   31  82.597403  82.597403
741           TBM3    21               82.597403   31  82.597403  82.597403
742           TBM3    22               82.597403   31  82.597403  86.948052
743           TBM3    23               82.597403   31  82.597403  82.597403

[744 rows x 6 columns]
Getting sept data agg for  TBM4
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               48.707753    1           TBM4        NaN        NaN
1       1               48.707753    1           TBM4  48.707753        NaN
2       2               48.707753    1           TBM4  48.707753        NaN
3       3               48.707753    1           TBM4  48.707753        NaN
4       4               48.707753    1           TBM4  48.707753        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               68.787276   30           TBM4  68.787276  68.787276
716    20               68.787276   30           TBM4  68.787276  68.787276
717    21               68.787276   30           TBM4  68.787276  68.787276
718    22               68.787276   30           TBM4  68.787276  68.787276
719    23               68.787276   30           TBM4  68.787276  63.903890

[720 rows x 6 columns]
Getting oct data agg for  TBM4
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TBM4     0               68.787276    1  68.787276  68.787276
1             TBM4     1               68.787276    1  68.787276  68.787276
2             TBM4     2               68.787276    1  68.787276  71.123112
3             TBM4     3               68.787276    1  68.787276  63.903890
4             TBM4     4               68.787276    1  68.787276  68.787276
..             ...   ...                     ...  ...        ...        ...
739           TBM4    19               68.787276   31  68.787276  68.787276
740           TBM4    20               68.787276   31  68.787276  63.903890
741           TBM4    21               68.787276   31  68.787276  68.787276
742           TBM4    22               68.787276   31  68.787276  68.787276
743           TBM4    23               68.787276   31  68.787276  68.787276

[744 rows x 6 columns]
Getting sept data agg for  TBM5
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               44.759653    1           TBM5        NaN        NaN
1       1               43.341214    1           TBM5  44.759653        NaN
2       2               42.671395    1           TBM5  43.341214        NaN
3       3               42.080378    1           TBM5  42.671395        NaN
4       4               41.765169    1           TBM5  42.080378        NaN
..    ...                     ...  ...            ...        ...        ...
595    19               68.617021   30           TBM5  71.040189  71.079590
596    20               63.514578   30           TBM5  68.617021  65.839243
597    21               55.634358   30           TBM5  63.514578  59.278960
598    22               49.566588   30           TBM5  55.634358  52.561072
599    23               46.808511   30           TBM5  49.566588  50.354610

[600 rows x 6 columns]
Getting oct data agg for  TBM5
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TBM5     0               43.735225    1  46.808511  48.226950
1             TBM5     1               42.474389    1  43.735225  46.335697
2             TBM5     2               42.001576    1  42.474389  45.784082
3             TBM5     3               42.631994    1  42.001576  45.232467
4             TBM5     4               42.198582    1  42.631994  44.680851
..             ...   ...                     ...  ...        ...        ...
739           TBM5    19               59.810875   31  67.139480  57.604413
740           TBM5    20               56.619385   31  59.810875  52.718676
741           TBM5    21               50.472813   31  56.619385  48.817967
742           TBM5    22               46.414500   31  50.472813  45.212766
743           TBM5    23               44.680851   31  46.414500  42.947203

[744 rows x 6 columns]
Getting sept data agg for  TBM6

     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               77.250000    1           TBM6        NaN        NaN
1       1               76.833333    1           TBM6  77.250000        NaN
2       2               76.750000    1           TBM6  76.833333        NaN
3       3               76.250000    1           TBM6  76.750000        NaN
4       4               76.000000    1           TBM6  76.250000        NaN
..    ...                     ...  ...            ...        ...        ...
595    19               85.937500   30           TBM6  88.750000  83.250000
596    20               85.666667   30           TBM6  85.937500  83.250000
597    21               85.083333   30           TBM6  85.666667  80.500000
598    22               83.833333   30           TBM6  85.083333  79.166667
599    23               81.875000   30           TBM6  83.833333  78.125000

[600 rows x 6 columns]
Getting oct data agg for  TBM6
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TBM6     0               79.416667    1  81.875000  77.750000
1             TBM6     1               78.500000    1  79.416667  77.166667
2             TBM6     2               78.166667    1  78.500000  76.833333
3             TBM6     3               75.583333    1  78.166667  76.250000
4             TBM6     4               75.500000    1  75.583333  76.250000
..             ...   ...                     ...  ...        ...        ...
739           TBM6    19               78.250000   31  80.333333  78.083333
740           TBM6    20               76.875000   31  78.250000  76.916667
741           TBM6    21               76.250000   31  76.875000  75.625000
742           TBM6    22               74.750000   31  76.250000  75.062500
743           TBM6    23               72.625000   31  74.750000  74.000000

[744 rows x 6 columns]
Getting sept data agg for  TBM7
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               65.784499    1           TBM7        NaN        NaN
1       1               64.776307    1           TBM7  65.784499        NaN
2       2               64.650284    1           TBM7  64.776307        NaN
3       3               64.319471    1           TBM7  64.650284        NaN
4       4               64.020164    1           TBM7  64.319471        NaN
..    ...                     ...  ...            ...        ...        ...
595    19               81.379962   30           TBM7  83.364839  79.773157
596    20               79.017013   30           TBM7  81.379962  78.071834
597    21               75.866415   30           TBM7  79.017013  74.480151
598    22               72.967864   30           TBM7  75.866415  70.762445
599    23               70.793951   30           TBM7  72.967864  67.769376

[600 rows x 6 columns]
Getting oct data agg for  TBM7
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TBM7     0               69.502205    1  70.793951  66.115312
1             TBM7     1               68.178954    1  69.502205  65.280403
2             TBM7     2               66.855703    1  68.178954  64.020164
3             TBM7     3               65.721487    1  66.855703  64.083176
4             TBM7     4               65.784499    1  65.721487  64.146188
..             ...   ...                     ...  ...        ...        ...
739           TBM7    19               75.866415   31  79.521109  76.307498
740           TBM7    20               72.211720   31  75.866415  73.093888
741           TBM7    21               69.754253   31  72.211720  71.455577
742           TBM7    22               67.800882   31  69.754253  69.234405
743           TBM7    23               66.824197   31  67.800882  67.107750

[744 rows x 6 columns]
Getting sept data agg for  TBM8
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               37.708333    1           TBM8        NaN        NaN
1       1               36.354167    1           TBM8  37.708333        NaN
2       2               35.833333    1           TBM8  36.354167        NaN
3       3               36.388889    1           TBM8  35.833333        NaN
4       4               36.197917    1           TBM8  36.388889        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               61.171875   30           TBM8  64.270833  62.968750
716    20               54.930556   30           TBM8  61.171875  56.145833
717    21               48.958333   30           TBM8  54.930556  48.854167
718    22               43.784722   30           TBM8  48.958333  43.958333
719    23               42.239583   30           TBM8  43.784722  40.442708

[720 rows x 6 columns]
Getting oct data agg for  TBM8
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TBM8     0               40.000000    1  42.239583  38.020833
1             TBM8     1               38.645833    1  40.000000  36.840278
2             TBM8     2               37.604167    1  38.645833  36.180556
3             TBM8     3               37.291667    1  37.604167  35.763889
4             TBM8     4               36.875000    1  37.291667  35.659722
..             ...   ...                     ...  ...        ...        ...
739           TBM8    19               54.973958   31  62.152778  49.583333
740           TBM8    20               48.298611   31  54.973958  44.513889
741           TBM8    21               42.638889   31  48.298611  40.208333
742           TBM8    22               39.236111   31  42.638889  37.604167
743           TBM8    23               38.020833   31  39.236111  36.111111

[744 rows x 6 columns]
Getting sept data agg for  TBMT
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               47.333333    1           TBMT        NaN        NaN
1       1               47.333333    1           TBMT  47.333333        NaN
2       2               47.333333    1           TBMT  47.333333        NaN
3       3               35.500000    1           TBMT  47.333333        NaN
4       4               47.333333    1           TBMT  35.500000        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               34.000000   30           TBMT  34.000000  44.000000
716    20               34.000000   30           TBMT  34.000000  44.000000
717    21               33.555556   30           TBMT  34.000000  41.777778
718    22               33.333333   30           TBMT  33.555556  40.666667
719    23               33.333333   30           TBMT  33.333333  40.666667

[720 rows x 6 columns]
Getting oct data agg for  TBMT
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TBMT     0               33.333333    1  33.333333  40.666667
1             TBMT     1               33.333333    1  33.333333  40.666667
2             TBMT     2               33.333333    1  33.333333  40.666667
3             TBMT     3               33.333333    1  33.333333  40.666667
4             TBMT     4               33.333333    1  33.333333  40.666667
..             ...   ...                     ...  ...        ...        ...
739           TBMT    19               28.666667   31  28.666667  39.333333
740           TBMT    20               28.666667   31  28.666667  38.785714
741           TBMT    21               31.555556   31  28.666667  39.333333
742           TBMT    22               37.333333   31  31.555556  39.333333
743           TBMT    23               37.333333   31  37.333333  39.333333

[744 rows x 6 columns]
Getting sept data agg for  TE1
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               63.333333    1            TE1        NaN        NaN
1       1               63.333333    1            TE1  63.333333        NaN
2       2               63.333333    1            TE1  63.333333        NaN
3       3               63.333333    1            TE1  63.333333        NaN
4       4               63.333333    1            TE1  63.333333        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               58.888889   30            TE1  58.888889  35.555556
716    20               58.888889   30            TE1  58.888889  35.555556
717    21               58.888889   30            TE1  58.888889  35.555556
718    22               58.888889   30            TE1  58.888889  35.555556
719    23               58.888889   30            TE1  58.888889  35.555556

[720 rows x 6 columns]
Getting oct data agg for  TE1

    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              TE1     0               58.888889    1  58.888889  26.666667
1              TE1     1               58.888889    1  58.888889  35.555556
2              TE1     2               58.888889    1  58.888889  37.916667
3              TE1     3               58.888889    1  58.888889  35.555556
4              TE1     4               58.888889    1  58.888889  35.555556
..             ...   ...                     ...  ...        ...        ...
739            TE1    19               58.888889   31  58.888889  58.888889
740            TE1    20               58.888889   31  58.888889  58.888889
741            TE1    21               58.888889   31  58.888889  58.888889
742            TE1    22               58.888889   31  58.888889  58.888889
743            TE1    23               58.888889   31  58.888889  58.888889

[744 rows x 6 columns]
Getting sept data agg for  TE13
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0                0.000000    1           TE13        NaN        NaN
1       1                0.000000    1           TE13   0.000000        NaN
2       2                0.000000    1           TE13   0.000000        NaN
3       3                0.000000    1           TE13   0.000000        NaN
4       4                0.000000    1           TE13   0.000000        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               76.048951   30           TE13  78.671329  76.048951
716    20               75.058275   30           TE13  76.048951  71.561772
717    21               79.254079   30           TE13  75.058275  70.396270
718    22               83.682984   30           TE13  79.254079  79.020979
719    23               86.713287   30           TE13  83.682984  86.713287

[720 rows x 6 columns]
Getting oct data agg for  TE13
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TE13     0               86.946387    1  86.713287  86.247086
1             TE13     1               85.547786    1  86.946387  85.547786
2             TE13     2               84.965035    1  85.547786  85.314685
3             TE13     3               83.566434    1  84.965035  84.848485
4             TE13     4               83.216783    1  83.566434  84.615385
..             ...   ...                     ...  ...        ...        ...
739           TE13    19               69.930070   31  75.524476  80.186480
740           TE13    20               72.261072   31  69.930070  84.149184
741           TE13    21               73.426573   31  72.261072  86.013986
742           TE13    22               74.125874   31  73.426573  86.247086
743           TE13    23               73.776224   31  74.125874  85.547786

[744 rows x 6 columns]
Getting sept data agg for  TE14
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               17.028986    1           TE14        NaN        NaN
1       1               16.425121    1           TE14  17.028986        NaN
2       2               15.942029    1           TE14  16.425121        NaN
3       3               14.734300    1           TE14  15.942029        NaN
4       4               15.217391    1           TE14  14.734300        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               42.210145   30           TE14  37.198068  51.086957
716    20               37.681159   30           TE14  42.210145  44.202899
717    21               29.951691   30           TE14  37.681159  41.304348
718    22               23.188406   30           TE14  29.951691  31.884058
719    23               20.289855   30           TE14  23.188406  23.913043

[720 rows x 6 columns]
Getting oct data agg for  TE14
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TE14     0               17.874396    1  20.289855  20.772947
1             TE14     1               15.700483    1  17.874396  19.323671
2             TE14     2               15.217391    1  15.700483  18.357488
3             TE14     3               21.014493    1  15.217391  18.115942
4             TE14     4               23.671498    1  21.014493  18.840580
..             ...   ...                     ...  ...        ...        ...
739           TE14    19               40.398551   31  48.309179  24.154589
740           TE14    20               42.028986   31  40.398551  22.463768
741           TE14    21               37.439614   31  42.028986  14.492754
742           TE14    22               32.608696   31  37.439614  17.391304
743           TE14    23               27.898551   31  32.608696  19.565217

[744 rows x 6 columns]
Getting sept data agg for  TE2
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               55.242567    1            TE2        NaN        NaN
1       1               53.051643    1            TE2  55.242567        NaN
2       2               52.895149    1            TE2  53.051643        NaN
3       3               53.051643    1            TE2  52.895149        NaN
4       4               52.738654    1            TE2  53.051643        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               70.539906   30            TE2  69.796557  67.370892
716    20               66.510172   30            TE2  70.539906  67.136150
717    21               64.475743   30            TE2  66.510172  64.006260
718    22               65.884194   30            TE2  64.475743  59.859155
719    23               65.492958   30            TE2  65.884194  56.338028

[720 rows x 6 columns]
Getting oct data agg for  TE2
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              TE2     0               60.093897    1  65.492958  53.990610
1              TE2     1               57.433490    1  60.093897  52.738654
2              TE2     2               55.242567    1  57.433490  52.738654
3              TE2     3               54.616588    1  55.242567  52.269171
4              TE2     4               54.147105    1  54.616588  51.643192
..             ...   ...                     ...  ...        ...        ...
739            TE2    19               71.361502   31  76.056338  69.170579
740            TE2    20               68.192488   31  71.361502  67.918623
741            TE2    21               67.762128   31  68.192488  66.431925
742            TE2    22               65.414710   31  67.762128  65.101721
743            TE2    23               63.380282   31  65.414710  61.032864

[744 rows x 6 columns]
Getting sept data agg for  TE25
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               39.261745    1           TE25        NaN        NaN
1       1               37.248322    1           TE25  39.261745        NaN
2       2               36.912752    1           TE25  37.248322        NaN
3       3               36.577181    1           TE25  36.912752        NaN
4       4               37.080537    1           TE25  36.577181        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               43.064877   30           TE25  48.434004  36.409396
716    20               38.506711   30           TE25  43.064877  33.137584
717    21               42.058166   30           TE25  38.506711  41.387025
718    22               46.420582   30           TE25  42.058166  41.946309
719    23               44.127517   30           TE25  46.420582  40.771812

[720 rows x 6 columns]
Getting oct data agg for  TE25
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             TE25     0               41.946309    1  44.127517  37.695749
1             TE25     1               40.827740    1  41.946309  36.465324
2             TE25     2               40.604027    1  40.827740  34.675615
3             TE25     3               40.604027    1  40.604027  34.675615
4             TE25     4               40.436242    1  40.604027  34.116331
..             ...   ...                     ...  ...        ...        ...
739           TE25    19               44.295302   31  47.902685  13.199105
740           TE25    20               43.400447   31  44.295302  12.639821
741           TE25    21               41.498881   31  43.400447  20.302013
742           TE25    22               38.926174   31  41.498881  29.530201
743           TE25    23               36.912752   31  38.926174  34.815436

[744 rows x 6 columns]
Getting sept data agg for  TE3

     hour  percent_lots_available  day carpark_number  lag_1  lag_168
0       0                     0.0    1            TE3    NaN      NaN
1       1                     0.0    1            TE3    0.0      NaN
2       2                     0.0    1            TE3    0.0      NaN
3       3                     0.0    1            TE3    0.0      NaN
4       4                     0.0    1            TE3    0.0      NaN
..    ...                     ...  ...            ...    ...      ...
715    19                     0.0   30            TE3    0.0      0.0
716    20                     0.0   30            TE3    0.0      0.0
717    21                     0.0   30            TE3    0.0      0.0
718    22                     0.0   30            TE3    0.0      0.0
719    23                     0.0   30            TE3    0.0      0.0

[720 rows x 6 columns]
Getting oct data agg for  TE3
    carpark_number  hour  percent_lots_available  day  lag_1  lag_168
0              TE3     0                     0.0    1    0.0      0.0
1              TE3     1                     0.0    1    0.0      0.0
2              TE3     2                     0.0    1    0.0      0.0
3              TE3     3                     0.0    1    0.0      0.0
4              TE3     4                     0.0    1    0.0      0.0
..             ...   ...                     ...  ...    ...      ...
739            TE3    19                     0.0   31    0.0      0.0
740            TE3    20                     0.0   31    0.0      0.0
741            TE3    21                     0.0   31    0.0      0.0
742            TE3    22                     0.0   31    0.0      0.0
743            TE3    23                     0.0   31    0.0      0.0

[744 rows x 6 columns]
Getting sept data agg for  TE4
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0                5.555556    1            TE4        NaN        NaN
1       1                1.111111    1            TE4   5.555556        NaN
2       2                0.000000    1            TE4   1.111111        NaN
3       3                0.000000    1            TE4   0.000000        NaN
4       4                0.000000    1            TE4   0.000000        NaN
..    ...                     ...  ...            ...        ...        ...
715    19                5.000000   30            TE4   0.000000   3.333333
716    20               10.000000   30            TE4   5.000000   5.833333
717    21                2.222222   30            TE4  10.000000  10.000000
718    22                1.111111   30            TE4   2.222222  10.000000
719    23                1.666667   30            TE4   1.111111   5.000000

[720 rows x 6 columns]
Getting oct data agg for  TE4
    carpark_number  hour  percent_lots_available  day     lag_1    lag_168
0              TE4     0                0.000000    1  1.666667   7.777778
1              TE4     1                0.000000    1  0.000000   3.333333
2              TE4     2                0.000000    1  0.000000   3.333333
3              TE4     3                2.222222    1  0.000000  12.222222
4              TE4     4                1.111111    1  2.222222  10.000000
..             ...   ...                     ...  ...       ...        ...
739            TE4    19                0.000000   31  0.000000   8.888889
740            TE4    20                0.000000   31  0.000000   4.444444
741            TE4    21                3.333333   31  0.000000   6.666667
742            TE4    22                0.000000   31  3.333333  22.222222
743            TE4    23               13.333333   31  0.000000  29.166667

[744 rows x 6 columns]
Getting sept data agg for  TPL
     hour  percent_lots_available  day carpark_number      lag_1  lag_168
0       0               16.666667    1            TPL        NaN      NaN
1       1               25.925926    1            TPL  16.666667      NaN
2       2               20.370370    1            TPL  25.925926      NaN
3       3               18.518519    1            TPL  20.370370      NaN
4       4                7.407407    1            TPL  18.518519      NaN
..    ...                     ...  ...            ...        ...      ...
715    19                0.000000   30            TPL   0.000000      0.0
716    20                0.000000   30            TPL   0.000000      0.0
717    21                0.000000   30            TPL   0.000000      0.0
718    22                0.000000   30            TPL   0.000000      0.0
719    23                0.000000   30            TPL   0.000000      0.0

[720 rows x 6 columns]
Getting oct data agg for  TPL
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              TPL     0                0.000000    1   0.000000   0.000000
1              TPL     1                0.000000    1   0.000000   0.000000
2              TPL     2                0.000000    1   0.000000   0.000000
3              TPL     3                0.000000    1   0.000000   0.000000
4              TPL     4                0.000000    1   0.000000   0.000000
..             ...   ...                     ...  ...        ...        ...
739            TPL    19                2.777778   31   3.703704   9.259259
740            TPL    20                1.851852   31   2.777778   9.259259
741            TPL    21               18.518519   31   1.851852  19.444444
742            TPL    22               12.962963   31  18.518519  50.000000
743            TPL    23               33.333333   31  12.962963  51.851852

[744 rows x 6 columns]
Getting sept data agg for  TPM
     hour  percent_lots_available  day carpark_number      lag_1    lag_168
0       0               52.690972    1            TPM        NaN        NaN
1       1               52.170139    1            TPM  52.690972        NaN
2       2               51.475694    1            TPM  52.170139        NaN
3       3               63.715278    1            TPM  51.475694        NaN
4       4               63.194444    1            TPM  63.715278        NaN
..    ...                     ...  ...            ...        ...        ...
715    19               22.395833   30            TPM  33.463542  26.302083
716    20               20.225694   30            TPM  22.395833  20.746528
717    21               30.208333   30            TPM  20.225694  33.854167
718    22               40.190972   30            TPM  30.208333  47.005208
719    23               49.348958   30            TPM  40.190972  52.929687

[720 rows x 6 columns]
Getting oct data agg for  TPM
    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0              TPM     0               57.118056    1  49.348958  57.161458
1              TPM     1               57.118056    1  57.118056  58.723958
2              TPM     2               57.638889    1  57.118056  58.940972
3              TPM     3               64.149306    1  57.638889  61.284722
4              TPM     4               63.020833    1  64.149306  61.458333
..             ...   ...                     ...  ...        ...        ...
739            TPM    19               42.057292   31  38.975694  37.760417
740            TPM    20               45.572917   31  42.057292  46.180556
741            TPM    21               60.763889   31  45.572917  53.645833
742            TPM    22               64.930556   31  60.763889  61.848958
743            TPM    23               66.145833   31  64.930556  61.284722

[744 rows x 6 columns]
Getting sept data agg for  YHS
     hour  percent_lots_available  day carpark_number     lag_1  lag_168
0       0                 34.3750    1            YHS       NaN      NaN
1       1                 34.3750    1            YHS  34.37500      NaN
2       2                 34.3750    1            YHS  34.37500      NaN
3       3                 34.3750    1            YHS  34.37500      NaN
4       4                 34.3750    1            YHS  34.37500      NaN
..    ...                     ...  ...            ...       ...      ...
715    19                 32.8125   30            YHS  44.15483   46.875
716    20                 32.8125   30            YHS  32.81250   46.875
717    21                 32.8125   30            YHS  32.81250   46.875
718    22                 32.8125   30            YHS  32.81250   46.875
719    23                 32.8125   30            YHS  32.81250   46.875

[720 rows x 6 columns]
Getting oct data agg for  YHS

    carpark_number  hour  percent_lots_available  day    lag_1  lag_168
0              YHS     0               32.812500    1  32.8125  46.8750
1              YHS     1               32.812500    1  32.8125  46.8750
2              YHS     2               32.812500    1  32.8125  46.8750
3              YHS     3               32.812500    1  32.8125  46.8750
4              YHS     4               32.812500    1  32.8125  46.8750
..             ...   ...                     ...  ...      ...      ...
739            YHS    19               32.812500   31  32.8125  32.8125
740            YHS    20               32.812500   31  32.8125  32.8125
741            YHS    21               32.812500   31  32.8125  32.8125
742            YHS    22               32.812500   31  32.8125  32.8125
743            YHS    23               47.935606   31  32.8125  32.8125

[744 rows x 6 columns]

    carpark_number  hour  percent_lots_available  day      lag_1    lag_168
0             AR5M     0               54.892601    1  54.892601  54.653938
1             AR5M     1               54.892601    1  54.892601  54.653938
2             AR5M     2               54.892601    1  54.892601  54.653938
3             AR5M     3               56.085919    1  54.892601  54.653938
4             AR5M     4               56.085919    1  56.085919  54.653938
..             ...   ...                     ...  ...        ...        ...
739            YHS    19               32.812500   31  32.812500  32.812500
740            YHS    20               32.812500   31  32.812500  32.812500
741            YHS    21               32.812500   31  32.812500  32.812500
742            YHS    22               32.812500   31  32.812500  32.812500
743            YHS    23               47.935606   31  32.812500  32.812500

[129792 rows x 6 columns]

In [13]:
all_data.to_csv("oct_data_with_lags.csv", index = False)